USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_UserSetup_Sel]    Script Date: 26/02/2026 23:41:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sp_UserSetup_Sel]
(
	@UserLogin varchar(50)
)
AS

BEGIN	
	SET NOCOUNT ON

	DECLARE @Plant nvarchar(2)
	SELECT @Plant = PlantId FROM M_UserSetup WHERE UserID = @UserLogin

	--IF(@usergroup = '001')
	--BEGIN
		SELECT	A.UserID, A.UserName, A.Email, A.LoginType, A.UserGroupID, E.UserGroupName, D.PlantId, F.PlantName, C.DeptId, C.DeptName, A.SectionID, B.SectionName,
			A.BuildingId, D.BuildingName, A.RequireMfa, A.UserUpdate, A.DateUpdate, A.SupplierCode, G.SupplierCode + ' - ' + G.SupplierName as Supplier
		FROM	M_UserSetup A
			INNER JOIN	M_UserGroup E ON E.UserGroupId = A.UserGroupID
			LEFT JOIN	M_Section B ON B.SectionID = A.SectionId
			LEFT JOIN	M_Departement C ON C.DeptId = B.DeptID
			LEFT JOIN	M_Building D ON D.BuildingId = A.BuildingId		
			LEFT JOIN	M_Plant F ON F.PlantId = D.PlantId
			LEFT JOIN	M_Supplier G ON A.SupplierCode = G.SupplierCode
		WHERE	a.ActiveStatus = 1 and (f.PlantId = @Plant or ISNULL(@Plant,'') = '')
	--END
	--ELSE
	--BEGIN
	--	SELECT	A.UserID, A.UserName, A.LoginType, A.UserGroupID, E.UserGroupName, D.PlantId, F.PlantName, C.DeptId, C.DeptName, A.SectionID, B.SectionName,
	--		A.BuildingId, D.BuildingName, A.UserUpdate, A.DateUpdate
	--	FROM	M_UserSetup A
	--		INNER JOIN	M_UserGroup E ON E.UserGroupId = A.UserGroupID
	--		LEFT JOIN	M_Section B ON B.SectionID = A.SectionId
	--		LEFT JOIN	M_Departement C ON C.DeptId = B.DeptID
	--		LEFT JOIN	M_Building D ON D.BuildingId = A.BuildingId		
	--		LEFT JOIN	M_Plant F ON F.PlantId = D.PlantId
	--	WHERE	A.UserID = @UserLogin
	--END
END
