USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_UserAccess_Sel]    Script Date: 27/02/2026 02:08:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_UserAccess_Sel]
(
	@UserId varchar(50)
)
AS

BEGIN
	SET NOCOUNT ON

	SELECT	D.MenuID, D.MenuName, MenuDescription, C.AllowAccess, C.AllowDelete, C.AllowSubmit, C.AllowUpdate
	FROM	M_UserSetup a
		INNER JOIN	M_UserGroup b ON b.UserGroupId = a.UserGroupID
		INNER JOIN	M_UserPreviledge c on c.UserGroupID = b.UserGroupId
		INNER JOIN	M_Menu d on d.MenuID = c.MenuId
	WHERE	a.UserID = @UserId
END
