USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Submit_Secret_MFA]    Script Date: 27/02/2026 20:59:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description:	sp_Submit_Secret_MFA
-- =============================================
CREATE PROCEDURE [dbo].[sp_Submit_Secret_MFA] 
	@Secret		NVARCHAR(64),
	@userLogin	NVARCHAR(50) = NULL
AS
BEGIN
	SET NOCOUNT ON;

	UPDATE	M_UserAuth
    SET		Secret				= @Secret, 
			Auth_Attempt		= 0, 
			Auth_Attempt_Flag	= 0, 
			OTP_Attempt			= 0, 
			OTP_Attempt_Flag	= 0 
    WHERE UserID = @userLogin
END
