USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_UserLogin_Sel]    Script Date: 27/02/2026 20:27:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_UserLogin_Sel]
(
	@UserId varchar(50)
)
AS

BEGIN
	SET NOCOUNT ON

	SELECT	UserID, UserName, Passwords, A.Email, A.UserGroupID, B.UserGroupName, PlantId, ISNULL(DeptId,'001') as DeptId, ISNULL(BuildingId,'001') as BuildingId, ISNULL(SectionId,'001') as SectionId,
		CASE RequireMFA 
            WHEN 1 THEN 'true' 
            ELSE 'false' 
        END AS MFAStatus
	FROM	M_UserSetup A
			JOIN M_UserGroup B on A.UserGroupID = B.UserGroupId
	WHERE	UserID = @UserId
			and ActiveStatus = 1
END