USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_Auth_Otp]    Script Date: 27/02/2026 09:00:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Inq_Auth_Otp]

@U_PIC_ID nvarchar(50),
@OTP nvarchar(10)
AS
BEGIN
	SET NOCOUNT ON;
		/*
		OTP need add chaptcha for security, not recommended use delay coz UX bruh
		chaptcha more cool
		*/

		/*
			OTP_Attempt_Flag explained: 
			1 = 5 minutes delay
			2 = 10 minutes delay
			3 = 30 minutes delay
			4 = 1 hour delay
		*/
		DECLARE @OTP_Attempt int = (SELECT OTP_Attempt FROM M_UserAuth WHERE UserID = @U_PIC_ID)
		DECLARE @OTP_Attempt_Date datetime = (SELECT OTP_Attempt_Time FROM M_UserAuth WHERE UserID = @U_PIC_ID)
		DECLARE @OTP_Attempt_Flag int = (SELECT OTP_attempt_Flag FROM M_UserAuth WHERE UserID = @U_PIC_ID)

		DECLARE @Delay_In_Minutes int
		DECLARE @Elapsed_Minutes int
		DECLARE @Remaining_Minutes int

		SET @Delay_In_Minutes = CASE 
		    WHEN @OTP_Attempt_Flag = 1 THEN 5
		    WHEN @OTP_Attempt_Flag = 2 THEN 10
		    WHEN @OTP_Attempt_Flag = 3 THEN 30
		    WHEN @OTP_Attempt_Flag = 4 THEN 60
		    ELSE 0 -- Default to no delay if the flag is invalid
		END

		IF @OTP_Attempt IS NULL 
		BEGIN
			SET @OTP_Attempt = 0
		END

		SET @Elapsed_Minutes = DATEDIFF(MINUTE, @OTP_Attempt_Date, GETDATE())
		SET @Remaining_Minutes = @Delay_In_Minutes - DATEDIFF(MINUTE, @OTP_Attempt_Date, GETDATE());

		IF (@Elapsed_Minutes < @Delay_In_Minutes)
		BEGIN
			SELECT 'Please wait ' + CAST(@Remaining_Minutes as nvarchar) + ' minutes before attempting to try OTP again.'  AS Remarks, 1  AS Validation_Flag
		END
		ELSE
		BEGIN
			IF (@OTP_Attempt < 5)
			BEGIN
				IF((SELECT OTP FROM M_UserAuth WHERE UserID = @U_PIC_ID) = @OTP)
				BEGIN
					UPDATE M_UserAuth SET OTP_Attempt = 0, OTP_Attempt_Time = NULL, OTP_Attempt_Flag = 0 WHERE UserID = @U_PIC_ID
					SELECT 1 As Remarks
				END
				ELSE
				BEGIN
					UPDATE M_UserAuth SET OTP_Attempt = @OTP_Attempt + 1, OTP_Attempt_Time = GETDATE() WHERE UserID = @U_PIC_ID
					SELECT 'Validation error - OTP not match' as Remarks
				END
			END
			ELSE
				BEGIN
					UPDATE M_UserAuth SET OTP_Attempt_Flag = @OTP_Attempt_Flag + 1 WHERE UserID = @U_PIC_ID
					SELECT 'Validation error - OTP not match' as Remarks
				END
		END	
END
