USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_UserSetup_Ins]    Script Date: 27/02/2026 20:22:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sp_UserSetup_Ins]
(
	@IUType char(1),
	@UserId varchar(50),
	@UserName varchar(50),
	@Password varchar(512),
	@Email varchar(100),
	@UserGroupId char(3),
	@PlantID varchar(5),
	@DeptId char(3) NULL,
	@SectionId char(3) NULL,
	@BuildingId char(3) = NULL,
	@SupplierCode nvarchar(10),
	@RequireMfa bit,
	@UserLogin varchar(50),
	@Remarks varchar(100) output
)

AS
BEGIN
	SET NOCOUNT ON
	DECLARE @Err varchar(100)

	BEGIN TRY
		IF @IUType = 'I'
		BEGIN
			IF EXISTS (SELECT UserID FROM M_UserSetup WHERE UserID = @UserId)
			BEGIN
				SET @Err = 'User Already Exists'
				RAISERROR(@Err, 16, 1)
			END

			INSERT INTO M_UserSetup
			(
				UserID, UserName, Passwords, Email, UserGroupID, PlantId, DeptId, BuildingId, SectionId, ActiveStatus, RequireMfa, UserUpdate, DateUpdate, SupplierCode
			)
			VALUES
			(
				@UserId, @UserName, @Password, @Email, @UserGroupId, @PlantID, @DeptId, @BuildingId, @SectionId,1, @RequireMfa, @UserLogin, GETDATE(), @SupplierCode
			)
		END
		ELSE IF @IUType = 'U'
		BEGIN
			IF ISNULL(@Password,'') =''
			BEGIN
				UPDATE	M_UserSetup 
				SET		UserName = @UserName, UserGroupID = @UserGroupId, Email = @Email,
					PlantId = @PlantID, DeptId = @DeptId, BuildingId = @BuildingId, SectionId = @SectionId, 
					UserUpdate = @UserLogin, DateUpdate = GETDATE(), SupplierCode = @SupplierCode,
					RequireMfa = @RequireMfa
				WHERE	UserID = @UserId
			END
			ELSE
			BEGIN
				UPDATE	M_UserSetup 
				SET		UserName = @UserName, Passwords = @Password, UserGroupID = @UserGroupId, Email = @Email,
					PlantId = @PlantID, DeptId = @DeptId, BuildingId = @BuildingId, SectionId = @SectionId, 
					UserUpdate = @UserLogin, DateUpdate = GETDATE(), RequireMfa = @RequireMfa
				WHERE	UserID = @UserId
			END
		END

		SET @Remarks = ''
	END TRY

	BEGIN CATCH
		SELECT @Remarks = ERROR_MESSAGE()
	END CATCH
END