USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_T_Daily_Order_TMMIN]    Script Date: 5/27/2026 1:16:51 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Upload_T_Daily_Order_TMMIN]
-- =============================================
CREATE PROCEDURE [dbo].[sp_Upload_T_Daily_Order_TMMIN]
    @UploadDate DATE,
    @PIC_ID VARCHAR(50),
    @OrderData dbo.DailyOrderTMMIN_Type READONLY,
    @Remarks VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM T_Daily_Order_TMMIN WHERE UploadDate = @UploadDate)
        BEGIN
            SET @Remarks = 'Data for ' + CONVERT(VARCHAR, @UploadDate, 23) + ' has already been uploaded. Please update or delete the data in the grid first.';
			RETURN;
        END

        INSERT INTO T_Daily_Order_TMMIN (
            UploadDate, OrderNo, PartNo, PcsPerKbn, TotalPcs, Kanban, OrderDate, Cycle, RawDataJSON, CreatedBy, CreatedDate
        )
        SELECT 
            @UploadDate, OrderNo, PartNo, PcsPerKbn, TotalPcs, Kanban, OrderDate, Cycle, RawDataJSON, @PIC_ID, GETDATE()
        FROM @OrderData;

        SET @Remarks = '';
    END TRY
    BEGIN CATCH
        SET @Remarks = ERROR_MESSAGE();
    END CATCH
END