USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Calc_Reset_Capacity]    Script Date: 5/26/2026 4:25:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description:	[sp_Calc_Reset_Capacity]
-- =============================================
ALTER    PROCEDURE [dbo].[sp_Calc_Reset_Capacity]
    @Periode_ID VARCHAR(6),
    @User_Login VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @BasePeriode VARCHAR(7) = LEFT(@Periode_ID, 4) + '-' + SUBSTRING(@Periode_ID, 5, 2);

		IF EXISTS (SELECT 1 FROM T_Calc_Capacity WHERE Periode = @BasePeriode)
        BEGIN
            DELETE FROM T_Calc_Capacity WHERE Periode = @BasePeriode;

            INSERT INTO T_Status_Capacity VALUES('Reset Process Capacity', 'Success', '', @Periode_ID, GETDATE(), @User_Login);

            SELECT 'success' AS Result;
        END
        ELSE
        BEGIN
            SELECT 'Data tidak ditemukan untuk direset pada periode ini' AS Result;
        END
    END TRY
    BEGIN CATCH
		INSERT INTO T_Status_Capacity VALUES ('Reset Process Capacity', 'Error', ERROR_MESSAGE(), @Periode_ID, GETDATE(), @User_Login);
        
		SELECT ERROR_MESSAGE() AS Result;
    END CATCH
END