USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_Daily_Order_TMMIN]    Script Date: 5/27/2026 11:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Inq_T_Daily_Order_TMMIN]
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_Inq_T_Daily_Order_TMMIN]
    @Periode VARCHAR(7)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        OrderID, 
        UploadDate,
        RawDataJSON 
    FROM T_Daily_Order_TMMIN 
    WHERE FORMAT(UploadDate, 'yyyy-MM') = @Periode
    ORDER BY UploadDate DESC, OrderID DESC;
END