USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_T_Daily_Order_TMMIN]    Script Date: 5/27/2026 9:55:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Delete_T_Daily_Order_TMMIN]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Delete_T_Daily_Order_TMMIN]
    @UploadDate DATE,
    @Remarks VARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM T_Daily_Order_TMMIN WHERE UploadDate = @UploadDate)
        BEGIN
            SET @Remarks = 'Delete Failed: Data not found on ' + CAST(@UploadDate AS VARCHAR(10));
            RETURN;
        END

        DELETE FROM T_Daily_Order_TMMIN WHERE UploadDate = @UploadDate;
        
        SET @Remarks = '';
    END TRY
    BEGIN CATCH
        SET @Remarks = 'System Error';
    END CATCH
END