USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_T_Daily_Order_DDMI]    Script Date: 6/24/2026 10:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Upload_T_Daily_Order_DDMI]
-- =============================================
ALTER PROCEDURE [dbo].[sp_Upload_T_Daily_Order_DDMI]
    @UploadDate DATE,
    @PIC_ID NVARCHAR(100),
    @OrderData dbo.T_Daily_Order_DDMI_Type READONLY,
    @Remarks NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @UploadBatchKey NVARCHAR(50) = 'BATCH-' + CONVERT(VARCHAR(8), GETDATE(), 112) + '-' + REPLACE(CONVERT(VARCHAR(8), GETDATE(), 108), ':', '') + '-' + LEFT(CAST(NEWID() AS VARCHAR(36)), 4);


        SELECT 
            TRIM(DnNo) AS DnNo,
            TRIM(PartNo) AS PartNo,
            SupplierCode, SupplierName, Location, OrderDate, OrderTime, 
            DeliveryDate, DeliveryTime, Distribution, DockCode, CycleIssue, CycleNumber, 
            Rev, Page, Remark, SupplierApprovedBy, SupplierPreparedBy, 
            TransporterDeliveryBy, TransporterReceiverBy, DdmiReceiverBy, DdmiOrderBy,
            ItemNo, BackNo, PartName, QtyPerBox, TotalKanban, TotalQty, ActualKanban, LackKanban
        INTO #TempOrderData 
        FROM @OrderData;

        -- TABEL HEADERS HISTORY
        INSERT INTO T_Daily_Order_DDMI_History_Headers (
            UploadBatchKey,
			UploadDate, 
			UploadBy, 
			DnNo, 
			SupplierCode, 
			SupplierName, 
			OrderDate, 
			DeliveryDate, 
			CycleIssue, 
			CycleNumber, 
			Page
        )
        SELECT DISTINCT 
            @UploadBatchKey,
			GETDATE(),
			@PIC_ID, 
			DnNo, 
			SupplierCode, 
			SupplierName, 
			OrderDate, 
			DeliveryDate, 
			CycleIssue, 
			CycleNumber, 
			Page
        FROM #TempOrderData;

        -- TABEL DETAIL HISTORY
        INSERT INTO T_Daily_Order_DDMI_History_Details (
            HistoryHeaderId, 
			ItemNo, 
			BackNo, 
			PartNo, 
			PartName, 
			QtyPerBox, 
			TotalKanban, 
			TotalQty,
			ActualKanban, 
			LackKanban
        )
        SELECT 
            hh.Id,
			od.ItemNo,
			od.BackNo, 
			od.PartNo, 
			od.PartName, 
			od.QtyPerBox, 
			od.TotalKanban, 
			od.TotalQty, 
			od.ActualKanban, 
			od.LackKanban
        FROM #TempOrderData od
        INNER JOIN T_Daily_Order_DDMI_History_Headers hh ON hh.UploadBatchKey = @UploadBatchKey 
			AND hh.DnNo = od.DnNo;


        -- TABEL HEADER UTAMA
        ;WITH UniqueHeaders AS (
            SELECT *, 
				ROW_NUMBER() OVER (PARTITION BY DnNo ORDER BY (SELECT NULL)) as HdrNum 
            FROM #TempOrderData
        )
        INSERT INTO T_Daily_Order_DDMI_Headers (
            DnNo, SupplierCode, SupplierName, Location, OrderDate, OrderTime, 
            DeliveryDate, DeliveryTime, Distribution, DockCode, CycleIssue, CycleNumber, 
            Rev, Page, Remark, SupplierApprovedBy, SupplierPreparedBy, 
            TransporterDeliveryBy, TransporterReceiverBy, DdmiReceiverBy, DdmiOrderBy, UploadBy
        )
        SELECT 
            DnNo, SupplierCode, SupplierName, Location, OrderDate, OrderTime, 
            DeliveryDate, DeliveryTime, Distribution, DockCode, CycleIssue, CycleNumber, 
            Rev, Page, Remark, SupplierApprovedBy, SupplierPreparedBy, 
            TransporterDeliveryBy, TransporterReceiverBy, DdmiReceiverBy, DdmiOrderBy, @PIC_ID
        FROM UniqueHeaders
        WHERE HdrNum = 1
          AND NOT EXISTS (
              SELECT 1 FROM T_Daily_Order_DDMI_Headers h WHERE LTRIM(RTRIM(h.DnNo)) = UniqueHeaders.DnNo
          );


        -- TABEL DETAIL UTAMA 
		;WITH AggregatedUpload AS (
            SELECT 
                h.Id AS HeaderId,
                MIN(od.ItemNo) AS ItemNo,
                MIN(od.BackNo) AS BackNo,
                od.PartNo,
                MAX(od.PartName) AS PartName,
                SUM(ISNULL(od.QtyPerBox, 0)) AS QtyPerBox,
                SUM(ISNULL(od.TotalKanban, 0)) AS TotalKanban,
                SUM(ISNULL(od.TotalQty, 0)) AS TotalQty,
                SUM(ISNULL(od.ActualKanban, 0)) AS ActualKanban,
                SUM(ISNULL(od.LackKanban, 0)) AS LackKanban
            FROM #TempOrderData od
            INNER JOIN T_Daily_Order_DDMI_Headers h ON LTRIM(RTRIM(h.DnNo)) = od.DnNo
            GROUP BY h.Id, od.PartNo
        )
        MERGE T_Daily_Order_DDMI_Details AS target
        USING AggregatedUpload AS source
        ON (target.HeaderId = source.HeaderId AND LTRIM(RTRIM(target.PartNo)) = source.PartNo)
        WHEN MATCHED THEN
            UPDATE SET 
                target.QtyPerBox = target.QtyPerBox + source.QtyPerBox,
                target.TotalKanban = target.TotalKanban + source.TotalKanban,
                target.TotalQty = target.TotalQty + source.TotalQty,
                target.ActualKanban = target.ActualKanban + source.ActualKanban,
                target.LackKanban = target.LackKanban + source.LackKanban,
                target.PartName = source.PartName,
                target.BackNo = source.BackNo
        WHEN NOT MATCHED THEN
            INSERT (HeaderId, ItemNo, BackNo, PartNo, PartName, 
					QtyPerBox, TotalKanban, TotalQty, ActualKanban, LackKanban)
            VALUES (source.HeaderId, source.ItemNo, source.BackNo, source.PartNo, source.PartName, 
					source.QtyPerBox, source.TotalKanban, source.TotalQty, source.ActualKanban, source.LackKanban);

        DROP TABLE #TempOrderData;
        SET @Remarks = '';
    END TRY
    BEGIN CATCH
        SET @Remarks = ERROR_MESSAGE();
    END CATCH
END
GO