USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_Monthly_Plan_Results]    Script Date: 6/25/2026 10:07:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		MIT
-- Description: [sp_Inq_Monthly_Plan_Results]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Inq_Monthly_Plan_Results]
    @Periode NVARCHAR(6),
    @RevisionNo INT = -1
AS
BEGIN
    SET NOCOUNT ON;
    
	DECLARE @DBPeriode NVARCHAR(7) = LEFT(@Periode, 4) + '-' + RIGHT(@Periode, 2);

    SELECT 
        U.CalcUniqueID,
        U.Periode,
		U.RevisionNo,
        U.TargetDate,
        U.LineCode,
        U.UniqueCode,
        U.MinStock,
        U.MaxStock,
        U.BeginStock,
        U.OrderQty,
        U.SystemPlanQty,
        U.FinalPlanQty,
        U.EndStock,
        U.IsManual,

		ISNULL(S.TotalOrderQty, 0) AS TotalOrderQty,
        ISNULL(S.IsHighestOrder, 0) AS IsHighestOrder,
        
        L.CycleTime,
        L.SpecialCycleTime,
        L.OEE,
        L.MandatoryDay, 
		L.MandatoryNight,
        L.PdtOtherDay, 
		L.PdtOtherNight,
        L.AmPmDay,
		L.AmPmNight,
		L.TotalPdt,
        L.OvertimeDay, 
		L.OvertimeNight, 
		L.OvertimeTotal,
        L.RecoveryDay, 
		L.RecoveryNight, 
		L.RecoveryTotal,
        L.NormalWorkingDay, 
		L.NormalWorkingNight, 
		L.NormalWorkingTotal,
        L.OperatingTime,
        L.OutputProduksiDay, 
		L.OutputProduksiNight, 
		L.OutputProduksiTotal

    FROM T_Calc_Monthly_Plan_Unique U
    INNER JOIN T_Calc_Monthly_Plan_Line L 
        ON U.Periode = L.Periode 
		AND U.RevisionNo = L.RevisionNo
        AND U.TargetDate = L.TargetDate
        AND U.LineCode = L.LineCode
	LEFT JOIN T_Calc_Monthly_Plan_Summary S
        ON U.Periode = S.Periode
		AND U.RevisionNo = S.RevisionNo
        AND U.LineCode = S.LineCode
        AND U.UniqueCode = S.UniqueCode
    WHERE U.Periode = @DBPeriode
		AND U.RevisionNo = @RevisionNo
    ORDER BY L.LineCode ASC, U.TargetDate ASC, U.UniqueCode ASC;

END