USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Customer_Order_Delete]    Script Date: 6/25/2026 10:01:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      MIT
-- Description: [sp_M_Customer_Order_Delete]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_M_Customer_Order_Delete]
(
    @Periode NVARCHAR(7),
    @Remarks NVARCHAR(MAX) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
    SET @Remarks = '';

    BEGIN TRY
        BEGIN TRANSACTION

		DECLARE @MaxRevision INT;
        SELECT @MaxRevision = ISNULL(MAX(RevisionNo), -1) 
        FROM M_Customer_Order 
        WHERE Periode = @Periode;

		IF @MaxRevision = -1
        BEGIN
            SET @Remarks = 'No data found for period ' + @Periode + ' to delete.';
            ROLLBACK TRANSACTION;
            RETURN;
        END

		IF EXISTS (
            SELECT 1 
            FROM T_Calc_Monthly_Plan_Unique 
            WHERE Periode = @Periode AND RevisionNo = @MaxRevision
        )
        BEGIN
            SET @Remarks = 'Cannot delete customer order for period ' + @Periode + 
				' (Revision ' + CAST(@MaxRevision AS VARCHAR) + ')' +
				' because monthly plan calculations have already been processed for this version.' +
				' Please reset the calculation first.';

            ROLLBACK TRANSACTION;
            RETURN;
        END

        DELETE FROM M_Customer_Order 
        WHERE Periode = @Periode AND RevisionNo = @MaxRevision;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SET @Remarks = 'Database Error: ' + ERROR_MESSAGE(); 
    END CATCH
END
