USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_M_Recovery_Sct]    Script Date: 6/16/2026 1:18:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		MIT
-- Description: [sp_Inq_M_Recovery_Sct]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Inq_M_Recovery_Sct]
    @Periode VARCHAR(7)
AS
BEGIN
    SET NOCOUNT ON;
    
	SELECT 
        COALESCE(s.TargetDate, rd.TargetDate, rn.TargetDate) AS TargetDate,
        COALESCE(s.LineOrderCode, rd.LineOrderCode, rn.LineOrderCode) AS LineCode,
        s.SpecialCycleTime,
        ISNULL(rd.RecoveryTime, 0) AS RecoveryDay,
        ISNULL(rn.RecoveryTime, 0) AS RecoveryNight,
        COALESCE(s.Remarks, rd.Remarks, rn.Remarks) AS Remarks
    FROM 
        (SELECT DISTINCT TargetDate, LineOrderCode FROM M_Special_CT WHERE FORMAT(TargetDate, 'yyyy-MM') = @Periode
         UNION 
         SELECT DISTINCT TargetDate, LineOrderCode FROM M_Recovery_Plan WHERE FORMAT(TargetDate, 'yyyy-MM') = @Periode) keys
    LEFT JOIN M_Special_CT s 
        ON keys.TargetDate = s.TargetDate AND keys.LineOrderCode = s.LineOrderCode
    LEFT JOIN M_Recovery_Plan rd 
        ON keys.TargetDate = rd.TargetDate AND keys.LineOrderCode = rd.LineOrderCode AND rd.Shift = 'Day'
    LEFT JOIN M_Recovery_Plan rn 
        ON keys.TargetDate = rn.TargetDate AND keys.LineOrderCode = rn.LineOrderCode AND rn.Shift = 'Night'
    ORDER BY 
        TargetDate, 
        LineCode;

END