USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Customer_Order_Upload]    Script Date: 6/25/2026 10:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_M_Customer_Order_Upload]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_M_Customer_Order_Upload]
(
	@OrderData dbo.CustomerOrderType READONLY,
	@IsTestingMode BIT,
    @Remarks NVARCHAR(MAX) OUTPUT
)

AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
		BEGIN TRANSACTION

        DECLARE @CurrentPeriode NVARCHAR(7) = FORMAT(GETDATE(), 'yyyy-MM');
        DECLARE @RawP NVARCHAR(15);
        DECLARE @CleanP NVARCHAR(7);
        DECLARE @IsRevision BIT;
        DECLARE @NextRev INT;
        SET @Remarks = '';

        DECLARE @TempPeriode TABLE (
            Id INT IDENTITY(1,1), 
            RawPeriode NVARCHAR(15)
        );

		INSERT INTO @TempPeriode (RawPeriode)
        SELECT DISTINCT Periode FROM @OrderData;

        DECLARE @CurrentId INT = 1;
        DECLARE @MaxId INT;
        SELECT @MaxId = COUNT(1) FROM @TempPeriode;

		WHILE @CurrentId <= @MaxId
        BEGIN
            SELECT @RawP = RawPeriode FROM @TempPeriode WHERE Id = @CurrentId;

			SET @IsRevision = 0;
            IF @RawP LIKE '%-REV%'
                SET @IsRevision = 1;

			SET @CleanP = LEFT(@RawP, 7);

			IF @CleanP < @CurrentPeriode
            BEGIN
                IF @IsTestingMode = 0
                BEGIN
                    SET @Remarks = 'Uploading or revising data for past periods (' + @CleanP + ') is strictly prohibited in production mode.';
                    ROLLBACK TRANSACTION;
                    RETURN; 
                END
            END

            IF @IsRevision = 1
            BEGIN
				
				IF NOT EXISTS (SELECT 1 FROM M_Customer_Order WHERE Periode = @CleanP)
                BEGIN
                    SET @Remarks = 'Cannot upload revision. No original data found for period ' 
									+ @CleanP + 
									'. Please upload the original data first without appending "-REV".';
                    ROLLBACK TRANSACTION;
                    RETURN;
                END

				SELECT @NextRev = ISNULL(MAX(RevisionNo), 0) + 1 FROM M_Customer_Order WHERE Periode = @CleanP;
                
                INSERT INTO M_Customer_Order (Periode, Source, Suffix, DayNumber, ValueData, RevisionNo)
                SELECT @CleanP, Source, Suffix, DayNumber, ValueData, @NextRev
                FROM @OrderData WHERE Periode = @RawP;
            END
            ELSE
            BEGIN

				IF EXISTS (SELECT 1 FROM M_Customer_Order WHERE Periode = @CleanP)
                BEGIN
                    SET @Remarks = 'Data for period ' 
									+ @CleanP + ' already exists.' +
									' If you intend to revise, please append "-REV" to the period inside your Excel file (e.g., ' + @CleanP + '-REV).' +
									' Otherwise, delete the existing period data first.';
                    ROLLBACK TRANSACTION;
                    RETURN; 
                END

				INSERT INTO M_Customer_Order (Periode, Source, Suffix, DayNumber, ValueData, RevisionNo)
                SELECT @CleanP, Source, Suffix, DayNumber, ValueData, 0
                FROM @OrderData WHERE Periode = @RawP;
            END

            SET @CurrentId = @CurrentId + 1;
        END

        COMMIT TRANSACTION;

	END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SET @Remarks = ERROR_MESSAGE(); 
    END CATCH
END