USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_Target_Stock_Param]    Script Date: 6/19/2026 10:46:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      MIT
-- Description: Process Upload Target Stock Parameters
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Upload_Target_Stock_Param]
    @Periode VARCHAR(7),
    @JsonData NVARCHAR(MAX),
    @UserLogin NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        SELECT 
            ParameterType,
            Identifier,
            TargetValue
        INTO #TempUpload
        FROM OPENJSON(@JsonData) WITH (
            ParameterType VARCHAR(50),
            Identifier VARCHAR(50),
            TargetValue INT
        );

        -- ====================================================================
        -- 1. UPSERT PARAMETER K-LINE
        -- ====================================================================
        MERGE M_Param_Stock_KLine AS Target
        USING (SELECT Identifier, TargetValue FROM #TempUpload WHERE ParameterType = 'K-Line') AS Source
        ON (Target.Periode = @Periode AND Target.OrderFrom = Source.Identifier)
        
        WHEN MATCHED THEN
            UPDATE SET 
                Target.CycleDelivery = Source.TargetValue, 
                Target.UpdatedAt = GETDATE(), 
                Target.UpdatedBy = @UserLogin
                
        WHEN NOT MATCHED THEN
            INSERT (Periode, OrderFrom, CycleDelivery, CreatedBy, UpdatedBy, UpdatedAt)
            VALUES (@Periode, Source.Identifier, Source.TargetValue, @UserLogin, @UserLogin, GETDATE());


        -- ====================================================================
        -- 2. UPSERT PARAMETER MACHINING
        -- ====================================================================
        MERGE M_Param_Stock_Machining AS Target
        USING (SELECT TargetValue FROM #TempUpload 
				WHERE ParameterType = 'Machining' AND Identifier = 'Standard Day') AS Source
        ON (Target.Periode = @Periode)
        
        WHEN MATCHED THEN
            UPDATE SET 
                Target.StandardDay = Source.TargetValue, 
                Target.UpdatedAt = GETDATE(), 
                Target.UpdatedBy = @UserLogin
                
        WHEN NOT MATCHED THEN
            INSERT (Periode, StandardDay, CreatedBy, UpdatedBy, UpdatedAt)
            VALUES (@Periode, Source.TargetValue, @UserLogin, @UserLogin, GETDATE());

        DROP TABLE #TempUpload;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO