USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Calc_Target_Stock]    Script Date: 6/25/2026 12:58:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Calc_Target_Stock]
-- =============================================

CREATE or ALTER PROCEDURE [dbo].[sp_Calc_Target_Stock]
    @Periode NVARCHAR(6),
    @User_Login NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @DBPeriode VARCHAR(7) = LEFT(@Periode, 4) + '-' + RIGHT(@Periode, 2);
    DECLARE @Err NVARCHAR(MAX);

    BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM M_Customer_Order WHERE Periode = @DBPeriode)
        BEGIN
            DECLARE @ErrNoOrder NVARCHAR(2048) = 'Target Stock Calculation Failed: No customer order data found for this period. Please upload the customer orders first.';
            THROW 50004, @ErrNoOrder, 1;
        END

		IF EXISTS (SELECT 1 FROM T_Calc_Monthly_Plan_Unique WHERE Periode = @DBPeriode)
        BEGIN
			DECLARE @ErrFinalCalcMonthly NVARCHAR(2048) = 'Target Stock Calculation Failed: Final Monthly Plan has already been processed for this period. Please reset the Monthly Plan first.';
            THROW 50005, @ErrFinalCalcMonthly, 1;
        END

		IF EXISTS (SELECT 1 FROM T_Target_Stock_Machining WHERE Periode = @DBPeriode)
           OR EXISTS (SELECT 1 FROM T_Target_Stock_KLine WHERE Periode = @DBPeriode)
        BEGIN
			DECLARE @ErrRecalcMinMax NVARCHAR(2048) = 'Target Stock Calculation Failed: Target Stock (Min-Max) data already exists for this period. Please perform a Reset Target Stock before recalculating.';
            THROW 50006, @ErrRecalcMinMax, 1;
		END

        BEGIN TRANSACTION;

        -- =========================
        -- 1. GENERATE BASE DATA
        -- =========================

        -- A. MACHINING
        INSERT INTO T_Target_Stock_Machining 
			(Periode, EngineBase, EngineType, PartName, UniqueCode, PlanMonthly, CreatedBy)
        SELECT 
			co.Periode, 
			mfg.EngineBase, 
			mfg.EngineType, 
			mfg.PartName, 
			su.UniqueCode, 
			SUM(co.ValueData), 
			@User_Login
        FROM M_Customer_Order co
        INNER JOIN M_Suffix_to_Unique su ON co.Suffix = su.SuffixCode
        LEFT JOIN M_Finish_Goods mfg ON su.UniqueCode = mfg.UniqueNumber
        WHERE co.Periode = @DBPeriode 
			AND su.LineOrderCode NOT LIKE 'K%'
			AND NOT EXISTS 
				(SELECT 1 FROM T_Target_Stock_Machining tm 
					WHERE tm.Periode = co.Periode 
					AND tm.UniqueCode = su.UniqueCode
				)
        GROUP BY 
			co.Periode, 
			su.UniqueCode, 
			mfg.EngineBase, 
			mfg.EngineType, 
			mfg.PartName;

        -- B. K-LINE
        INSERT INTO T_Target_Stock_KLine 
			(Periode, OrderFrom, UniqueCode, EngineType, EngineBase, PartName, VolMonthly, CreatedBy)
        SELECT
			co.Periode, 
			su.OrderFrom, 
			su.UniqueCode, 
			mfg.EngineType, 
			mfg.EngineBase, 
			mfg.PartName, 
			SUM(co.ValueData), 
			@User_Login
        FROM M_Customer_Order co
        INNER JOIN M_Suffix_to_Unique su ON co.Suffix = su.SuffixCode
        LEFT JOIN M_Finish_Goods mfg ON su.UniqueCode = mfg.UniqueNumber 
        WHERE co.Periode = @DBPeriode 
			AND su.LineOrderCode LIKE 'K%' 
            AND NOT EXISTS 
				(SELECT 1 FROM T_Target_Stock_KLine tk 
					WHERE tk.Periode = co.Periode 
						AND tk.UniqueCode = su.UniqueCode
				)
        GROUP BY 
			co.Periode, 
			su.OrderFrom, 
			su.UniqueCode, 
			mfg.EngineType, 
			mfg.EngineBase, 
			mfg.PartName

        -- ===========================
        -- 2. VALIDASI PARAMETER
        -- ===========================
        DECLARE @ParamStdDay INT;
        SELECT TOP 1 @ParamStdDay = StandardDay 
		FROM M_Param_Stock_Machining 
		WHERE Periode = @DBPeriode;
        
        IF EXISTS (SELECT 1 FROM T_Target_Stock_Machining WHERE Periode = @DBPeriode)
			AND (@ParamStdDay IS NULL OR @ParamStdDay = 0)
        BEGIN
            DECLARE @ErrMsgMachining NVARCHAR(2048) = 'Target Stock Calculation Failed: The "Standard Day" parameter for Machining has not been set.';
            THROW 50001, @ErrMsgMachining, 1;
        END

        DECLARE @MissingOrderFrom NVARCHAR(MAX);
		
        SELECT @MissingOrderFrom = STRING_AGG(Required.OrderFrom, ', ')
        FROM (
            SELECT DISTINCT CASE 
				WHEN OrderFrom IN('DCWA', 'KOUZUI') THEN 'SAP' 
				ELSE OrderFrom 
				END AS OrderFrom
            FROM T_Target_Stock_KLine T 
			WHERE Periode = @DBPeriode
            AND EXISTS (SELECT 1 
				FROM M_Customer_Order co 
				INNER JOIN M_Suffix_to_Unique su ON co.Suffix = su.SuffixCode 
				WHERE co.Periode = @DBPeriode AND su.UniqueCode = T.UniqueCode)
        ) AS Required
        LEFT JOIN M_Param_Stock_KLine P ON Required.OrderFrom = P.OrderFrom AND P.Periode = @DBPeriode
        LEFT JOIN M_Working_Day_Customer W ON Required.OrderFrom = W.DataSource AND W.Period = @Periode
        WHERE W.MaxWorkingDays IS NULL 
            OR W.MaxWorkingDays = 0 
            OR P.CycleDelivery IS NULL 
            OR P.CycleDelivery = 0;

        IF @MissingOrderFrom IS NOT NULL
        BEGIN
            DECLARE @ErrMsgKLine NVARCHAR(2048) = 'Target Stock Calculation Failed: The "Max Working Days" or "Cycle Delivery" parameter is missing for Order From: ' + @MissingOrderFrom + '.';
            THROW 50002, @ErrMsgKLine, 1;
        END

		DECLARE @WorkingDay FLOAT;
        SELECT @WorkingDay = MAX(TotalWD)
        FROM (
            SELECT LineOrderCode, 
				SUM(CASE 
						WHEN CalendarStatus IN (1, 2) THEN 0.5 
						ELSE 0 
					END
				) AS TotalWD
			FROM M_Add_calendar
			WHERE CONVERT(NVARCHAR(7), CalendarDate, 120) = @DBPeriode
			GROUP BY LineOrderCode
        ) SubCal;

        -- ===========================
        -- 3. CALCULATE TARGET STOCK
        -- ===========================
		;WITH OrderSummaryM AS (
            SELECT su.UniqueCode, 
				SUM(co.ValueData) AS TotalQty 
            FROM M_Customer_Order co 
			INNER JOIN M_Suffix_to_Unique su ON co.Suffix = su.SuffixCode 
            WHERE co.Periode = @DBPeriode 
			GROUP BY su.UniqueCode
        ),
        CalendarWD AS (
            SELECT LineOrderCode, 
				SUM(CASE 
						WHEN CalendarStatus IN (1, 2) THEN 0.5 
						ELSE 0 END
					) AS LineTotalWD
            FROM M_Add_calendar 
			WHERE CONVERT(NVARCHAR(7), CalendarDate, 120) = @DBPeriode 
			GROUP BY LineOrderCode
        )
		UPDATE T SET 
            T.PlanMonthly = O.TotalQty,
            T.PlanDaily = Calc.FinalDaily,
            T.MinDay = 2, 
            T.StdDay = @ParamStdDay, 
            T.MaxDay = 5,
            T.MinUnit = Calc.FinalDaily * 2,
            T.StdUnit = Calc.FinalDaily * @ParamStdDay,
            T.MaxUnit = Calc.FinalDaily * 5,
            T.UpdatedAt = GETDATE(), 
            T.UpdatedBy = @User_Login
        FROM T_Target_Stock_Machining T
		INNER JOIN OrderSummaryM O ON T.UniqueCode = O.UniqueCode 
        LEFT JOIN CalendarWD Cal ON T.EngineBase = Cal.LineOrderCode
        CROSS APPLY (
            SELECT CASE 
                WHEN T.PlanDaily = 0 THEN ROUND(CAST(O.TotalQty AS FLOAT) 
					/ ISNULL(NULLIF(Cal.LineTotalWD, 0), @WorkingDay), 0) 
                ELSE T.PlanDaily 
            END AS FinalDaily
        ) Calc
		WHERE T.Periode = @DBPeriode;

        ;WITH OrderSummaryK AS (
            SELECT su.UniqueCode, SUM(co.ValueData) AS TotalQty 
			FROM M_Customer_Order co 
			INNER JOIN M_Suffix_to_Unique su ON co.Suffix = su.SuffixCode 
			WHERE co.Periode = @DBPeriode 
			GROUP BY su.UniqueCode
        ),
		OrderRatioK AS (
            SELECT UniqueCode, 
                   TotalQty, 
                   SUM(TotalQty) OVER() AS GrandTotalQty 
            FROM OrderSummaryK
        )
        UPDATE T SET 
			T.LoadingRatio = ROUND((CAST(O.TotalQty AS FLOAT) / NULLIF(O.GrandTotalQty, 0)) * 100, 1),
			T.VolMonthly = O.TotalQty,
            T.VolDaily = CalcDaily.FinalDaily,
			T.Trip = CalcTrip.FinalTrip,
            T.BufferHours = CalcBuffer.BufferQty,
            T.OrderCycle = CalcTarget.OrderQty,
            T.TotalMinim = CalcBuffer.BufferQty + CalcTarget.OrderQty,
            T.TotalMax = (CalcBuffer.BufferQty + CalcTarget.OrderQty) * 3,
            T.UpdatedAt = GETDATE(), 
            T.UpdatedBy = @User_Login
		FROM T_Target_Stock_KLine T 
        INNER JOIN M_Param_Stock_KLine P ON T.Periode = P.Periode 
			AND P.OrderFrom = CASE 
								WHEN T.OrderFrom IN ('DCWA', 'KOUZUI') THEN 'SAP' 
								ELSE T.OrderFrom 
							  END 
		LEFT JOIN M_Working_Day_Customer W ON W.Period = @Periode
            AND W.DataSource = CASE 
                                WHEN T.OrderFrom IN ('DCWA', 'KOUZUI') THEN 'SAP' 
                                ELSE T.OrderFrom 
                               END
		INNER JOIN OrderRatioK O ON T.UniqueCode = O.UniqueCode
		LEFT JOIN M_Finish_Goods mfg ON T.UniqueCode = mfg.UniqueNumber
		CROSS APPLY (
            SELECT ROUND(CAST(O.TotalQty AS FLOAT) / NULLIF(W.MaxWorkingDays, 0), 0) AS FinalDaily
        ) CalcDaily
		CROSS APPLY (
            SELECT CASE 
                WHEN T.OrderFrom IN ('DCWA', 'KOUZUI') THEN 2
                WHEN T.OrderFrom = 'SAP' THEN P.CycleDelivery / 2
                WHEN T.OrderFrom = 'KAP' THEN P.CycleDelivery
                ELSE P.CycleDelivery
            END AS FinalTrip
        ) CalcTrip
		CROSS APPLY (
            SELECT ROUND((CalcDaily.FinalDaily / 15.0) * 0.5, 0) AS BufferQty
        ) CalcBuffer
		CROSS APPLY (
            SELECT CEILING(
                ((CalcDaily.FinalDaily / NULLIF(CAST(CalcTrip.FinalTrip AS FLOAT), 0)) * 1.5) 
                / ISNULL(NULLIF(mfg.QtyPerBox, 0), 1) 
            ) * ISNULL(NULLIF(mfg.QtyPerBox, 0), 1) AS OrderQty
        ) CalcTarget
		WHERE T.Periode = @DBPeriode;


		-- ==============================
        -- UPDATE PARAM K-LINE
        -- ==============================
		;WITH ParamSummary AS (
            SELECT 
                CASE 
                    WHEN OrderFrom IN ('DCWA', 'KOUZUI') THEN 'SAP' 
                    ELSE OrderFrom 
                END AS GroupedOrderFrom,
                SUM(VolMonthly) AS TotalProdMonth
            FROM T_Target_Stock_KLine
            WHERE Periode = @DBPeriode
            GROUP BY 
                CASE 
                    WHEN OrderFrom IN ('DCWA', 'KOUZUI') THEN 'SAP' 
                    ELSE OrderFrom 
                END
        )
		UPDATE P
        SET 
            P.ProdMonth = S.TotalProdMonth,
			P.ProdDaily = ROUND(CAST(S.TotalProdMonth AS FLOAT) / NULLIF(W.MaxWorkingDays, 0), 0),
            P.QtyperTruck = CASE 
                                WHEN P.OrderFrom = 'SAP' THEN 84 
                                ELSE 72 
                            END,
			P.Cycle = CEILING(
                        (ROUND(CAST(S.TotalProdMonth AS FLOAT) / NULLIF(W.MaxWorkingDays, 0), 0)) 
                        / CAST(CASE WHEN P.OrderFrom = 'SAP' THEN 84 ELSE 72 END AS FLOAT)
                      )
        FROM M_Param_Stock_KLine P
		INNER JOIN ParamSummary S ON P.OrderFrom = S.GroupedOrderFrom
        LEFT JOIN M_Working_Day_Customer W ON W.Period = @Periode AND W.DataSource = P.OrderFrom
        WHERE P.Periode = @DBPeriode;

        -- ==============================
        -- 4. SYNC TO MASTER MIN/MAX
        -- ==============================
        UPDATE M 
		SET M.MinStock = K.TotalMinim, 
			M.MaxStock = K.TotalMax, 
			M.UpdatedBy = @User_Login, 
			M.UpdatedAt = GETDATE()
        FROM M_MinMax_Stock_Unique M 
		INNER JOIN T_Target_Stock_KLine K ON M.Periode = K.Periode 
			AND M.UniqueCode = K.UniqueCode 
		WHERE M.Periode = @DBPeriode;

        UPDATE M 
		SET M.MinStock = MC.MinUnit, 
			M.MaxStock = MC.MaxUnit, 
			M.UpdatedBy = @User_Login, 
			M.UpdatedAt = GETDATE()
        FROM M_MinMax_Stock_Unique M 
		INNER JOIN T_Target_Stock_Machining MC ON M.Periode = MC.Periode 
			AND M.UniqueCode = MC.UniqueCode 
		WHERE M.Periode = @DBPeriode;

        INSERT INTO T_Status_Monthly_Plan 
		VALUES ('Target Stock', 'Success', NULL, @Periode, GETDATE(), @User_Login);

        COMMIT TRANSACTION;
        SELECT 'success';
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 
			ROLLBACK TRANSACTION;

        SET @Err = ERROR_MESSAGE();

        INSERT INTO T_Status_Monthly_Plan 
		VALUES ('Target Stock', 'Error', LEFT(@Err, 255), @Periode, GETDATE(), @User_Login);
        
        SELECT @Err;
    END CATCH
END
