USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_M_Param_Unique]    Script Date: 6/16/2026 5:54:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		MIT
-- Description: [sp_Upload_M_Param_Unique]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Upload_M_Param_Unique]
    @UniqueCode VARCHAR(50),
    @TargetDate DATE,
    @ValueData INT,
    @UserLogin VARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    
	BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS (SELECT 1 FROM M_Param_Plan_Unique WHERE UniqueCode = @UniqueCode AND TargetDate = @TargetDate)
        BEGIN
            UPDATE M_Param_Plan_Unique
            SET 
                ValueData = @ValueData, 
                UpdatedBy = @UserLogin, 
                UpdatedAt = GETDATE()
            WHERE UniqueCode = @UniqueCode AND TargetDate = @TargetDate;
        END
        ELSE
        BEGIN
            INSERT INTO M_Param_Plan_Unique (UniqueCode, TargetDate, ValueData, CreatedBy)
            VALUES (@UniqueCode, @TargetDate, @ValueData, @UserLogin);
        END

        COMMIT TRANSACTION;
        SELECT 'SUCCESS' AS Status;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SELECT 'ERROR' AS Status, ERROR_MESSAGE() AS Message;
    END CATCH

END