USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_T_Daily_Order_DDMI]    Script Date: 6/24/2026 6:29:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Delete_T_Daily_Order_DDMI]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Delete_T_Daily_Order_DDMI]
    @UploadBatchKey NVARCHAR(50),
    @PIC_ID NVARCHAR(100),
    @Remarks NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
		IF NOT EXISTS (SELECT 1 FROM T_Daily_Order_DDMI_History_Headers WHERE UploadBatchKey = @UploadBatchKey AND [Status] = 'ACTIVE')
        BEGIN
            SET @Remarks = 'Unique Key not found or deleted.';
            RETURN;
        END

		;WITH HistoryDeductSummary AS (
            SELECT 
                h.Id AS HeaderId,
                LTRIM(RTRIM(hd.PartNo)) AS PartNo,
                SUM(ISNULL(hd.QtyPerBox, 0)) AS QtyPerBox,
                SUM(ISNULL(hd.TotalKanban, 0)) AS TotalKanban,
                SUM(ISNULL(hd.TotalQty, 0)) AS TotalQty,
                SUM(ISNULL(hd.ActualKanban, 0)) AS ActualKanban,
                SUM(ISNULL(hd.LackKanban, 0)) AS LackKanban
            FROM T_Daily_Order_DDMI_History_Details hd
            INNER JOIN T_Daily_Order_DDMI_History_Headers hh ON hd.HistoryHeaderId = hh.Id
            INNER JOIN T_Daily_Order_DDMI_Headers h ON LTRIM(RTRIM(h.DnNo)) = LTRIM(RTRIM(hh.DnNo))
            WHERE hh.UploadBatchKey = @UploadBatchKey
            GROUP BY h.Id, LTRIM(RTRIM(hd.PartNo))
        )
		UPDATE det
        SET 
            det.QtyPerBox = det.QtyPerBox - src.QtyPerBox,
            det.TotalKanban = det.TotalKanban - src.TotalKanban,
            det.TotalQty = det.TotalQty - src.TotalQty,
            det.ActualKanban = det.ActualKanban - src.ActualKanban,
            det.LackKanban = det.LackKanban - src.LackKanban
        FROM T_Daily_Order_DDMI_Details det
        INNER JOIN HistoryDeductSummary src ON det.HeaderId = src.HeaderId 
			AND LTRIM(RTRIM(det.PartNo)) = src.PartNo;


        --DELETE FROM T_Daily_Order_DDMI_Details 
        --WHERE TotalQty <= 0 AND TotalKanban <= 0;

        --DELETE FROM T_Daily_Order_DDMI_Headers
        --WHERE Id NOT IN (SELECT DISTINCT HeaderId FROM T_Daily_Order_DDMI_Details);

        UPDATE T_Daily_Order_DDMI_History_Headers
        SET Status = 'DELETED',
            DeletedBy = @PIC_ID,
            DeletedDate = GETDATE()
        WHERE UploadBatchKey = @UploadBatchKey;

        SET @Remarks = '';
    END TRY
    BEGIN CATCH
        SET @Remarks = 'System Error';
    END CATCH
END