USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Calc_Monthly_Plan]    Script Date: 6/25/2026 10:43:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      MIT
-- Description: [sp_Calc_Monthly_Plan]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Calc_Monthly_Plan]
    @Periode NVARCHAR(6),
    @User_Login NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DBPeriode NVARCHAR(7) = LEFT(@Periode, 4) + '-' + RIGHT(@Periode, 2);

    BEGIN TRY

		DECLARE @MaxRevision INT;
        SELECT @MaxRevision = ISNULL(MAX(RevisionNo), -1) 
        FROM M_Customer_Order 
        WHERE Periode = @DBPeriode;

		IF @MaxRevision = -1
        BEGIN
            ;THROW 50001, 'No customer order data found for this period. Please upload the customer orders first.', 1;
        END

		IF EXISTS (SELECT 1 FROM T_Calc_Monthly_Plan_Unique WHERE Periode = @DBPeriode AND RevisionNo = @MaxRevision)
        BEGIN
            ;THROW 50002, 'Calculation data for this version already exists. Please perform a Reset before recalculating.', 1;
        END

		DECLARE @StartDate DATE = CAST(@DBPeriode + '-01' AS DATE);
        DECLARE @EndDate DATE = EOMONTH(@StartDate);
        DECLARE @PrevPeriode NVARCHAR(7) = FORMAT(DATEADD(MONTH, -1, @StartDate), 'yyyy-MM');
        DECLARE @PrevEndDate DATE = EOMONTH(DATEADD(MONTH, -1, @StartDate));

		DROP TABLE IF EXISTS #TempLineOutput;
        DROP TABLE IF EXISTS #TempSummary;
        DROP TABLE IF EXISTS #TempBaseAdjustment;
        DROP TABLE IF EXISTS #TempSystemPlan;

		-- =========================================================================
        -- PROSES LEVEL LINE (T_Calc_Monthly_Plan_Line)
        -- =========================================================================
        ;WITH 
		ActiveOrderLines AS (
            SELECT DISTINCT su.LineOrderCode 
            FROM M_Customer_Order co 
            INNER JOIN M_Suffix_to_Unique su ON co.Suffix = su.SuffixCode
            WHERE co.Periode = @DBPeriode 
				AND co.RevisionNo = @MaxRevision
				AND su.LineOrderCode IS NOT NULL
        ),
		LineRawData AS (
            SELECT 
                cal.LineOrderCode AS LineCode, 
                cal.CalendarDate AS TargetDate,

				-- Parameter Kapasitas & Kecepatan Mesin
				MAX(cal.CT) AS CycleTime,
                MAX(ISNULL(sct.SpecialCycleTime, 0)) AS SpecialCycleTime,
                MAX(cal.OEE) AS OEE,

				-- PIVOT SHIFT DAY (Siang)
				SUM(CASE WHEN cal.Shift = 'Day' THEN cal.WorkingTime ELSE 0 END) AS WorkingTimeDay,
                SUM(CASE WHEN cal.Shift = 'Day' THEN cal.MandatoryPdt ELSE 0 END) AS MandatoryDay,
                SUM(CASE WHEN cal.Shift = 'Day' THEN cal.OtherPdt ELSE 0 END) AS PdtOtherDay,
				SUM(CASE WHEN cal.Shift = 'Day' THEN cal.TimePdt ELSE 0 END) AS AmPmDay,
                SUM(CASE WHEN cal.Shift = 'Day' THEN cal.EarlyOvertime + cal.EndOvertime ELSE 0 END) AS OvertimeDay,
                CAST(SUM(CASE WHEN cal.Shift = 'Day' THEN ISNULL(rp.RecoveryTime, 0) ELSE 0 END) AS INT) AS RecoveryDay,
                
                -- PIVOT SHIFT NIGHT (Malam)
				SUM(CASE WHEN cal.Shift = 'Night' THEN cal.WorkingTime ELSE 0 END) AS WorkingTimeNight,
                SUM(CASE WHEN cal.Shift = 'Night' THEN cal.MandatoryPdt ELSE 0 END) AS MandatoryNight,
                SUM(CASE WHEN cal.Shift = 'Night' THEN cal.OtherPdt ELSE 0 END) AS PdtOtherNight,
                SUM(CASE WHEN cal.Shift = 'Night' THEN cal.TimePdt ELSE 0 END) AS AmPmNight,
                SUM(CASE WHEN cal.Shift = 'Night' THEN cal.EarlyOvertime + cal.EndOvertime ELSE 0 END) AS OvertimeNight,
                CAST(SUM(CASE WHEN cal.Shift = 'Night' THEN ISNULL(rp.RecoveryTime, 0) ELSE 0 END) AS INT) AS RecoveryNight
                
            FROM M_Add_Calendar cal
			INNER JOIN ActiveOrderLines aol 
                ON cal.LineOrderCode = aol.LineOrderCode
            LEFT JOIN M_Recovery_Plan rp 
                ON cal.LineOrderCode = rp.LineOrderCode 
                AND cal.CalendarDate = rp.TargetDate 
                AND cal.Shift = rp.Shift
            LEFT JOIN M_Special_CT sct 
                ON cal.LineOrderCode = sct.LineOrderCode 
                AND cal.CalendarDate = sct.TargetDate
            
            WHERE cal.CalendarDate >= @StartDate AND cal.CalendarDate <= @EndDate
            GROUP BY cal.LineOrderCode, cal.CalendarDate
        ),
		LineTimeCalc AS (
            SELECT 
                *,
                (OvertimeDay + OvertimeNight) AS OvertimeTotal,
                (RecoveryDay + RecoveryNight) AS RecoveryTotal,

				(MandatoryDay + PdtOtherDay + AmPmDay) AS TotalPdtDay,
                (MandatoryNight + PdtOtherNight + AmPmNight) AS TotalPdtNight,
                (MandatoryDay + PdtOtherDay + AmPmDay + MandatoryNight + PdtOtherNight + AmPmNight) AS TotalPdt,

                WorkingTimeDay AS NormalWorkingDay,
                WorkingTimeNight AS NormalWorkingNight,
                (WorkingTimeDay + WorkingTimeNight) AS NormalWorkingTotal

            FROM LineRawData
        ),
		LineOperatingCalc AS (
            SELECT 
                *,
                ((NormalWorkingDay + OvertimeDay + RecoveryDay) - TotalPdtDay) AS OpTimeDay,
                ((NormalWorkingNight + OvertimeNight + RecoveryNight) - TotalPdtNight) AS OpTimeNight
            FROM LineTimeCalc
        )
		SELECT 
            @DBPeriode AS Periode, 
			@MaxRevision AS RevisionNo,
			TargetDate, LineCode, 
			CycleTime, SpecialCycleTime, OEE,
            MandatoryDay, MandatoryNight, 
			PdtOtherDay, PdtOtherNight,
			AmPmDay, AmPmNight,
			TotalPdt,
            OvertimeDay,OvertimeNight, OvertimeTotal,
			RecoveryDay, RecoveryNight, RecoveryTotal,
            NormalWorkingDay, NormalWorkingNight, NormalWorkingTotal, 
			(OpTimeDay + OpTimeNight) AS OperatingTime, 
            
            ( ISNULL(CAST(ROUND((((NormalWorkingDay - MandatoryDay - PdtOtherDay - AmPmDay) * 1.0) 
				/ NULLIF(CycleTime, 0)) * 
					(OEE / 100.0), 0, 1) AS INT), 0) 
			+
              ISNULL(CAST(ROUND((((OvertimeDay + RecoveryDay) * 1.0) 
				/ NULLIF(SpecialCycleTime, 0)) * 
					AmPmDay , 0, 1) AS INT), 0) ) AS OutputProduksiDay,
              
            ( ISNULL(CAST(ROUND((((NormalWorkingNight - MandatoryNight - PdtOtherNight - AmPmNight) * 1.0) 
				/ NULLIF(CycleTime, 0)) * 
					(OEE / 100.0), 0, 1) AS INT), 0) +
              ISNULL(CAST(ROUND((((OvertimeNight + RecoveryNight) * 1.0) 
				/ NULLIF(SpecialCycleTime, 0)) * 
					AmPmNight , 0, 1) AS INT), 0) ) AS OutputProduksiNight
        INTO #TempLineOutput
        FROM LineOperatingCalc;

		-- =========================================================================
        -- PENGISIAN TABEL SUMMARY BULANAN & FLAG TERBESAR
        -- =========================================================================
        ;WITH OrderData AS (
            SELECT 
                su.LineOrderCode AS LineCode,
                su.UniqueCode,
                SUM(co.ValueData) AS TotalOrder
            FROM M_Customer_Order co
            INNER JOIN M_Suffix_to_Unique su ON co.Suffix = su.SuffixCode
            WHERE co.Periode = @DBPeriode 
				AND co.RevisionNo = @MaxRevision 
				AND su.UniqueCode IS NOT NULL
            GROUP BY su.LineOrderCode, su.UniqueCode
        ),
        RankedOrderData AS (
            SELECT 
                LineCode, 
                UniqueCode, 
                TotalOrder,
                ROW_NUMBER() OVER(PARTITION BY LineCode ORDER BY TotalOrder DESC, UniqueCode ASC) AS RankOrder
            FROM OrderData
        )
		SELECT 
            @DBPeriode AS Periode, 
			@MaxRevision AS RevisionNo,
			LineCode, 
			UniqueCode,
			TotalOrder AS TotalOrderQty, 
			RankOrder,
            CASE 
				WHEN RankOrder = 1 THEN CAST(1 AS BIT) 
				ELSE CAST(0 AS BIT) 
			END AS IsHighestOrder
        INTO #TempSummary
        FROM RankedOrderData;


        -- =========================================================================
        -- PROSES LEVEL UNIQUE (T_Calc_Monthly_Plan_Unique)
        -- =========================================================================
        ;WITH 
        MonthDates AS (
            SELECT DISTINCT CalendarDate AS TargetDate 
			FROM M_Add_Calendar 
			WHERE CalendarDate >= @StartDate 
				AND CalendarDate <= @EndDate
        ),
        ValidUniques AS (
            SELECT DISTINCT su.UniqueCode, su.LineOrderCode
            FROM M_Customer_Order co 
			INNER JOIN M_Suffix_to_Unique su ON co.Suffix = su.SuffixCode
            WHERE co.Periode = @DBPeriode 
				AND co.RevisionNo = @MaxRevision 
				AND su.UniqueCode IS NOT NULL
        ),
        UniqueMatrix AS (
            SELECT v.UniqueCode, 
					v.LineOrderCode AS LineCode,
					c.TargetDate 
			FROM ValidUniques v CROSS JOIN MonthDates c
        ),
        AggOrder AS (
            SELECT su.UniqueCode, 
					DATEADD(DAY, co.DayNumber - 1, @StartDate) AS TargetDate,
					SUM(co.ValueData) AS TotalOrder
            FROM M_Customer_Order co 
			INNER JOIN M_Suffix_to_Unique su ON co.Suffix = su.SuffixCode
            WHERE co.Periode = @DBPeriode 
				AND co.RevisionNo = @MaxRevision
				AND su.UniqueCode IS NOT NULL
            GROUP BY su.UniqueCode, co.DayNumber
        ),
        PreviousMonthStock AS (
            SELECT UniqueCode, EndStock AS Qty 
			FROM T_Calc_Monthly_Plan_Unique 
			WHERE Periode = @PrevPeriode 
				AND TargetDate = @PrevEndDate
				AND RevisionNo = (SELECT ISNULL(MAX(RevisionNo), 0) FROM T_Calc_Monthly_Plan_Unique WHERE Periode = @PrevPeriode)
        ),
        InitEngineStock AS (
            SELECT UniqueCode, QtyLastStock AS Qty 
			FROM T_Init_Stock_Engine 
			WHERE Periode_ID = @DBPeriode
        ),
        CalculatedInitialStock AS (
            SELECT v.UniqueCode, COALESCE(pm.Qty, ie.Qty, 0) AS InitialQty
            FROM ValidUniques v
            LEFT JOIN PreviousMonthStock pm ON v.UniqueCode = pm.UniqueCode
            LEFT JOIN InitEngineStock ie ON v.UniqueCode = ie.UniqueCode
        ),
		UniqueRawData AS (
            SELECT 
                um.UniqueCode, um.LineCode, um.TargetDate,
                ISNULL(ao.TotalOrder, 0) AS OrderQty,
                ISNULL(ms.MinStock, 0) AS MinStock,
                ISNULL(ms.MaxStock, 0) AS MaxStock,
                ISNULL(uis.InitialQty, 0) AS InitialStockQty
            FROM UniqueMatrix um
            LEFT JOIN AggOrder ao ON um.UniqueCode = ao.UniqueCode 
				AND um.TargetDate = ao.TargetDate
            LEFT JOIN M_MinMax_Stock_Unique ms ON um.UniqueCode = ms.UniqueCode 
                AND ms.Periode IN (@DBPeriode, @Periode)
            LEFT JOIN CalculatedInitialStock uis ON um.UniqueCode = uis.UniqueCode
        )
		SELECT 
            u.*,
			sum_tbl.IsHighestOrder, 
			(l.OutputProduksiDay + l.OutputProduksiNight) AS TotalLineOutput,
            CASE 
                WHEN sum_tbl.IsHighestOrder = 0 THEN 
					CASE 
						WHEN (l.OutputProduksiDay + l.OutputProduksiNight) <= 0 THEN 0 
						ELSE CAST((u.MinStock * 0.2) AS INT) 
					END
                ELSE 0 
            END AS ExtraMinStockUsed
        INTO #TempBaseAdjustment
        FROM UniqueRawData u
        INNER JOIN #TempSummary sum_tbl ON u.LineCode = sum_tbl.LineCode 
			AND u.UniqueCode = sum_tbl.UniqueCode
        INNER JOIN #TempLineOutput l ON u.LineCode = l.LineCode 
			AND u.TargetDate = l.TargetDate;

		-- Kalkulasi dari Temp Table
		;WITH 
        SumOfNonHighest AS (
            SELECT LineCode, 
					TargetDate, 
					SUM(ExtraMinStockUsed) AS TotalExtraUsed
            FROM #TempBaseAdjustment 
			GROUP BY LineCode, TargetDate
        ),
        SystemPlanCalc AS (
            SELECT 
                b.TargetDate, 
				b.LineCode,
				b.UniqueCode, 
				b.MinStock,
				b.MaxStock, 
				b.OrderQty,
				b.InitialStockQty,
                CASE 
                    WHEN b.IsHighestOrder = 1 THEN
                        CASE 
                            WHEN b.TotalLineOutput <= 0 THEN 0
                            WHEN (b.TotalLineOutput - ISNULL(s.TotalExtraUsed, 0)) < 0 THEN 0 
                            ELSE (b.TotalLineOutput - ISNULL(s.TotalExtraUsed, 0)) 
                        END
                    ELSE 
                        CASE
                            WHEN b.TotalLineOutput <= 0 THEN 0
                            ELSE b.OrderQty + b.ExtraMinStockUsed
                        END
                END AS CalculatedSysPlan
            FROM #TempBaseAdjustment b
            LEFT JOIN SumOfNonHighest s ON b.LineCode = s.LineCode 
				AND b.TargetDate = s.TargetDate
        )
        SELECT 
            @DBPeriode AS Periode, 
			@MaxRevision AS RevisionNo,
			TargetDate, 
			LineCode,
			UniqueCode,
			MinStock,
			MaxStock,
			OrderQty,
            CalculatedSysPlan AS SystemPlanQty, 
			CalculatedSysPlan AS ManualPlanQty,
			CalculatedSysPlan AS FinalPlanQty,
            0 AS IsManual,
            InitialStockQty + SUM(CalculatedSysPlan - OrderQty) OVER (PARTITION BY UniqueCode ORDER BY TargetDate) - (CalculatedSysPlan - OrderQty) AS BeginStock,
            InitialStockQty + SUM(CalculatedSysPlan - OrderQty) OVER (PARTITION BY UniqueCode ORDER BY TargetDate) AS EndStock
        INTO #TempSystemPlan
        FROM SystemPlanCalc;
		
		-- =========================================================================
        -- [PERBAIKAN PERFORMA 4]: Terapkan TRANSAKSI hanya pada saat INSERT fisik
        -- =========================================================================
        BEGIN TRANSACTION;

		DELETE FROM T_Calc_Monthly_Plan_Line WHERE Periode = @DBPeriode AND RevisionNo = @MaxRevision;
        DELETE FROM T_Calc_Monthly_Plan_Summary WHERE Periode = @DBPeriode AND RevisionNo = @MaxRevision;
        DELETE FROM T_Calc_Monthly_Plan_Unique WHERE Periode = @DBPeriode AND RevisionNo = @MaxRevision;

        INSERT INTO T_Calc_Monthly_Plan_Line 
            (Periode, RevisionNo, TargetDate, LineCode, CycleTime, SpecialCycleTime, OEE, 
			MandatoryDay, MandatoryNight, PdtOtherDay, PdtOtherNight, AmPmDay, AmPmNight, TotalPdt, 
			OvertimeDay, OvertimeNight, OvertimeTotal, 
			RecoveryDay, RecoveryNight, RecoveryTotal,
			NormalWorkingDay, NormalWorkingNight, NormalWorkingTotal, 
			OperatingTime, OutputProduksiDay, OutputProduksiNight, OutputProduksiTotal, CreatedBy)
        SELECT 
            Periode, RevisionNo, TargetDate, LineCode, CycleTime, SpecialCycleTime, OEE, 
			MandatoryDay, MandatoryNight, PdtOtherDay, PdtOtherNight, AmPmDay, AmPmNight, TotalPdt, 
			OvertimeDay, OvertimeNight, OvertimeTotal, 
			RecoveryDay, RecoveryNight, RecoveryTotal, 
			NormalWorkingDay, NormalWorkingNight, NormalWorkingTotal, 
			OperatingTime, OutputProduksiDay, OutputProduksiNight, 
			(OutputProduksiDay + OutputProduksiNight), @User_Login
        FROM #TempLineOutput;

        INSERT INTO T_Calc_Monthly_Plan_Summary 
            (Periode, RevisionNo, LineCode, UniqueCode, TotalOrderQty, RankOrder, IsHighestOrder, CreatedBy)
        SELECT Periode, RevisionNo, LineCode, UniqueCode, TotalOrderQty, RankOrder, IsHighestOrder, @User_Login FROM #TempSummary;

        INSERT INTO T_Calc_Monthly_Plan_Unique
            (Periode, RevisionNo, TargetDate, LineCode, UniqueCode, MinStock, MaxStock, OrderQty, SystemPlanQty, ManualPlanQty, FinalPlanQty, IsManual, BeginStock, EndStock, CreatedBy)
        SELECT 
            Periode, RevisionNo, TargetDate, LineCode, UniqueCode, MinStock, MaxStock, OrderQty, SystemPlanQty, ManualPlanQty, FinalPlanQty, IsManual, BeginStock, EndStock, @User_Login 
        FROM #TempSystemPlan;

		UPDATE L
        SET L.TotalEndStock = SummaryUnique.GrandTotalStock
        FROM T_Calc_Monthly_Plan_Line L
        INNER JOIN (
            SELECT LineCode, TargetDate, SUM(EndStock) AS GrandTotalStock 
			FROM #TempSystemPlan 
			GROUP BY LineCode, TargetDate
        ) SummaryUnique ON L.LineCode = SummaryUnique.LineCode
			AND L.TargetDate = SummaryUnique.TargetDate
        WHERE L.Periode = @DBPeriode
			AND L.RevisionNo = @MaxRevision;

        COMMIT TRANSACTION;

        INSERT INTO T_Status_Monthly_Plan
			VALUES ('Process Capacity', 'Success', NULL, @Periode, GETDATE(), @User_Login);

        SELECT 'success' AS Result;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;

        INSERT INTO T_Status_Monthly_Plan
	        VALUES ('Process Capacity', 'Error', ERROR_MESSAGE(), @Periode, GETDATE(), @User_Login);

        SELECT ERROR_MESSAGE() AS Result;
    END CATCH
END
