USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Customer_Order_Sel]    Script Date: 6/25/2026 9:52:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_M_Customer_Order_Sel]
	@Periode NVARCHAR(7),
	@RevisionNo INT = -1
AS
BEGIN

    SET NOCOUNT ON;

	IF @RevisionNo = -1
    BEGIN
        SELECT @RevisionNo = ISNULL(MAX(RevisionNo), 0) 
        FROM M_Customer_Order 
        WHERE Periode = @Periode;
    END

    SELECT 
        CustomerOrderID,
        Periode,
        Source,
        Suffix,
        DayNumber,
        ValueData,
        RevisionNo
    FROM 
        M_Customer_Order
	WHERE 
        Periode = @Periode
		AND RevisionNo = @RevisionNo
    ORDER BY 
        Source ASC, 
        DayNumber ASC;
END
