USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Calc_Reset_Monthly_Plan]    Script Date: 6/25/2026 9:53:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description:	[sp_Calc_Reset_Monthly_Plan]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Calc_Reset_Monthly_Plan]
    @Periode NVARCHAR(6),
    @User_Login NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

	DECLARE @DBPeriode NVARCHAR(7) = LEFT(@Periode, 4) + '-' + RIGHT(@Periode, 2);

    BEGIN TRY
        BEGIN TRANSACTION;

		DECLARE @MaxRevision INT;
        SELECT @MaxRevision = ISNULL(MAX(RevisionNo), -1)
        FROM T_Calc_Monthly_Plan_Unique
        WHERE Periode = @DBPeriode;

		IF @MaxRevision = -1
        BEGIN
            ;THROW 50003, 'No calculation data found for this period to reset.', 1;
        End

		DELETE FROM T_Calc_Monthly_Plan_Line WHERE Periode = @DBPeriode AND RevisionNo = @MaxRevision;
        DELETE FROM T_Calc_Monthly_Plan_Summary WHERE Periode = @DBPeriode AND RevisionNo = @MaxRevision;
        DELETE FROM T_Calc_Monthly_Plan_Unique WHERE Periode = @DBPeriode AND RevisionNo = @MaxRevision;

		DECLARE @MsgReset NVARCHAR(100) = 'Reset Monthly Plan ' + CAST(@MaxRevision AS NVARCHAR);
        INSERT INTO T_Status_Monthly_Plan
            VALUES (@MsgReset, 'Success', NULL, @Periode, GETDATE(), @User_Login);

		COMMIT TRANSACTION;
        SELECT 'success' AS Result;

    END TRY
    BEGIN CATCH
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        
        INSERT INTO T_Status_Monthly_Plan 
        VALUES ('Reset Monthly Plan', 'Error', ERROR_MESSAGE(), @Periode, GETDATE(), @User_Login);
        
        SELECT ERROR_MESSAGE() AS Result;
    END CATCH
END