USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Update_Monthly_Plan_Unique]    Script Date: 6/25/2026 10:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      MIT
-- Description: [sp_Update_Monthly_Plan_Unique]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Update_Monthly_Plan_Unique]
    @Periode NVARCHAR(6),
    @RevisionNo INT = -1,
    @JsonData NVARCHAR(MAX),
    @User_Login NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @DBPeriode VARCHAR(7) = LEFT(@Periode, 4) + '-' + RIGHT(@Periode, 2);

    BEGIN TRY
        BEGIN TRANSACTION;

		IF @RevisionNo = -1
        BEGIN
            SELECT @RevisionNo = ISNULL(MAX(RevisionNo), 0) 
            FROM T_Calc_Monthly_Plan_Unique 
            WHERE Periode = @DBPeriode;
        END

        UPDATE U
        SET U.ManualPlanQty = J.FinalPlanQty,
            U.FinalPlanQty = J.FinalPlanQty,
            U.IsManual = 1
        FROM T_Calc_Monthly_Plan_Unique U
        INNER JOIN OPENJSON(@JsonData) WITH (
            LineCode VARCHAR(50),
            UniqueCode VARCHAR(50),
            TargetDate DATE,
            FinalPlanQty INT
        ) J ON U.LineCode = J.LineCode 
			AND U.UniqueCode = J.UniqueCode
			AND U.TargetDate = J.TargetDate
        WHERE U.Periode = @DBPeriode
			AND U.RevisionNo = @RevisionNo;


        ;WITH SumOtherUniques AS (
            SELECT 
                U.Periode, U.RevisionNo, U.TargetDate, U.LineCode, 
                SUM(
                    CASE 
                        WHEN (U.FinalPlanQty - ISNULL(U.OrderQty, 0)) < 0 THEN 0
                        ELSE (U.FinalPlanQty - ISNULL(U.OrderQty, 0))
                    END
                ) AS TotalExtraUsedByOthers
            FROM T_Calc_Monthly_Plan_Unique U
            INNER JOIN T_Calc_Monthly_Plan_Summary S 
				ON U.Periode = S.Periode 
					AND U.RevisionNo = S.RevisionNo 
					AND U.LineCode = S.LineCode 
					AND U.UniqueCode = S.UniqueCode
			WHERE U.Periode = @DBPeriode 
				AND U.RevisionNo = @RevisionNo
				AND S.IsHighestOrder = 0
            GROUP BY U.Periode, U.RevisionNo, U.TargetDate, U.LineCode
        ),
        BufferAdjustment AS (
            SELECT 
                U.CalcUniqueID,
                CASE 
                    WHEN (L.OutputProduksiTotal - ISNULL(SO.TotalExtraUsedByOthers, 0)) < 0 THEN 0
                    ELSE (L.OutputProduksiTotal - ISNULL(SO.TotalExtraUsedByOthers, 0))
                END AS AdjustedBufferQty
            FROM T_Calc_Monthly_Plan_Unique U
			INNER JOIN T_Calc_Monthly_Plan_Summary S 
                ON U.Periode = S.Periode 
					AND U.RevisionNo = S.RevisionNo 
					AND U.LineCode = S.LineCode
					AND U.UniqueCode = S.UniqueCode
            INNER JOIN T_Calc_Monthly_Plan_Line L
                ON U.Periode = L.Periode 
					AND U.RevisionNo = L.RevisionNo 
					AND U.TargetDate = L.TargetDate 
					AND U.LineCode = L.LineCode
            LEFT JOIN SumOtherUniques SO
                ON U.Periode = SO.Periode 
					AND U.RevisionNo = SO.RevisionNo 
					AND U.TargetDate = SO.TargetDate 
					AND U.LineCode = SO.LineCode
			WHERE U.Periode = @DBPeriode 
				AND U.RevisionNo = @RevisionNo
				AND S.IsHighestOrder = 1
        )
        UPDATE T
        SET T.ManualPlanQty = B.AdjustedBufferQty,
            T.FinalPlanQty = B.AdjustedBufferQty
        FROM T_Calc_Monthly_Plan_Unique T
        INNER JOIN BufferAdjustment B ON T.CalcUniqueID = B.CalcUniqueID;


        ;WITH BaseStock AS (
            SELECT UniqueCode, LineCode, BeginStock AS InitialStock
            FROM T_Calc_Monthly_Plan_Unique
			WHERE Periode = @DBPeriode 
				AND RevisionNo = @RevisionNo 
				AND DATEPART(DAY, TargetDate) = 1
        ),
        RollingStock AS (
            SELECT 
                U.CalcUniqueID,
                B.InitialStock + SUM(U.FinalPlanQty - ISNULL(U.OrderQty, 0)) OVER (PARTITION BY U.UniqueCode ORDER BY U.TargetDate) - (U.FinalPlanQty - ISNULL(U.OrderQty, 0)) AS NewBeginStock,
                B.InitialStock + SUM(U.FinalPlanQty - ISNULL(U.OrderQty, 0)) OVER (PARTITION BY U.UniqueCode ORDER BY U.TargetDate) AS NewEndStock
            FROM T_Calc_Monthly_Plan_Unique U
            INNER JOIN BaseStock B ON U.UniqueCode = B.UniqueCode 
				AND U.LineCode = B.LineCode
            WHERE U.Periode = @DBPeriode 
				AND U.RevisionNo = @RevisionNo
        )
        UPDATE T
        SET T.BeginStock = R.NewBeginStock,
            T.EndStock = R.NewEndStock
        FROM T_Calc_Monthly_Plan_Unique T
        INNER JOIN RollingStock R ON T.CalcUniqueID = R.CalcUniqueID;


        UPDATE L
        SET L.TotalEndStock = SummaryUnique.GrandTotalStock
        FROM T_Calc_Monthly_Plan_Line L
        INNER JOIN (
            SELECT LineCode, TargetDate, SUM(EndStock) AS GrandTotalStock
            FROM T_Calc_Monthly_Plan_Unique
            WHERE Periode = @DBPeriode 
				AND RevisionNo = @RevisionNo
            GROUP BY LineCode, TargetDate
        ) SummaryUnique ON L.LineCode = SummaryUnique.LineCode 
			AND L.TargetDate = SummaryUnique.TargetDate
        WHERE L.Periode = @DBPeriode 
			AND L.RevisionNo = @RevisionNo;

        COMMIT TRANSACTION;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
