USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_Daily_Order_DDMI]    Script Date: 6/24/2026 10:10:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Inq_T_Daily_Order_DDMI]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Inq_T_Daily_Order_DDMI]
    @Periode NVARCHAR(7)
AS
BEGIN
    SET NOCOUNT ON;

	DECLARE @StartDate DATE = CAST(@Periode + '-01' AS DATE);
    DECLARE @EndDate DATE = DATEADD(MONTH, 1, @StartDate);
    
    SELECT 
		Hist.UploadBatchKey,
		h.UploadDate, h.DnNo, h.SupplierCode, h.SupplierName, 
		h.OrderDate, h.OrderTime, h.CycleIssue, h.CycleNumber,
		h.DeliveryDate, h.DeliveryTime, h.DockCode,
		d.ItemNo, d.BackNo, d.PartNo, d.PartName, d.QtyPerBox, d.TotalQty, d.ActualKanban
	FROM T_Daily_Order_DDMI_Headers h
	INNER JOIN T_Daily_Order_DDMI_Details d ON h.Id = d.HeaderId

	OUTER APPLY (
        SELECT TOP 1 UploadBatchKey 
        FROM T_Daily_Order_DDMI_History_Headers hh
        WHERE hh.DnNo = h.DnNo AND hh.[Status] = 'ACTIVE'
        ORDER BY hh.UploadDate DESC
    ) Hist

	WHERE h.UploadDate >= @StartDate AND h.UploadDate < @EndDate
	ORDER BY h.UploadDate DESC, h.DnNo, d.ItemNo
END