USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_Target_Stock_Param]    Script Date: 6/25/2026 1:40:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:      MIT
-- Description: [sp_Inq_Target_Stock_Param]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Inq_Target_Stock_Param]
    @Periode NVARCHAR(7)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @DBPeriode NVARCHAR(7) = REPLACE(@Periode, '-', '');

	WITH CTE_MaxWorkingDay AS (
        SELECT 
            DataSource, 
            Period, 
            MAX(MaxWorkingDays) AS MaxWorkingDays
        FROM dbo.M_Working_Day_Customer 
        WHERE Period = @DBPeriode
        GROUP BY DataSource, Period
    )
    SELECT 
        'K-Line' AS ParameterType,
        OrderFrom AS Identifier,
        ISNULL(wd.MaxWorkingDays, 0) AS WorkingDayTotal,
        CycleDelivery AS TargetValue,
        ProdMonth,
        ProdDaily,
        QtyperTruck,
        Cycle,
        UpdatedBy AS LastModifiedBy,
        UpdatedAt AS LastModifiedDate
    FROM dbo.M_Param_Stock_KLine KLine 
    LEFT JOIN CTE_MaxWorkingDay wd ON KLine.OrderFrom = wd.DataSource
    WHERE KLine.Periode = @Periode

    UNION ALL

    SELECT 
        'Machining' AS ParameterType,
        'Standard Day' AS Identifier,
        NULL AS WorkingDayTotal,
        StandardDay AS TargetValue,
        NULL AS ProdMonth,
        NULL AS ProdDaily,
        NULL AS QtyperTruck,
        NULL AS Cycle,
        UpdatedBy AS LastModifiedBy,
        UpdatedAt AS LastModifiedDate
    FROM dbo.M_Param_Stock_Machining
    WHERE Periode = @Periode;
END
