USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_Calc_Capacity]    Script Date: 6/4/2026 9:29:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		MIT
-- Description: [sp_Inq_T_Calc_Capacity]
-- =============================================
ALTER PROCEDURE [dbo].[sp_Inq_T_Calc_Capacity]
    @Periode_ID VARCHAR(6)
AS
BEGIN
    SET NOCOUNT ON;
    
	DECLARE @BaseDate DATE = DATEFROMPARTS(CAST(LEFT(@Periode_ID, 4) AS INT), CAST(SUBSTRING(@Periode_ID, 5, 2) AS INT), 1);
    DECLARE @BasePeriode VARCHAR(7) = FORMAT(@BaseDate, 'yyyy-MM'); 
    DECLARE @PrevPeriode VARCHAR(7) = FORMAT(DATEADD(MONTH, -1, @BaseDate), 'yyyy-MM');

	IF OBJECT_ID('tempdb..#MappedCapacity') IS NOT NULL DROP TABLE #MappedCapacity;

	SELECT 
        C.*,
        ISNULL(NULLIF(LTRIM(RTRIM(FG.EngineBase)), ''), C.Suffix) AS EngineBase
    INTO #MappedCapacity
    FROM T_Calc_Capacity C
    LEFT JOIN M_Suffix_to_Unique SU ON LTRIM(RTRIM(CAST(C.Suffix AS VARCHAR(50)))) = LTRIM(RTRIM(CAST(SU.SuffixCode AS VARCHAR(50))))
    LEFT JOIN M_Finish_Goods FG ON LTRIM(RTRIM(CAST(SU.UniqueCode AS VARCHAR(50)))) = LTRIM(RTRIM(CAST(FG.UniqueNumber AS VARCHAR(50))))
    WHERE C.Periode IN (@BasePeriode, @PrevPeriode);

    IF OBJECT_ID('tempdb..#CurrentBase') IS NOT NULL DROP TABLE #CurrentBase;
    
    SELECT DISTINCT LineOrderCode, EngineBase
    INTO #CurrentBase
    FROM #MappedCapacity
    WHERE Periode = @BasePeriode;

    WITH VirtualCapacity AS (

        SELECT 
            LineOrderCode, EngineBase, AdvanceQty, MandatoryTime, HotShiftOvertime, ShiftCount, 
            LoadingCustomerQty, WorkingDay, WorkingTimePerShift, CT_Min, EFF_Pct, ProdPlanMonthly, 
            ProdPlanDaily, ProdPlanTaktTime, LoadingTime, TotalOperatingTime, CapacityNormal, 
            CapacityOT_2h, CapacityHOT_4s, CapacityTotal, Overtime_DOT_Hours, Overtime_Pct, IdlePerDay_Min,
            MonthOffsetLabel AS LabelBulanKe,
            CASE 
                WHEN MonthOffsetLabel = 'N' THEN 1 
                ELSE CAST(REPLACE(MonthOffsetLabel, 'N+', '') AS INT) + 1 
            END AS OffsetBulan
        FROM #MappedCapacity
        WHERE Periode = @BasePeriode
        
        UNION ALL
        
        SELECT 
            B.LineOrderCode, B.EngineBase, 
            ISNULL(C.AdvanceQty, 0), ISNULL(C.MandatoryTime, 0), ISNULL(C.HotShiftOvertime, 0), ISNULL(C.ShiftCount, 0), 
            ISNULL(C.LoadingCustomerQty, 0), ISNULL(C.WorkingDay, 0), ISNULL(C.WorkingTimePerShift, 0), ISNULL(C.CT_Min, 0), ISNULL(C.EFF_Pct, 0), ISNULL(C.ProdPlanMonthly, 0), 
            ISNULL(C.ProdPlanDaily, 0), ISNULL(C.ProdPlanTaktTime, 0), ISNULL(C.LoadingTime, 0), ISNULL(C.TotalOperatingTime, 0), ISNULL(C.CapacityNormal, 0), 
            ISNULL(C.CapacityOT_2h, 0), ISNULL(C.CapacityHOT_4s, 0), ISNULL(C.CapacityTotal, 0), ISNULL(C.Overtime_DOT_Hours, 0), ISNULL(C.Overtime_Pct, 0), ISNULL(C.IdlePerDay_Min, 0),
            'N-1' AS LabelBulanKe,
            0 AS OffsetBulan 
        FROM #CurrentBase B
        LEFT JOIN #MappedCapacity C 
            ON B.LineOrderCode = C.LineOrderCode 
            AND B.EngineBase = C.EngineBase 
            AND C.Periode = @PrevPeriode 
            AND C.MonthOffsetLabel = 'N'
    )
    
    SELECT 
        C.LineOrderCode,
        C.EngineBase,
        C.LabelBulanKe AS BulanKe,
        C.OffsetBulan AS OffsetN,
        FORMAT(DATEADD(MONTH, C.OffsetBulan, @BaseDate), 'MMM yyyy', 'en-US') AS TargetMonth,
        C.AdvanceQty, C.MandatoryTime, C.HotShiftOvertime, C.ShiftCount, C.LoadingCustomerQty, C.WorkingDay, 
        C.WorkingTimePerShift, C.CT_Min, C.EFF_Pct, C.ProdPlanMonthly, C.ProdPlanDaily, C.ProdPlanTaktTime, 
        C.LoadingTime, C.TotalOperatingTime, C.CapacityNormal, C.CapacityOT_2h, C.CapacityHOT_4s, 
        C.CapacityTotal, C.Overtime_DOT_Hours, C.Overtime_Pct, C.IdlePerDay_Min
    FROM VirtualCapacity C
    ORDER BY C.LineOrderCode, C.EngineBase, C.OffsetBulan;

END