USE [DQS_NET]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActiveJwtToken_DeleteByUser]    Script Date: 7/8/2026 1:27:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description:	Procedures for inq [sp_ActiveJwtToken_DeleteByUser]
-- =============================================
ALTER PROCEDURE [dbo].[sp_ActiveJwtToken_DeleteByUser]
    @UserId NVARCHAR(100)
AS
BEGIN
    DELETE FROM ActiveJwtTokens
    WHERE UserId = @UserId;

	UPDATE T_User_Auth 
	SET is_Logged_In = 0, exp_token = NULL 
	WHERE U_PIC_ID = @UserId;
END


