USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_CI_Part_Future_Sel]    Script Date: 03/03/2026 00:57:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_M_CI_Part_Future_Sel]

AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
		SELECT	DISTINCT a.CycleIssueID,
				a.ExCore,
				c.ExCore + ' - ' + d.JobNo + ' - ' + e.LineOrderCode + ' - ' + e.RackNumber as Core,
				b.CycleIssueID + ' - ' + b.DockCode + ' - ' + b.Operation + ' - ' + CAST(b.CycleArrival as nvarchar) + ' - ' + ISNULL(CAST(b.TimeArrival as nvarchar),'') as CycleIssueLP,
				ISNULL(a.CycleIssueLPConfirm,'') as CycleIssueLPConfirm,
				a.Periode_ID,
				a.UserUpdate,
				FORMAT(a.DateUpdate, 'dd/MM/yyyy HH:mm:ss') as DateUpdate,
				Remarks = '',
				CASE ISNULL(a.CycleIssueStatus,'0') WHEN '1' THEN 'Updated' ELSE 'Not yet update' END as CycleIssueStatus
		FROM	M_Cycle_Issue_Part_Future a
				JOIN M_Cycle_Issue_LP_Future b on a.CycleIssueLP = b.CycleIssueID and a.Periode_ID = b.Periode_ID
				JOIN M_ID_Part c on a.ExCore = c.ExCore and b.DockCode = c.DockCode
				JOIN M_Part_Order d on c.PartOrderID = d.PartOrderID
				JOIN M_Depth e on c.DepthID = e.DepthID
	END TRY

	BEGIN CATCH
		SELECT	CycleIssueID = '',
				ExCore = '',
				Core = '',
				CycleIssueLP = '',
				CycleIssueLPConfirm = '',
				Periode_ID = '',
				UserUpdate = '',
				DateUpdate = '',
				Remarks = ERROR_MESSAGE(),
				CycleIssueStatus = ''
	END CATCH
END

