USE [RFIDP2P3]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_Init_Last_Stock]    Script Date: 28/02/2026 11:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_Inq_T_Init_Last_Stock]
	@Periode		nvarchar(6)
AS

BEGIN
	SET NOCOUNT ON
	
	DECLARE	@cols			nvarchar(MAX),
			@columns		nvarchar(MAX),
			@EndOfMonth		date,
			@StartOfMonth	date,
			@MinDate		nvarchar(8),
			@MaxDate		nvarchar(8),
			@Today			nvarchar(8)
			
	DECLARE @DateList TABLE (DateLabel date);

	SELECT	DISTINCT a.ExCore,
			Periode_ID,
			'D' + RIGHT(Periode_ID,2) + RIGHT(LEFT(Periode_ID,6),2) + LEFT(Periode_ID,4) as Periode,
			QtyLastStock,
			c.JobNo,
			d.SupplierCode,
			d.SupplierName
		into #temp
	FROM	T_Init_Last_Stock a
			JOIN M_ID_Part b on a.ExCore = b.ExCore
			JOIN M_Part_Order c on b.PartOrderID = c.PartOrderID
			JOIN M_Supplier d on c.SupplierCode = d.SupplierCode
	WHERE	LEFT(Periode_ID,6) = @Periode
	
	SELECT	@StartOfMonth = CAST(LEFT(@Periode,4) + '-' + RIGHT(@Periode,2) + '-01' as date), 
			@EndOfMonth = CAST(EOMONTH(LEFT(@Periode,4) + '-' + RIGHT(@Periode,2) + '-01') as date), 
			@Today = CAST(GETDATE() as date)

	DELETE @DateList
		
	WHILE @StartOfMonth <= @EndOfMonth
	BEGIN
		INSERT  INTO @DateList
		VALUES  ( @StartOfMonth );
		   
		SET @StartOfMonth = DATEADD(DAY, 1, @StartOfMonth);
	END;

	SELECT * INTO #TempCal FROM @DateList

	SELECT @cols =	STUFF((SELECT ',' + QUOTENAME(seq)
						FROM
						(
							SELECT	'D' + FORMAT(DateLabel, 'ddMMyyyy') as seq
							FROM	#TempCal
						) d
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')

	SELECT @columns =	STUFF((SELECT ',' + seq
						FROM
						(
							SELECT	'ISNULL(' + QUOTENAME('D' + FORMAT(DateLabel, 'ddMMyyyy')) + ',0) as ' + QUOTENAME('D' + FORMAT(DateLabel, 'ddMMyyyy')) as seq
							FROM	#TempCal
						) d
				FOR XML PATH(''), TYPE
				).value('.', 'NVARCHAR(MAX)') 
			,1,1,'')
			

	SELECT	CONVERT(nvarchar(8), DateLabel, 112) as Periode_ID
			INTO #TempCal1 
	FROM	#TempCal

	
	SELECT	DISTINCT  a.*, ISNULL(DATEDIFF(d, LAG(a.Periode_ID)OVER(ORDER BY a.Periode_ID), a.Periode_ID), 0) as Selisih
			INTO #TempCal2
	FROM	#TempCal1 a 
			LEFT JOIN #temp b ON a.Periode_ID = b.Periode_ID 
	WHERE	b.Periode_ID is null
			and	a.Periode_ID >= (SELECT MIN(Periode_ID) FROM #temp)
			and	a.Periode_ID <= (SELECT MAX(Periode_ID) FROM #temp)
			
		
	SELECT	DISTINCT  a.*, ISNULL(DATEDIFF(d, LAG(a.Periode_ID)OVER(ORDER BY a.Periode_ID), a.Periode_ID),1) as Selisih
			INTO #TempCal2_Before
	FROM	#TempCal1 a 
			LEFT JOIN #temp b ON a.Periode_ID = b.Periode_ID 
	WHERE	b.Periode_ID is null
			and	a.Periode_ID < (SELECT MIN(Periode_ID) FROM #temp)

			
	SELECT	DISTINCT  a.*, ISNULL(DATEDIFF(d, LAG(a.Periode_ID)OVER(ORDER BY a.Periode_ID), a.Periode_ID), 1) as Selisih
			INTO #TempCal2_After
	FROM	#TempCal1 a 
			LEFT JOIN #temp b ON a.Periode_ID = b.Periode_ID 
	WHERE	b.Periode_ID is null
			and	a.Periode_ID > (SELECT MAX(Periode_ID) FROM #temp)
			and	a.Periode_ID < @Today
		
	SELECT @MinDate = MIN(Periode_ID) FROM #temp
	SELECT @MaxDate = MAX(Periode_ID) FROM #temp

	exec('
		SELECT	ExCore,
				JobNo,
				SupplierCode,
				SupplierName,
				' + @columns + '
		FROM	
		(
			SELECT	a.JobNo, a.SupplierCode, a.SupplierName, a.Periode, a.ExCore, a.QtyLastStock
			FROM	#temp a
			UNION ALL
			SELECT	a.JobNo, a.SupplierCode, a.SupplierName, ''D'' + REPLACE(CONVERT(nvarchar(10), CAST(b.Periode_ID as date), 105), ''-'','''') as Periode, a.ExCore, a.QtyLastStock
			FROM	#temp a
					CROSS JOIN #TempCal2 b
			WHERE	a.Periode_ID = DATEADD(d, -1, CAST(b.Periode_ID as date))
					and b.Selisih <> 1
			UNION ALL
			SELECT	a.JobNo, a.SupplierCode, a.SupplierName, ''D'' + REPLACE(CONVERT(nvarchar(10), CAST(b.Periode_ID as date), 105), ''-'','''') as Periode, a.ExCore, a.QtyLastStock
			FROM	#temp a
					CROSS JOIN #TempCal2 b
			WHERE	a.Periode_ID = DATEADD(d, -2, CAST(b.Periode_ID as date))
					and b.Selisih = 1
			UNION ALL
			SELECT	a.JobNo, a.SupplierCode, a.SupplierName, ''D'' + REPLACE(CONVERT(nvarchar(10), CAST(b.Periode_ID as date), 105), ''-'','''') as Periode, a.ExCore, a.QtyLastStock
			FROM	#temp a
					CROSS JOIN #TempCal2_Before b
			WHERE	a.Periode_ID = ''' + @MinDate + '''
			UNION ALL
			SELECT	a.JobNo, a.SupplierCode, a.SupplierName, ''D'' + REPLACE(CONVERT(nvarchar(10), CAST(b.Periode_ID as date), 105), ''-'','''') as Periode, a.ExCore, a.QtyLastStock
			FROM	#temp a
					CROSS JOIN #TempCal2_After b
			WHERE	a.Periode_ID = ''' + @MaxDate + '''
		)x
		PIVOT 
		(
			SUM(QtyLastStock)
			for Periode in (' + @cols + ' )
		) p
		ORDER BY ExCore
	')

	drop table #temp
	drop table #TempCal
	drop table #TempCal1
	drop table #TempCal2
	drop table #TempCal2_After
	drop table #TempCal2_Before
END
