USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_T_Calc_Order_Getsudo]    Script Date: 03/03/2026 00:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_Upload_T_Calc_Order_Getsudo]
	@UserLogin		nvarchar(50)

AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE		@Now		datetime

	SELECT @Now = GETDATE()

	DELETE T_Calc_Order_Getsudo_Temp

	INSERT INTO T_Calc_Order_Getsudo_Temp
	(
		LineOrderCode,
		Unique_No,
		Qty,
		Getsudo_Status,
		Periode_ID,
		Upload_Date,
		Upload_By
	)
	SELECT	a.B1,
			a.C1,
			a.D1,
			a.E1,
			a.A1,
			@Now,
			@UserLogin
	FROM	DataExcel a
	WHERE	a.Entry_User  = @UserLogin
			and a.A1 <> '' and a.A1 NOT LIKE '%Periode%'
	ORDER BY	a.No_Urut

	IF EXISTS(
		SELECT	*
		FROM	T_Calc_Order_Getsudo_Temp a
				LEFT JOIN M_Line_Order b on a.LineOrderCode = b.LineOrderCode
		WHERE	ISNULL(b.LineOrderCode,'') = ''
	)
	BEGIN
		select 'Line order not exists' as remarks
	END
	ELSE IF EXISTS(
		SELECT	*
		FROM	T_Calc_Order_Getsudo_Temp a
				LEFT JOIN M_Finish_Goods b on a.Unique_No = b.UniqueNumber
		WHERE	ISNULL(b.UniqueNumber,'') = ''
	)
	BEGIN
		select 'Unique No not exists' as remarks
	END
	ELSE
	BEGIN
		DELETE	b
		FROM	T_Calc_Order_Getsudo_Temp a
				LEFT JOIN T_Calc_Order_Getsudo b on a.Periode_ID = b.Periode_ID
		WHERE	ISNULL(b.ID_Getsudo,'') = ''

		INSERT INTO T_Calc_Order_Getsudo
		(	
			LineOrderCode,
			Unique_No,
			Qty,
			Getsudo_Status,
			Periode_ID,
			Upload_Date,
			Upload_By
		)
		SELECT	LineOrderCode,
				Unique_No,
				Qty,
				Getsudo_Status,
				Periode_ID,
				Upload_Date,
				Upload_By
		FROM	T_Calc_Order_Getsudo_Temp
		WHERE	Upload_By = @UserLogin
		ORDER BY	ID_Getsudo

		select '' as remarks
	END
END
