USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Customer_Order_Upload]    Script Date: 09/03/2026 22:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   PROCEDURE [dbo].[sp_M_Customer_Order_Upload]
(
	@OrderData dbo.CustomerOrderType READONLY,
    @Remarks VARCHAR(MAX) OUTPUT
)

AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
		BEGIN TRANSACTION

		MERGE INTO M_Customer_Order AS Target
        USING @OrderData AS SourceCustOrder
        ON (
            Target.Periode = SourceCustOrder.Periode
            AND Target.Source = SourceCustOrder.Source
            AND Target.Suffix = SourceCustOrder.Suffix
            AND Target.DayNumber = SourceCustOrder.DayNumber
        )

		-- UPDATE IF MATCHED: 
        -- If the data already exists for that specific period, source, suffix, and day, just update the value.
		WHEN MATCHED THEN
            UPDATE SET
                Target.ValueData = SourceCustOrder.ValueData

		-- INSERT IF NOT MATCHED: 
        -- If the exact combination is not found in the database, insert it as a new row.
		WHEN NOT MATCHED BY TARGET THEN 
            INSERT (Periode, Source, Suffix, DayNumber, ValueData)
            VALUES (
                SourceCustOrder.Periode, 
                SourceCustOrder.Source, 
                SourceCustOrder.Suffix, 
                SourceCustOrder.DayNumber, 
                SourceCustOrder.ValueData
            );

        SET @Remarks = '';

        COMMIT TRANSACTION;

	END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SET @Remarks = ERROR_MESSAGE(); 
    END CATCH
END

