USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Add_Calendar_Sel]    Script Date: 12/03/2026 14:07:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 1. SP SELECT Addition Calendar (INQ)
-- ==============================================

CREATE or ALTER PROCEDURE [dbo].[sp_M_Add_Calendar_Sel]
	@ProdDate date
AS
BEGIN
	SET NOCOUNT ON

		SELECT	a.CalendarId, 
				a.LineOrderCode, 
				b.LineOrderCode + ' - ' + b.LineOrderName as Line,
				a.CalendarDate,
				a.Shift,
				CASE ISNULL(a.CalendarStatus,'0') WHEN '1' THEN 'ON' ELSE 'OFF' END as CalendarStatus,
				ISNULL(a.CalendarStatus,'0') as CalendarStat,
				a.WorkingTime,
				a.Overtime,
				a.MandatoryPdt,
				a.OtherPdt,
				a.TimePdt,
				a.Remarks,
				a.CreatedBy,
				a.CreatedDate,
				a.UpdatedBy,
				a.UpdatedDate
		FROM	M_Add_Calendar a
				JOIN M_Line_Order b on a.LineOrderCode = b.LineOrderCode
		WHERE	a.CalendarDate = @ProdDate
END

