USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Calendar_Upload]    Script Date: 12/03/2026 21:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 2. SP UPLOAD Addition Calendar (UPLOAD)
-- ==============================================

CREATE OR ALTER PROCEDURE [dbo].[sp_M_Add_Calendar_Upload]
    @AddCalendarData AddCalendarType READONLY,
    @EntryUser VARCHAR(50),
    @Periode VARCHAR(7) 
AS
BEGIN
    SET NOCOUNT ON;
    SET DATEFIRST 1; 

    BEGIN TRY
        BEGIN TRANSACTION;

        MERGE M_Add_Calendar AS Target
        USING @AddCalendarData AS Source
        ON (Target.LineOrderCode = Source.LineOrderCode 
            AND Target.CalendarDate = Source.CalendarDate 
            AND Target.Shift = Source.Shift)
        WHEN MATCHED THEN
            UPDATE SET 
                CalendarStatus = Source.CalendarStatus,
                WorkingTime = Source.WorkingTime,
                Overtime = Source.Overtime,
                MandatoryPdt = Source.MandatoryPdt,
                OtherPdt = Source.OtherPdt,
                TimePdt = Source.TimePdt,
                Remarks = Source.Remarks,
                UpdatedBy = @EntryUser,
                UpdatedDate = GETDATE()
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (LineOrderCode, CalendarDate, Shift, CalendarStatus, WorkingTime, Overtime, MandatoryPdt, OtherPdt, TimePdt, Remarks, CreatedBy, CreatedDate)
            VALUES (Source.LineOrderCode, Source.CalendarDate, Source.Shift, Source.CalendarStatus, Source.WorkingTime, Source.Overtime, Source.MandatoryPdt, Source.OtherPdt, Source.TimePdt, Source.Remarks, @EntryUser, GETDATE());

        MERGE M_Calendar AS Target
        USING (
            SELECT 
                LineOrderCode, 
                CalendarDate, 
                Shift, 
                CalendarStatus, 
                CASE WHEN DATEPART(dw, CalendarDate) IN (6, 7) THEN '0' ELSE '1' END AS DefaultStatus
            FROM @AddCalendarData
        ) AS Source
        ON (Target.LineOrderCode = Source.LineOrderCode 
            AND Target.CalendarDate = Source.CalendarDate 
            AND Target.Shift = Source.Shift)
            
        WHEN MATCHED AND Source.CalendarStatus = Source.DefaultStatus THEN
            DELETE
            
        WHEN MATCHED AND Target.CalendarStatus <> Source.CalendarStatus AND Source.CalendarStatus <> Source.DefaultStatus THEN
            UPDATE SET 
                CalendarStatus = Source.CalendarStatus,
                UserUpdate = @EntryUser,
                DateUpdate = GETDATE()
                
        WHEN NOT MATCHED BY TARGET AND Source.CalendarStatus <> Source.DefaultStatus THEN
            INSERT (LineOrderCode, CalendarDate, Shift, CalendarStatus, UserUpdate, DateUpdate)
            VALUES (Source.LineOrderCode, Source.CalendarDate, Source.Shift, Source.CalendarStatus, @EntryUser, GETDATE());

        COMMIT TRANSACTION;
        SELECT 'success' AS Remarks;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS Remarks;
    END CATCH
END
GO

