
/****** Object:  StoredProcedure [dbo].[sp_Upload_T_Calc_Order_Heijunka]    Script Date: 27/02/2026 11:42:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_Upload_T_Calc_Order_Heijunka]
	@UserLogin		nvarchar(50)

AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE		@Now		datetime,
				@Periode_ID	nvarchar(8)

	SELECT @Now = GETDATE()

	DELETE T_Calc_Order_Heijunka_Temp

	INSERT INTO T_Calc_Order_Heijunka_Temp
	(	
		Index_Heijunka,
		ID_Heijunka,
		Plan_Prod_Date,
		Shift_Code,
		LineOrderCode,
		Unique_No,
		Qty,
		Plan_Status,
		Periode_ID,
		Upload_Date,
		Upload_By
	)
	SELECT	ROW_NUMBER()OVER(ORDER BY a.No_Urut) as Index_Heijunka,
			'HJ-'+a.C1+'-'+REPLACE(a.A1,'-','') +'-'+LEFT(a.B1,1)+
			RIGHT('0000' + CAST(ROW_NUMBER()OVER(PARTITION BY a.A1, LEFT(a.C1,1) ORDER BY a.No_Urut) as nvarchar(10)),4) as ID_Heijunka, 
			a.A1 as Plan_Prod_Date,
			LEFT(a.B1,1) as Shift_Code,
			a.C1,
			a.D1,
			a.E1,
			a.F1,
			a.G1,
			@Now,
			@UserLogin
	FROM	DataExcel a
			--LEFT JOIN T_Calc_Order_Heijunka b ON REPLACE(a.A1,'-','') = REPLACE(b.Plan_Prod_Date,'-','') 
			--							and LEFT(a.B1,1) = LEFT(b.Shift_Code,1) 
			--							and a.C1 = b.LineOrderCode 
			--							and a.D1 = b.Unique_No
	WHERE	a.Entry_User  = @UserLogin
			--and b.Plan_Prod_Date IS NULL
			and a.A1 <> '' and a.A1 NOT LIKE '%Prod%'
	ORDER BY	a.No_Urut

	SELECT TOP (1) @Periode_ID = Periode_ID FROM T_Calc_Order_Heijunka_Temp WHERE Upload_By = @UserLogin

	IF EXISTS(
		SELECT	*
		FROM	T_Calc_Order_Heijunka_Temp a
				LEFT JOIN M_Line_Order b on a.LineOrderCode = b.LineOrderCode
		WHERE	ISNULL(b.LineOrderCode,'') = ''
	)
	BEGIN
		select 'Line order not exists' as remarks
	END
	ELSE IF EXISTS(
		SELECT	*
		FROM	T_Calc_Order_Heijunka_Temp a
		WHERE	Shift_Code NOT IN ('Day', 'Night', 'D', 'N')
	)
	BEGIN
		select 'Shift code not exists' as remarks
	END
	ELSE IF EXISTS(
		SELECT	*
		FROM	T_Calc_Order_Heijunka_Temp a
				LEFT JOIN M_Finish_Goods b on a.Unique_No = b.UniqueNumber
		WHERE	ISNULL(b.UniqueNumber,'') = '' and a.Unique_No <> 'xxx'
	)
	BEGIN
		select 'Unique No not exists' as remarks
	END
	ELSE IF EXISTS (
		SELECT	*
		FROM	T_Calc_Order_Heijunka_Temp
		WHERE	Upload_By = @UserLogin
				and Plan_Status <> 0
	)
	BEGIN
		select 'Can upload status 0 only' as remarks
	END
	ELSE IF EXISTS (
		SELECT	a.ID_Heijunka
		FROM	T_Calc_Order_Heijunka_Temp a
				LEFT JOIN dbo.fnCheckCalendar(@Periode_ID) b on a.LineOrderCode = b.LineOrderCode and a.Plan_Prod_Date = b.CalendarDate and a.Shift_Code = LEFT(b.Shift,1)
		WHERE	a.Upload_By = @UserLogin
				and b.CalendarDate IS NULL
	)
	BEGIN
		select 'Line + Plan Prod Date + Shift is OFF' as remarks
	END
	ELSE IF EXISTS(
		SELECT	TOP 1 Periode_ID
		FROM	T_Calc_Produksi_PL
		WHERE	Periode_ID = @Periode_ID
		UNION
		SELECT	TOP 1 Periode_ID
		FROM	T_Calc_Plan_Supply_PL
		WHERE	Periode_ID = @Periode_ID
		UNION
		SELECT	TOP 1 Periode_ID
		FROM	T_Calc_Skema_Pickup
		WHERE	Periode_ID = @Periode_ID
		UNION
		SELECT	TOP 1 Periode_ID
		FROM	T_Calc_Kebutuhan
		WHERE	Periode_ID = @Periode_ID
		UNION
		SELECT	TOP 1 Periode_ID
		FROM	T_Calc_Part_PerCycle
		WHERE	Periode_ID = @Periode_ID
	)
	BEGIN
		select 'Periode already calculated' as remarks
	END
	ELSE IF EXISTS(
		SELECT	1
		FROM	T_Calc_Order_Heijunka_Temp a
				JOIN M_Progress_Lane b on a.LineOrderCode = b.LineOrderCode
		GROUP BY a.LineOrderCode, b.QtyUnitPL
		HAVING SUM(a.Qty) % b.QtyUnitPL <> 0
	)
	BEGIN
		select 'Qty heijunka is not a multiple of qty unit per PL' as remarks
	END
	ELSE
	BEGIN
		DELETE T_Calc_Order_Heijunka WHERE Periode_ID = @Periode_ID

		INSERT INTO T_Calc_Order_Heijunka
		(	
			Index_Heijunka,
			ID_Heijunka,
			Plan_Prod_Date,
			Shift_Code,
			LineOrderCode,
			Unique_No,
			Qty,
			Plan_Status,
			Periode_ID,
			Upload_Date,
			Upload_By
		)
		SELECT	Index_Heijunka,
				ID_Heijunka,
				Plan_Prod_Date,
				Shift_Code,
				LineOrderCode,
				Unique_No,
				Qty,
				Plan_Status,
				Periode_ID,
				Upload_Date,
				Upload_By
		FROM	T_Calc_Order_Heijunka_Temp
		WHERE	Upload_By = @UserLogin
		ORDER BY	ID_Heijunka

		select '' as remarks
	END
END
