
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_TN_Scan]    Script Date: 25/02/2026 13:35:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_Inq_T_TN_Scan]
	@Type		nvarchar(20),
	@TN_No		nvarchar(16),
	@UserLogin	nvarchar(16)
AS
BEGIN
	SET NOCOUNT ON;
	
	IF NOT EXISTS (SELECT * FROM T_TN WHERE TN_No = @TN_No)
	BEGIN
		SELECT 'Error~TN No not exits' as remarks
	END
	ELSE IF(@Type = 'Driver')
	BEGIN
		IF NOT EXISTS (SELECT * FROM T_TN a JOIN M_UserSetup b on a.SupplierCode = b.SupplierCode WHERE TN_No = @TN_No and b.UserID = @UserLogin)
		BEGIN
			SELECT 'Error~TN No not exits / different LP' as remarks
		END
		ELSE IF EXISTS (SELECT * FROM T_TN_Scan WHERE TN_No = @TN_No and ScanDriverBy IS NOT NULL)
		BEGIN
			SELECT 'Error~TN already scanned by driver' as remarks
		END
		ELSE
		BEGIN
			SELECT 'Success~' as remarks
		END
	END
	ELSE IF (@Type = 'ScanInADM')
	BEGIN
		IF EXISTS (SELECT * FROM T_TN a LEFT JOIN T_TN_Scan b on a.TN_No = b.TN_No WHERE ISNULL(b.TN_No,'') = '' and b.TN_No = @TN_No)
		BEGIN
			SELECT 'Error~TN not yet scanned by driver' as remarks
		END
		ELSE IF EXISTS (SELECT * FROM T_TN_Scan WHERE TN_No = @TN_No and ScanInADMBy IS NOT NULL)
		BEGIN
			SELECT 'Error~TN already scan in ADM' as remarks
		END
		ELSE
		BEGIN
			SELECT 'Success~' as remarks
		END
	END
	ELSE IF (@Type = 'ManualCalling')
	BEGIN
		IF EXISTS (SELECT * FROM T_TN_Scan WHERE TN_No = @TN_No and ScanInADMBy IS NULL)
		BEGIN
			SELECT 'Error~TN not yet scan in ADM' as remarks
		END
		ELSE IF EXISTS (SELECT * FROM T_TN_Scan WHERE TN_No = @TN_No and ManualCallingBy IS NOT NULL)
		BEGIN
			SELECT 'Error~TN already scan manual calling' as remarks
		END
		ELSE
		BEGIN
			SELECT 'Success~' as remarks
		END
	END
	ELSE IF (@Type = 'ScanDockIn')
	BEGIN
		IF EXISTS (SELECT * FROM T_TN_Scan WHERE TN_No = @TN_No and ManualCallingBy IS NULL)
		BEGIN
			SELECT 'Error~TN not yet scan manual calling' as remarks
		END
		ELSE IF EXISTS (SELECT * FROM T_TN_Scan WHERE TN_No = @TN_No and ScanDockInBy IS NOT NULL)
		BEGIN
			SELECT 'Error~TN already scan dock in' as remarks
		END
		ELSE
		BEGIN
			SELECT 'Success~' as remarks
		END
	END
	ELSE IF (@Type = 'ScanDockOut')
	BEGIN
		IF EXISTS (SELECT * FROM T_TN_Scan WHERE TN_No = @TN_No and ScanDockInBy IS NULL)
		BEGIN
			SELECT 'Error~TN not yet scan dock in' as remarks
		END
		ELSE IF EXISTS (SELECT * FROM T_TN_Scan WHERE TN_No = @TN_No and ScanDockOutBy IS NOT NULL)
		BEGIN
			SELECT 'Error~TN already scan dock out' as remarks
		END
		ELSE
		BEGIN
			SELECT	'Success~' + c.SupplierAlias + '~' + a.RouteCode + '~' + FORMAT(b.ScanDockInDate, 'yyyy-MM-dd HH:mm:ss') as remarks
			FROM	T_TN a
					JOIN T_TN_Scan b on a.TN_No = b.TN_No
					JOIN M_Supplier c on a.SupplierCode = c.SupplierCode
			WHERE	a.TN_No = @TN_No
		END
	END
	ELSE IF (@Type = 'ScanOutADM')
	BEGIN
		IF EXISTS (SELECT * FROM T_TN_Scan WHERE TN_No = @TN_No and ScanDockOutBy IS NULL)
		BEGIN
			SELECT 'Error~TN not yet scan dock out' as remarks
		END
		ELSE IF EXISTS (SELECT * FROM T_TN_Scan WHERE TN_No = @TN_No and ScanOutADMBy IS NOT NULL)
		BEGIN
			SELECT 'Error~TN already scan out ADM' as remarks
		END
		ELSE
		BEGIN
			SELECT 'Success~' as remarks
		END
	END
END
