
/****** Object:  StoredProcedure [dbo].[sp_Calc_WD]    Script Date: 27/02/2026 11:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_Calc_WD]
	@Periode_ID			nvarchar(6),
	@UserLogin			nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON

	DECLARE	@EndOfMonth			date,
			@StartOfMonth		date
			
	DECLARE @DateList TABLE (DateLabel nvarchar(10));
	DECLARE @OrderTypeList TABLE (OrderLabel nvarchar(1));

	SELECT @StartOfMonth = LEFT(@Periode_ID, 6) + '01'
	SELECT @EndOfMonth = EOMONTH(CONVERT(nvarchar(6), DATEADD(m, 3, @Periode_ID + '01'), 112) + '01')

	DELETE @DateList

	WHILE @StartOfMonth <= @EndOfMonth
	BEGIN
	   INSERT  INTO @DateList
	   VALUES  ( @StartOfMonth );
	   
	   SET @StartOfMonth = DATEADD(DAY, 1, @StartOfMonth);
	END;
	
	------------------------------------- Date is Working Days ------------------------------
	
	SELECT		x.Tgl, x.Shifts, x.Hari, x.LineOrderCode
				INTO #TempCalendar
	FROM
	(
		SELECT  DateLabel as Tgl, 'D' as Shifts, LEFT(datename(weekday, DateLabel),3) as Hari, LineOrderCode
		FROM    @DateList
				CROSS JOIN M_Line_Order
		WHERE	(datename(weekday, DateLabel) <> 'Saturday' and datename(weekday, DateLabel) <> 'Sunday')
		UNION
		SELECT  DateLabel as Tgl, 'N' as Shifts, LEFT(datename(weekday, DateLabel),3) as Hari, LineOrderCode
		FROM    @DateList 
				CROSS JOIN M_Line_Order
		WHERE	(datename(weekday, DateLabel) <> 'Saturday' and datename(weekday, DateLabel) <> 'Sunday')
		UNION
		SELECT  CalendarDate as Tgl, LEFT([Shift],1) as Shifts, LEFT(datename(weekday, CalendarDate),3) as Hari, LineOrderCode
		FROM    M_Calendar
		WHERE	CalendarStatus = '1'
				and	CONVERT(nvarchar(4), CalendarDate, 112) = LEFT(@Periode_ID, 4)
				and CalendarDate < @EndOfMonth
	)x
	WHERE	CONVERT(nvarchar(8), x.Tgl, 112) + x.LineOrderCode NOT IN
			(
				SELECT  CONVERT(nvarchar(8), CalendarDate, 112) + LineOrderCode
				FROM    M_Calendar
				WHERE	CalendarStatus = '0'
						and	CONVERT(nvarchar(4), CalendarDate, 112) = LEFT(@Periode_ID, 4)
						and CalendarDate < @EndOfMonth
			)
	GROUP BY	x.Tgl, x.Hari, x.Shifts, x.LineOrderCode


	SELECT	LineOrderCode, CONVERT(nvarchar(6), Tgl, 112) as Periode, COUNT(Tgl)/2 as TotalDays
			INTO #CalcWD
	FROM	#TempCalendar
	GROUP BY	LineOrderCode, CONVERT(nvarchar(6), Tgl, 112)
	ORDER BY	LineOrderCode, Periode


	SELECT	a.ExCore, d.LineOrderCode, e.Periode_ID,
			--e.Periode_ID, e.Unique_No, e.Qty, a.QtyPerUnit, c.RatioGrade, 
			SUM(e.Qty * a.QtyPerUnit * CASE WHEN c.RatioGrade = 0 THEN 1 ELSE c.RatioGrade END/100) as Total_Qty
			INTO #TempCPL
	FROM	M_CPL a
			INNER JOIN M_ID_Part b ON a.ExCore = b.ExCore
			INNER JOIN M_Part_Order c ON b.PartOrderID = c.PartOrderID
			INNER JOIN M_Depth d ON b.DepthID = d.DepthID
			INNER JOIN T_Calc_Order_Getsudo e ON d.LineOrderCode = e.LineOrderCode and a.UniqueLineID = e.LineOrderCode + e.Unique_No
	WHERE	a.CPLStatus = 1
			and b.IDPartStatus = 1
			and c.PartOrderStatus = 1
			and REPLACE(e.Periode_ID,'-','') >= CONVERT(nvarchar(6), @Periode_ID, 112)
			--and a.ExCore = 'ECD10200001'
			--and e.Unique_No = '481'
	GROUP BY	a.ExCore, d.LineOrderCode, e.Periode_ID
			
			
	SELECT	e.Periode_ID as Periode, a.ExCore, b.QtyPerBox, b.QtyBoxPerM3, d.LineOrderCode, b.SupplierCode, c.SupplierAlias, c.SupplierName, a.DockCode, e.RouteCode, 
			f.Total_Qty/b.QtyPerBox as OrderBox,
			CEILING((f.Total_Qty/b.QtyPerBox)/g.TotalDays) as OrderBoxDaily,
			(CEILING((f.Total_Qty/b.QtyPerBox)/g.TotalDays)/b.QtyBoxPerM3) as M3,
			h.Capacity,
			CEILING((f.Total_Qty/b.QtyPerBox)/g.TotalDays)/b.QtyBoxPerM3/h.Capacity as KebTruck
			INTO #TempKebut
	FROM	M_ID_Part a
			INNER JOIN M_Part_Order b ON a.PartOrderID = b.PartOrderID
			INNER JOIN M_Supplier c ON b.SupplierCode = c.SupplierCode
			INNER JOIN M_Depth d ON a.DepthID = d.DepthID
			INNER JOIN M_Part_Route_Future e ON a.ExCore = e.ExCore
			INNER JOIN #TempCPL f ON a.ExCore = f.ExCore and d.LineOrderCode = f.LineOrderCode and e.Periode_ID = f.Periode_ID
			INNER JOIN #CalcWD g ON d.LineOrderCode = g.LineOrderCode and REPLACE(e.Periode_ID,'-','') = g.Periode
			INNER JOIN M_Data_Route h ON h.RouteCode = e.RouteCode
	WHERE	a.IDPartStatus = 1
			and	b.PartOrderStatus = 1
			and	c.SupplierStatus = 1
			and	d.DepthStatus = 1
			and	e.PartRouteStatus = 1
			and REPLACE(e.Periode_ID,'-','') >= CONVERT(nvarchar(6), @Periode_ID, 112)
	ORDER BY	a.ExCore


	SELECT	Periode, RouteCode, 
			CASE WHEN LEFT(RouteCode, 6) = 'DIRECT' THEN 2 ELSE CEILING(SUM(KebTruck)) END as TotalCycle,
			CEILING(CASE WHEN LEFT(RouteCode, 6) = 'DIRECT' THEN 2 ELSE CEILING(SUM(KebTruck)) END/2) as Last_First_Cycle,
			CASE WHEN LEFT(RouteCode, 6) = 'DIRECT' THEN 2 ELSE CEILING(SUM(KebTruck)) END - CEILING(CASE WHEN LEFT(RouteCode, 6) = 'DIRECT' THEN 2 ELSE CEILING(SUM(KebTruck)) END/2) as Last_Second_Cycle
			INTO #TempKebut1
	FROM	#TempKebut
	GROUP BY	Periode, RouteCode
	

	SELECT	DISTINCT 
			a.RouteCode, 
			b.DockCode,
			a.TotalCycle,
			a.Last_First_Cycle,
			a.Last_Second_Cycle,
			a.Periode
			INTO #TempKebut2
	FROM	#TempKebut1 a
			INNER JOIN #TempKebut b ON a.Periode = b.Periode and a.RouteCode = b.RouteCode
	--WHERE	a.RouteCode = 'M2EJIP'

	
	INSERT INTO M_Cycle_Issue_LP_Future
	SELECT	a.CycleIssueID,
			a.RouteCode, 
			a.DockCode,
			a.Operation,
			ROW_NUMBER()OVER(PARTITION BY a.Periode, a.RouteCode, a.DockCode ORDER BY a.Periode, a.RouteCode, a.DockCode, a.Operation) as CycleArrival,
			NULL as TimeArrival,
			a.Periode,
			0, 
			@UserLogin, 
			GETDATE(),
			NULL
	FROM
	(
		SELECT	a.RouteCode + 'D' + 
					RIGHT('0' + CAST(ROW_NUMBER()OVER(PARTITION BY a.Periode, a.RouteCode, a.DockCode ORDER BY a.Periode, a.RouteCode, a.DockCode) as nvarchar(10)), 2) as CycleIssueID,
				a.RouteCode,
				a.DockCode,
				'Day' as Operation,
				a.Periode
		FROM	#TempKebut2 a
				INNER JOIN MasterNumber b ON b.Number < a.Last_First_Cycle
		--WHERE	a.RouteCode = 'M2EJIP'
		UNION ALL
		SELECT	a.RouteCode + 'N' + 
					RIGHT('0' + CAST(ROW_NUMBER()OVER(PARTITION BY a.Periode, a.RouteCode, a.DockCode ORDER BY a.Periode, a.RouteCode, a.DockCode) as nvarchar(10)), 2) as CycleIssueID,
				a.RouteCode, 
				a.DockCode,
				'Night' as Operation,
				a.Periode
		FROM	#TempKebut2 a
				INNER JOIN MasterNumber b ON b.Number < a.Last_Second_Cycle
		--WHERE	a.RouteCode = 'M2EJIP'
	)a
	ORDER BY	a.Periode, 
				a.RouteCode, 
				a.DockCode,
				a.Operation
	

	-----------------------------------------------------------------------------------------------------------------------
	-----------------------------------------------------------------------------------------------------------------------


	SELECT	a.Periode, a.SupplierCode, a.SupplierAlias, a.SupplierName, a.RouteCode, b.TotalCycle, 
			SUM(a.M3) as M3,
			CASE WHEN LEFT(a.RouteCode,6) = 'DIRECT' THEN 2 ELSE
				CASE WHEN SUM(a.M3) < b.TotalCycle THEN CEILING(SUM(a.M3)) ELSE b.TotalCycle END
			END as Cycle,
			CASE WHEN LEFT(a.RouteCode,6) = 'DIRECT' THEN SUM(a.KebTruck)/2 ELSE
				SUM(a.KebTruck)/CASE WHEN SUM(a.M3) < b.TotalCycle THEN CEILING(SUM(a.M3)) ELSE b.TotalCycle END
			END as VolPerCycle,
			--CASE WHEN SUM(a.M3) < b.TotalCycle THEN CEILING(SUM(a.M3)) ELSE b.TotalCycle END as Cycle,
			--SUM(a.KebTruck)/CASE WHEN SUM(a.M3) < b.TotalCycle THEN CEILING(SUM(a.M3)) ELSE b.TotalCycle END as VolPerCycle,
			c.Last_First_Cycle as D, c.Last_Second_Cycle as N
			INTO #TempCIPart
	FROM	#TempKebut a
			INNER JOIN #TempKebut1 b ON a.Periode = b.Periode and a.RouteCode = b.RouteCode
			INNER JOIN #TempKebut2 c ON a.Periode = c.Periode and a.RouteCode = c.RouteCode and a.DockCode = c.DockCode
	GROUP BY	a.Periode, a.SupplierCode, a.SupplierAlias, a.SupplierName, a.RouteCode, b.TotalCycle, 
				c.Last_First_Cycle, c.Last_Second_Cycle

				
	SELECT	a.Periode, a.SupplierCode, a.SupplierAlias, a.SupplierName, a.RouteCode, a.TotalCycle, a.M3, a.Cycle, a.VolPerCycle, a.D, a.N, a.UrutanCycle,
			ROW_NUMBER()OVER(PARTITION BY a.Periode, a.RouteCode, a.SupplierCode ORDER BY a.Periode, a.RouteCode, a.SupplierCode, a.UrutanCycle) as TotalData
			INTO #TempCIPart1
	FROM
	(
		SELECT	a.*, c.Number + 1 as UrutanCycle
		FROM	#TempCIPart a
				INNER JOIN MasterNumber c ON c.Number < a.D and c.Number < a.Cycle/2
		UNION ALL
		SELECT	a.*, c.Number + 1 + a.D as UrutanCycle
		FROM	#TempCIPart a
				INNER JOIN MasterNumber c ON c.Number < a.N and c.Number < a.Cycle/2
	)a	
	GROUP BY	a.Periode, a.SupplierCode, a.SupplierAlias, a.SupplierName, a.RouteCode, a.TotalCycle, a.M3, a.Cycle, a.VolPerCycle, a.D, a.N, a.UrutanCycle
	ORDER BY	a.Periode, a.RouteCode, a.SupplierCode, a.UrutanCycle


	SELECT	a.Periode, a.SupplierCode, a.SupplierAlias, a.SupplierName, a.RouteCode, a.TotalCycle, a.M3, a.Cycle, a.VolPerCycle, a.D, a.N, a.UrutanCycle
			INTO #TempCIPart2
	FROM	#TempCIPart1 a
	WHERE	a.TotalData <= a.Cycle

	
	
	TRUNCATE TABLE T_IDLIst;
	
	DECLARE		@loop		int,
				@Periode	nvarchar(7),
				@RouteCode	nvarchar(10)

	DECLARE Calc_CursorA CURSOR FOR 
	SELECT	DISTINCT Periode, RouteCode
	FROM	#TempCIPart2
	WHERE	LEFT(RouteCode,6) <> 'DIRECT'
			and D > 0
	ORDER BY	Periode, RouteCode

	OPEN Calc_CursorA

	FETCH NEXT FROM Calc_CursorA 
	INTO	@Periode, @RouteCode

	WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT	*, ROW_NUMBER() OVER(ORDER BY Periode, RouteCode, UrutanCycle, M3 DESC) as rn 
				INTO #TempCIPart3a
		FROM	#TempCIPart2
		WHERE	UrutanCycle <= D 
				and RouteCode = @RouteCode and Periode = @Periode
		
		TRUNCATE TABLE T_IDLIst_Temp;
	
		SET @loop = 0

		WHILE EXISTS (
			SELECT	a.*
			FROM	#TempCIPart3a a
					LEFT JOIN T_IDLIst_Temp b ON a.Periode = b.Periode and a.RouteCode = b.RouteCode and a.SupplierCode = b.SupplierCode and a.rn = b.rn1
			WHERE	b.rn1 IS NULL
		)
		BEGIN
			SELECT	a.*
					INTO #TempCIPart4a
			FROM	#TempCIPart3a a
					LEFT JOIN T_IDLIst_Temp b ON a.Periode = b.Periode and a.RouteCode = b.RouteCode and a.SupplierCode = b.SupplierCode and a.rn = b.rn1
			WHERE	b.rn1 IS NULL;

			WITH 
			DATAS as (
				SELECT	Periode, SupplierCode, SupplierAlias, SupplierName, RouteCode, TotalCycle, M3, Cycle, VolPerCycle, D, N, rn,
						CASE WHEN UrutanCycle < 1 + @loop THEN UrutanCycle + @loop ELSE UrutanCycle END as UrutanCycle, 
						ROW_NUMBER() OVER(ORDER BY Periode, RouteCode, CASE WHEN UrutanCycle < 1 + @loop THEN UrutanCycle + @loop ELSE UrutanCycle END, M3 DESC) as rn1
				FROM	#TempCIPart4a
			),
			rec as (
				SELECT d.*, CAST(VolPerCycle as float) as cumul, CAST(VolPerCycle as float) as trf FROM DATAS d WHERE rn1 = 1
				UNION all
				SELECT d.*, CASE 
							WHEN CAST(r.cumul as float) + CAST(d.VolPerCycle as float) > 1 THEN CAST(r.cumul as float)
							ELSE CAST(r.cumul as float) + CAST(d.VolPerCycle as float)
							END, 
							CASE 
							WHEN CAST(r.cumul as float) + CAST(d.VolPerCycle as float) > 1 THEN CAST(0 as float)
							ELSE CAST(d.VolPerCycle as float)
							END as trf
				FROM rec r inner join DATAS d on d.rn1 = r.rn1 + 1
			)
			SELECT * 
			INTO #Temp1a 
			FROM rec WHERE trf > 0
			OPTION (maxrecursion 200);
			
			
			INSERT INTO T_IDLIst_Temp
			SELECT	Periode,
					SupplierCode,
					SupplierAlias,
					SupplierName,
					RouteCode,
					TotalCycle,
					M3,
					Cycle,
					VolPerCycle,
					D,
					N,
					UrutanCycle,
					rn
			FROM	#Temp1a
			
			INSERT INTO T_IDLIst
			SELECT	Periode,
					SupplierCode,
					SupplierAlias,
					SupplierName,
					RouteCode,
					TotalCycle,
					M3,
					Cycle,
					VolPerCycle,
					D,
					N,
					UrutanCycle,
					rn,
					'D'
			FROM	#Temp1a

			SET @loop = @loop + 1

			DROP TABLE #TempCIPart4a
			DROP TABLE #Temp1a
		END
		
		UPDATE	T_IDLIst 
		SET		UrutanCycle = D
		WHERE	Periode = @Periode and RouteCode = @RouteCode and Operation = 'D' and UrutanCycle > D

		FETCH NEXT FROM Calc_CursorA 
		INTO	@Periode, @RouteCode

		DROP TABLE #TempCIPart3a
	END
	CLOSE Calc_CursorA
	DEALLOCATE Calc_CursorA

	-----------------------------------------------------------------------------------------------
	
	DECLARE Calc_CursorB CURSOR FOR 
	SELECT	DISTINCT Periode, RouteCode
	FROM	#TempCIPart2
	WHERE	LEFT(RouteCode,6) <> 'DIRECT'
			and N > 0
	ORDER BY	Periode, RouteCode

	OPEN Calc_CursorB

	FETCH NEXT FROM Calc_CursorB 
	INTO	@Periode, @RouteCode

	WHILE @@FETCH_STATUS = 0
	BEGIN
		SELECT	*, ROW_NUMBER() OVER(ORDER BY Periode, RouteCode, UrutanCycle, M3 DESC) as rn 
				INTO #TempCIPart3b
		FROM	#TempCIPart2
		WHERE	UrutanCycle > D 
				and RouteCode = @RouteCode and Periode = @Periode
		
		TRUNCATE TABLE T_IDLIst_Temp;
	
		SET @loop = 0

		WHILE EXISTS (
			SELECT	a.*
			FROM	#TempCIPart3b a
					LEFT JOIN T_IDLIst_Temp b ON a.Periode = b.Periode and a.RouteCode = b.RouteCode and a.SupplierCode = b.SupplierCode and a.rn = b.rn1
			WHERE	b.rn1 IS NULL
		)
		BEGIN
			SELECT	a.*
					INTO #TempCIPart4b
			FROM	#TempCIPart3b a
					LEFT JOIN T_IDLIst_Temp b ON a.Periode = b.Periode and a.RouteCode = b.RouteCode and a.SupplierCode = b.SupplierCode and a.rn = b.rn1
			WHERE	b.rn1 IS NULL;


			WITH 
			DATAS as (
				SELECT	Periode, SupplierCode, SupplierAlias, SupplierName, RouteCode, TotalCycle, M3, Cycle, VolPerCycle, D, N, rn,
						CASE WHEN UrutanCycle < 4 + @loop THEN UrutanCycle + @loop ELSE UrutanCycle END as UrutanCycle, 
						ROW_NUMBER() OVER(ORDER BY Periode, RouteCode, CASE WHEN UrutanCycle < 4 + @loop THEN UrutanCycle + @loop ELSE UrutanCycle END, M3 DESC) as rn1
				FROM	#TempCIPart4b
			),
			rec as (
				SELECT d.*, CAST(VolPerCycle as float) as cumul, CAST(VolPerCycle as float) as trf FROM DATAS d WHERE rn1 = 1
				UNION all
				SELECT d.*, CASE 
							WHEN CAST(r.cumul as float) + CAST(d.VolPerCycle as float) > 1 THEN CAST(r.cumul as float)
							ELSE CAST(r.cumul as float) + CAST(d.VolPerCycle as float)
							END, 
							CASE 
							WHEN CAST(r.cumul as float) + CAST(d.VolPerCycle as float) > 1 THEN CAST(0 as float)
							ELSE CAST(d.VolPerCycle as float)
							END as trf
				FROM rec r inner join DATAS d on d.rn1 = r.rn1 + 1
			)
			SELECT * 
			INTO #Temp1b
			FROM rec WHERE trf > 0
			OPTION (maxrecursion 200);
			
			
			INSERT INTO T_IDLIst_Temp
			SELECT	Periode,
					SupplierCode,
					SupplierAlias,
					SupplierName,
					RouteCode,
					TotalCycle,
					M3,
					Cycle,
					VolPerCycle,
					D,
					N,
					UrutanCycle,
					rn
			FROM	#Temp1b
			
			INSERT INTO T_IDLIst
			SELECT	Periode,
					SupplierCode,
					SupplierAlias,
					SupplierName,
					RouteCode,
					TotalCycle,
					M3,
					Cycle,
					VolPerCycle,
					D,
					N,
					UrutanCycle,
					rn,
					'N'
			FROM	#Temp1b

			SET @loop = @loop + 1

			DROP TABLE #TempCIPart4b
			DROP TABLE #Temp1b
		END

		FETCH NEXT FROM Calc_CursorB 
		INTO	@Periode, @RouteCode

		DROP TABLE #TempCIPart3b
	END
	CLOSE Calc_CursorB
	DEALLOCATE Calc_CursorB

	
	INSERT INTO T_IDLIst
	SELECT	Periode,
			SupplierCode,
			SupplierAlias,
			SupplierName,
			RouteCode,
			TotalCycle,
			M3,
			Cycle,
			VolPerCycle,
			D,
			N,
			UrutanCycle,
			UrutanCycle as rn,
			'D'
	FROM	#TempCIPart2
	WHERE	LEFT(RouteCode,6) = 'DIRECT'
			and UrutanCycle = 1


	INSERT INTO T_IDLIst
	SELECT	Periode,
			SupplierCode,
			SupplierAlias,
			SupplierName,
			RouteCode,
			TotalCycle,
			M3,
			Cycle,
			VolPerCycle,
			D,
			N,
			UrutanCycle,
			UrutanCycle as rn,
			'N'
	FROM	#TempCIPart2
	WHERE	LEFT(RouteCode,6) = 'DIRECT'
			and UrutanCycle > 1

			
	SELECT	a.*, b.ExCore
			INTO #TempCIPart3
	FROM	T_IDLIst a
			INNER JOIN #TempKebut b ON a.Periode = b.Periode and a.SupplierCode = b.SupplierCode and a.RouteCode = b.RouteCode
	ORDER BY	a.Operation, a.UrutanCycle, a.SupplierAlias

	
	INSERT INTO M_Cycle_Issue_Part_Future
	SELECT	a.ExCore,
			a.RouteCode + a.Operation + 
			RIGHT('0' + CAST(CASE WHEN a.Operation = 'D' THEN a.UrutanCycle ELSE a.UrutanCycle - D END as nvarchar(10)),2),
			--a.RouteCode + a.DN + 
			--	RIGHT('0' + CAST(DENSE_RANK()OVER(PARTITION BY a.Periode, a.RouteCode, a.DN ORDER BY a.Periode, a.RouteCode, a.DN, a.New_UrutanCycle) as  nvarchar(10)), 2),
			a.Periode,
			NULL,
			0,
			@UserLogin,
			GETDATE(),
			NULL
	FROM	#TempCIPart3 a
	ORDER BY	a.Periode, a.RouteCode, a.Operation, RIGHT('0' + CAST(CASE WHEN a.Operation = 'D' THEN a.UrutanCycle ELSE a.UrutanCycle - D END as nvarchar(10)),2), a.ExCore


	DROP TABLE #TempCIPart3
	DROP TABLE #TempCIPart2
	DROP TABLE #TempCIPart1
	DROP TABLE #TempCIPart
	DROP TABLE #TempKebut2
	DROP TABLE #TempKebut1
	DROP TABLE #TempKebut
	DROP TABLE #TempCPL
	DROP TABLE #TempCalendar
	DROP TABLE #CalcWD
END

