USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_Daily_Order_DDMI]    Script Date: 6/3/2026 3:08:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Inq_T_Daily_Order_DDMI]
-- =============================================
ALTER   PROCEDURE [dbo].[sp_Inq_T_Daily_Order_DDMI]
    @Periode VARCHAR(7)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
		h.UploadDate, h.DnNo, h.SupplierCode, h.SupplierName, 
		h.OrderDate, h.OrderTime, h.CycleIssue, h.CycleNumber,
		h.DeliveryDate, h.DeliveryTime, h.DockCode,
		d.ItemNo, d.BackNo, d.PartNo, d.PartName, d.QtyPerBox, d.TotalQty, d.ActualKanban
	FROM T_Daily_Order_DDMI_Headers h
	INNER JOIN T_Daily_Order_DDMI_Details d ON h.Id = d.HeaderId
	WHERE FORMAT(h.UploadDate, 'yyyy-MM') = @Periode
	ORDER BY h.DnNo, d.ItemNo
END