USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_T_Daily_Order_DDMI]    Script Date: 6/3/2026 4:51:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Upload_T_Daily_Order_DDMI]
-- =============================================
ALTER   PROCEDURE [dbo].[sp_Upload_T_Daily_Order_DDMI]
    @UploadDate DATE,
    @PIC_ID NVARCHAR(100),
    @OrderData dbo.T_Daily_Order_DDMI_Type READONLY,
    @Remarks NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

        IF EXISTS (SELECT 1 FROM T_Daily_Order_DDMI_Headers WHERE CAST(UploadDate AS DATE) = @UploadDate)
        BEGIN
            SET @Remarks = 'Data for ' + CONVERT(VARCHAR, @UploadDate, 23) + ' has already been uploaded. Please delete the data in the grid first.';
            RETURN;
        END

        INSERT INTO T_Daily_Order_DDMI_Headers (
            DnNo, SupplierCode, SupplierName, Location, OrderDate, OrderTime, 
            DeliveryDate, DeliveryTime, Distribution, DockCode, CycleIssue, CycleNumber, 
            Rev, Page, Remark, SupplierApprovedBy, SupplierPreparedBy, 
            TransporterDeliveryBy, TransporterReceiverBy, DdmiReceiverBy, DdmiOrderBy, UploadBy
        )
        SELECT DISTINCT 
            DnNo, SupplierCode, SupplierName, Location, OrderDate, OrderTime, 
            DeliveryDate, DeliveryTime, Distribution, DockCode, CycleIssue, CycleNumber, 
            Rev, Page, Remark, SupplierApprovedBy, SupplierPreparedBy, 
            TransporterDeliveryBy, TransporterReceiverBy, DdmiReceiverBy, DdmiOrderBy, @PIC_ID
        FROM @OrderData od
        WHERE NOT EXISTS (
            SELECT 1 FROM T_Daily_Order_DDMI_Headers h WHERE h.DnNo = od.DnNo
        );

		INSERT INTO T_Daily_Order_DDMI_Details (
            HeaderId, ItemNo, BackNo, PartNo, PartName, QtyPerBox, TotalKanban, TotalQty, ActualKanban, LackKanban
        )
        SELECT 
            h.Id, od.ItemNo, od.BackNo, od.PartNo, od.PartName, od.QtyPerBox, od.TotalKanban, od.TotalQty, od.ActualKanban, od.LackKanban
        FROM @OrderData od
        INNER JOIN T_Daily_Order_DDMI_Headers h ON h.DnNo = od.DnNo
        WHERE NOT EXISTS (
            SELECT 1 FROM T_Daily_Order_DDMI_Details d 
            WHERE d.HeaderId = h.Id AND d.ItemNo = od.ItemNo AND d.PartNo = od.PartNo
        );

        SET @Remarks = '';
    END TRY
    BEGIN CATCH
        SET @Remarks = ERROR_MESSAGE();
    END CATCH
END