USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Suffix_to_Unique_Del]    Script Date: 6/2/2026 9:23:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 3. SP DELETE Suffix to Unique (DEL)
-- ==============================================

ALTER   PROCEDURE [dbo].[sp_M_Suffix_to_Unique_Del]
(
	@SuffixId VARCHAR(10),
    @Remarks VARCHAR(100) OUTPUT
)

AS
BEGIN
	SET NOCOUNT ON;
    BEGIN TRY

		IF EXISTS (SELECT 1 FROM M_Suffix_to_Unique WHERE SuffixId = @SuffixId)
        BEGIN
            IF EXISTS (SELECT 1 FROM M_Suffix_to_Unique WHERE SuffixId = @SuffixId AND IsActive = 1)
            BEGIN
                SET @Remarks = 'Data is still Active. Please deactivate it first.';
            END
            ELSE
            BEGIN
                DELETE FROM M_Suffix_to_Unique WHERE SuffixId = @SuffixId;
                SET @Remarks = 'Success';
            END
        END
        ELSE
        BEGIN
            SET @Remarks = 'Not Found';
        END

    END TRY
    BEGIN CATCH
        SET @Remarks = ERROR_MESSAGE();
    END CATCH
END

