USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Jobs_Calc_Anbunka2]    Script Date: 07/04/2026 11:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_Jobs_Calc_Anbunka2] 
	@Periode_ID			nvarchar(8),
	@User_Login			nvarchar(50)

AS
BEGIN
	SET NOCOUNT ON;
	
	DELETE T_Calc_Skema_Pickup WHERE Periode_ID = @Periode_ID
	DELETE T_Calc_Kebutuhan WHERE Periode_ID = @Periode_ID
	DELETE T_Calc_Part_PerCycle WHERE Periode_ID = @Periode_ID
	DELETE T_TN WHERE Periode_ID = @Periode_ID
	DELETE T_DN WHERE Periode_ID = @Periode_ID
	
	DELETE T_Temp_Skema_Before WHERE Periode_ID = @Periode_ID

	BEGIN TRY
		BEGIN TRAN
			
			IF NOT EXISTS(
				SELECT TOP(1) Periode_ID FROM T_Calc_Produksi_PL WHERE Periode_ID = @Periode_ID
				UNION ALL
				SELECT TOP(1) Periode_ID FROM T_Calc_Plan_Supply_PL WHERE Periode_ID = @Periode_ID
				UNION ALL
				SELECT TOP(1) Periode_ID FROM T_Calc_Produksi_NonPL WHERE CONVERT(nvarchar(8), Prod_Date,112) >= @Periode_ID
				UNION ALL
				SELECT TOP(1) Periode_ID FROM T_Calc_Plan_Supply_NonPL WHERE CONVERT(nvarchar(8), Prod_Date,112) >= @Periode_ID
			)
			BEGIN
				INSERT INTO T_Status SELECT 'Calc2', 'Error', 'Please calc Group 1 first!', @Periode_ID, GETDATE(), @User_Login
				SELECT 'Please calc Group 1 first!' as Remarks
			END
			ELSE
			BEGIN
				EXEC [sp_Calc_Skema_Pickup] @Periode_ID, @User_Login
				EXEC [sp_Calc_Kebutuhan] @Periode_ID, @User_Login
				EXEC [sp_Calc_Part_PerCycle] @Periode_ID, @User_Login
				EXEC [sp_Calc_T_TN] @Periode_ID, @User_Login
				EXEC [sp_Calc_T_DN] @Periode_ID, @User_Login
				
				INSERT INTO T_Status SELECT 'Calc2', 'Success', '', @Periode_ID, GETDATE(), @User_Login
				
				SELECT 'success' as Remarks
			END

		COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK TRAN
		
		INSERT INTO T_Status SELECT 'Calc2', 'Error', LEFT(ERROR_MESSAGE(),200), @Periode_ID, GETDATE(), @User_Login
	END CATCH
END
