USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_Monitoring_SKID]    Script Date: 01/04/2026 01:36:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_Inq_Monitoring_SKID] 
	@DeliveryDate date
AS
BEGIN
	SET NOCOUNT ON;

	WITH DataSum AS (
		SELECT	PI_No,
				DN_No,
				ExCore,
				Job_No,
				SUM(Total_Kanban) AS Total_Kanban
		FROM	T_DN
		WHERE	DN_Schedule_Delivery_Date = @DeliveryDate
				and ISNULL(PI_No,'') <> ''
		GROUP BY PI_No, DN_No, ExCore, Job_No
	)
	SELECT	x.PI_No,
			x.DN_No,
			x.ExCore,
			x.Job_No,
			RIGHT('000' + CAST(x.rn AS VARCHAR(3)), 3) AS KanbanSeq,
			x.DN_No + ' | ' + x.ExCore + ' | ' + x.Job_No as Groups,
			ISNULL(b.SKID_ID,'') as SKID_ID,
			ISNULL(b.PI_No,'') as PI_No_Act,
			ISNULL(b.DN_No,'') as DN_No_Act,
			ISNULL(b.ExCore,'') as ExCore_Act,
			ISNULL(b.Job_No,'') as Job_No_Act,
			ISNULL(b.KanbanSeq,'') as KanbanSeq_Act,
			CASE
			WHEN ISNULL(b.SKID_ID,'') = '' THEN 0
			ELSE 1
			END as Qty_Act
	FROM	(
		SELECT	d.PI_No,
				d.DN_No,
				d.ExCore,
				d.Job_No,
				ROW_NUMBER() OVER (
					PARTITION BY d.PI_NO, d.DN_No, d.ExCore, d.Job_No
					ORDER BY m.number
				) AS rn
		FROM	DataSum d
				CROSS APPLY (
					SELECT TOP (d.Total_Kanban) number
					FROM MasterNumber m
					ORDER BY number
				) m
	) x
	LEFT JOIN T_SKID b on x.PI_No = b.PI_No and x.DN_No = b.DN_No and x.ExCore = b.ExCore and x.Job_No = b.Job_No and x.rn = CAST(b.KanbanSeq as int)
	ORDER BY x.PI_No, x.DN_No, x.ExCore, x.Job_No, x.rn
END
