USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_GR_Vendor]    Script Date: 06/04/2026 01:10:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_Inq_GR_Vendor] 
	@Type		nvarchar(50),
	@DN_No		nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	IF (@Type = 'Partial') and EXISTS (SELECT * FROM T_TN WHERE TN_No = @DN_No)
	BEGIN
		SELECT 'Error~TN must be fully received'
	END
	ELSE IF (@Type IN ('Full', 'Partial')) and EXISTS (SELECT * FROM T_SKID WHERE SKID_ID = @DN_No)
	BEGIN
		SELECT 'Error~Please select SKID mode'
	END
	ELSE IF EXISTS (
		SELECT 1
		FROM (
			SELECT d.DN_No, d.SKID_ID
			FROM (
				SELECT	a.DN_No, 
						a.Part_No,
						SUM(a.Total_Kanban) AS Total_Kanban,
						ISNULL(b.SKID_ID, '') AS SKID_ID
				FROM	T_DN a
						LEFT JOIN T_SKID b on a.DN_No = b.DN_No and a.Part_No = b.Part_No and a.Job_No = b.Job_No and a.ExCore = b.ExCore
				WHERE	ISNULL(DN_Status, 1) = 1
				GROUP BY a.DN_No, a.Part_No, ISNULL(b.SKID_ID, '')
			) d
			LEFT JOIN (
				SELECT	DN_No, 
						Part_No, 
						SUM(GR_Qty) AS Total_GR
				FROM	T_GR
				GROUP BY DN_No, Part_No
			) g ON d.DN_No = g.DN_No AND d.Part_No = g.Part_No
			GROUP BY d.DN_No, d.SKID_ID
			HAVING COUNT(*) = SUM(CASE WHEN d.Total_Kanban = ISNULL(g.Total_GR, 0) THEN 1 ELSE 0 END)
		) AS t
		WHERE (t.DN_No = @DN_No and @Type IN ('Full', 'Partial')) or (t.SKID_ID = @DN_No and @Type = 'SKID')
	)
	BEGIN
		SELECT 'Error~DN already fully received'
	END
	ELSE IF EXISTS (SELECT * FROM T_GR a JOIN T_TN b on a.DN_No = b.TN_No and a.Part_No = b.RouteCode WHERE a.DN_No = @DN_No)
	BEGIN
		SELECT 'Error~TN already fully received'
	END
	ELSE IF (
		(SELECT COUNT(*) FROM T_DN WHERE DN_No = @DN_No) = 0
		and (SELECT COUNT(*) FROM T_TN WHERE TN_No = @DN_No) = 0
		and (SELECT COUNT(*) FROM T_SKID a JOIN T_DN b on a.DN_No = b.DN_No and a.Part_No = b.Part_No and a.Job_No = b.Job_No and a.ExCore = b.ExCore WHERE a.SKID_ID = @DN_No) = 0
	)
	BEGIN
		SELECT 'Error~DN/TN/SKID not found'
	END
	ELSE IF NOT EXISTS (
		SELECT DN_No FROM T_DN WHERE DN_No = @DN_No and ISNULL(DN_Status,1) = 1
		UNION ALL
		SELECT TN_No FROM T_TN WHERE TN_No = @DN_No
		UNION ALL
		SELECT b.DN_No FROM T_SKID a JOIN T_DN b on a.DN_No = b.DN_No and a.Part_No = b.Part_No and a.Job_No = b.Job_No and a.ExCore = b.ExCore WHERE a.SKID_ID = @DN_No and ISNULL(b.DN_Status,1) = 1
	)
	BEGIN
		SELECT 'Error~DN cancelled'
	END
	ELSE IF EXISTS (SELECT * FROM T_DN WHERE DN_No = @DN_No and Sync_Date IS NULL)
		or EXISTS (SELECT * FROM T_TN WHERE TN_No = @DN_No and Sync_Date IS NULL)
		or EXISTS (SELECT * FROM T_SKID a JOIN T_DN b on a.DN_No = b.DN_No and a.Part_No = b.Part_No and a.Job_No = b.Job_No and a.ExCore = b.ExCore WHERE a.SKID_ID = @DN_No and b.Sync_Date IS NULL)
	BEGIN
		SELECT 'Error~DN/TN not yet send to EDN'
	END
	ELSE IF EXISTS (SELECT * FROM T_DN WHERE DN_No = @DN_No)
		or EXISTS (SELECT * FROM T_SKID a JOIN T_DN b on a.DN_No = b.DN_No and a.Part_No = b.Part_No and a.Job_No = b.Job_No and a.ExCore = b.ExCore WHERE a.SKID_ID = @DN_No)
	BEGIN
		SELECT	'Success~' + b.SupplierCode + ' - ' + b.SupplierName
		FROM	T_DN a
				JOIN M_Supplier b on a.Supplier_Code = b.SupplierCode
		WHERE	a.DN_No = @DN_No
		GROUP BY 'Success~' + b.SupplierCode + ' - ' + b.SupplierName
		UNION ALL
		SELECT	'Success~' + b.SupplierCode + ' - ' + b.SupplierName
		FROM	T_SKID c
				JOIN T_DN a on c.DN_No = a.DN_No and c.Part_No = a.Part_No and a.Job_No = c.Job_No and a.ExCore = c.ExCore
				JOIN M_Supplier b on a.Supplier_Code = b.SupplierCode
		WHERE	c.SKID_ID = @DN_No
		GROUP BY 'Success~' + b.SupplierCode + ' - ' + b.SupplierName
	END
	ELSE IF EXISTS (SELECT * FROM T_TN WHERE TN_No = @DN_No)
	BEGIN
		SELECT	'Success~' + b.SupplierCode + ' - ' + b.SupplierName
		FROM	T_TN a
				JOIN M_Supplier b on a.SupplierCode = b.SupplierCode
		WHERE	a.TN_No = @DN_No
		GROUP BY 'Success~' + b.SupplierCode + ' - ' + b.SupplierName
	END
	ELSE
	BEGIN
		SELECT 'Error~DN/TN/SKID not found'
	END
END
