USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Calc_PlanSupply_NonPL]    Script Date: 07/04/2026 11:09:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description:	[sp_Calc_PlanSupply_NonPL]
-- =============================================
ALTER PROCEDURE [dbo].[sp_Calc_PlanSupply_NonPL]
	@Periode_ID			nvarchar(8),
	@User_Login			nvarchar(50)
AS

BEGIN
	SET NOCOUNT ON
	
	DECLARE		@Prod_Date						nvarchar(8),
				@Now							datetime
	
	----------------------------------------------------------------------------------------------------
	
	SELECT @Prod_Date = @Periode_ID --CONVERT(nvarchar(8), DATEADD(d, 1, GETDATE()), 112)
	SELECT @Now = GETDATE()
	
	----------------------------------------------------------------------------------------------------
	
	SELECT	a.Groups + ' - ' + a.ExCore as Invalid
			INTO #TempRem
	FROM	T_Calc_Produksi_NonPL a
			LEFT JOIN T_Init_Last_Stock b ON a.ExCore = b.ExCore
	WHERE	b.ExCore IS NULL
	GROUP BY	a.Groups, a.ExCore
	ORDER BY	a.Groups, a.ExCore

	IF EXISTS(
		SELECT	DISTINCT Invalid
		FROM	#TempRem
	)
	BEGIN
		SELECT DISTINCT 'Please maintain Last Stock for : ' + STUFF(ISNULL((
			SELECT	x.Invalid + ', '
			FROM	#TempRem x
			GROUP BY	x.Invalid
			FOR XML PATH (''), TYPE).value('.','VARCHAR(max)'), ''), 1, 0, '') 
		FROM	#TempRem a
	END
	ELSE
	BEGIN
		DECLARE	@Prod_Date_Calc		date,
				@ID_NPL				int,
				@Nos				int,
				@Groups				nvarchar(10),
				@LineOrderCode		nvarchar(10), 
				@ID_NPL_Prev		int,
				@Prod_Date_Prev		date
	
	
		SELECT	DISTINCT 
				'X' as Code, a.Groups, a.Prod_Date, a.ExCore, a.Shift_Code, a.ID_NPL, a.CycleIssueX, a.LineOrderCode --, ROW_NUMBER()OVER(PARTITION BY a.Groups ORDER BY a.Prod_Date, a.ID_NPL) as Nos
				INTO #TempData
		FROM	T_Calc_Produksi_NonPL a
		WHERE	a.Periode_ID = @Periode_ID
				and	a.Groups = 'X>=' + CAST(a.CycleIssueX as nvarchar(10))
		--WHERE	a.Prod_Date >= @Prod_Date
		--EXCEPT	
		--SELECT	'X' as Code, a.Groups, a.Prod_Date, a.ExCore, a.Shift_Code, a.ID_NPL, a.CycleIssueX, a.LineOrderCode --, ROW_NUMBER()OVER(PARTITION BY a.Groups ORDER BY a.Prod_Date, a.ID_NPL) as Nos
		--FROM	T_Calc_Produksi_NonPL a
		--		INNER JOIN T_Calc_Produksi_PL b ON a.Prod_Date = b.Prod_Date and a.Shift_Code = b.Shift_Code 
		--											and a.ExCore = b.ExCore and a.CPLID = b.CPLID and a.Unique_No = b.Unique_No
		--WHERE	a.Prod_Date >= @Prod_Date
		--		and	a.Groups = 'X>=' + CAST(a.CycleIssueX as nvarchar(10))
		--		and b.Periode_ID = @Periode_ID
		--GROUP BY	a.Groups, a.Prod_Date, a.ExCore, a.Shift_Code, a.ID_NPL, a.CycleIssueX, a.LineOrderCode
		----EXCEPT	
		----SELECT	'X' as Code, a.Groups, a.Prod_Date, a.ExCore, a.Shift_Code, a.ID_NPL, a.CycleIssueX, a.LineOrderCode --, ROW_NUMBER()OVER(PARTITION BY a.Groups ORDER BY a.Prod_Date, a.ID_NPL) as Nos
		----FROM	T_Calc_Produksi_NonPL a
		----		INNER JOIN T_Calc_Produksi_PL b ON a.Prod_Date = b.Prod_Date and a.Shift_Code = b.Shift_Code 
		----											and a.ExCore = b.ExCore and a.CPLID = b.CPLID and a.Unique_No = b.Unique_No
		----		INNER JOIN T_Temp_Periode_Before c ON c.Periode_ID_Before = b.Periode_ID and c.LineOrderCode = b.LineOrderCode
		----WHERE	a.Prod_Date >= @Prod_Date
		----		and	a.Groups = 'X>=' + CAST(a.CycleIssueX as nvarchar(10))
		----		and c.Periode_ID = @Prod_Date
		----GROUP BY	a.Groups, a.Prod_Date, a.ExCore, a.Shift_Code, a.ID_NPL, a.CycleIssueX, a.LineOrderCode
		UNION ALL
		SELECT	DISTINCT 
				'Z' as Code, a.Groups, a.Prod_Date, a.ExCore, a.Shift_Code, a.ID_NPL, a.CycleIssueZ, a.LineOrderCode --, ROW_NUMBER()OVER(PARTITION BY a.Groups ORDER BY a.Prod_Date, a.ID_NPL) as Nos
		FROM	T_Calc_Produksi_NonPL a
		WHERE	a.Periode_ID = @Periode_ID
				and	a.Groups = 'Z>=' + CAST(a.CycleIssueZ as nvarchar(10))
		--WHERE	a.Prod_Date >= @Prod_Date
		--EXCEPT	
		--SELECT	'Z' as Code, a.Groups, a.Prod_Date, a.ExCore, a.Shift_Code, a.ID_NPL, a.CycleIssueZ, a.LineOrderCode --, ROW_NUMBER()OVER(PARTITION BY a.Groups ORDER BY a.Prod_Date, a.ID_NPL) as Nos
		--FROM	T_Calc_Produksi_NonPL a
		--		INNER JOIN T_Calc_Produksi_PL b ON a.Prod_Date = b.Prod_Date and a.Shift_Code = b.Shift_Code 
		--											and a.ExCore = b.ExCore and a.CPLID = b.CPLID and a.Unique_No = b.Unique_No
		--WHERE	a.Prod_Date >= @Prod_Date
		--		and	a.Groups = 'Z>=' + CAST(a.CycleIssueZ as nvarchar(10))
		--		and b.Periode_ID = @Periode_ID
		--GROUP BY	a.Groups, a.Prod_Date, a.ExCore, a.Shift_Code, a.ID_NPL, a.CycleIssueZ, a.LineOrderCode
		----EXCEPT	
		----SELECT	'Z' as Code, a.Groups, a.Prod_Date, a.ExCore, a.Shift_Code, a.ID_NPL, a.CycleIssueX, a.LineOrderCode --, ROW_NUMBER()OVER(PARTITION BY a.Groups ORDER BY a.Prod_Date, a.ID_NPL) as Nos
		----FROM	T_Calc_Produksi_NonPL a
		----		INNER JOIN T_Calc_Produksi_PL b ON a.Prod_Date = b.Prod_Date and a.Shift_Code = b.Shift_Code 
		----											and a.ExCore = b.ExCore and a.CPLID = b.CPLID and a.Unique_No = b.Unique_No
		----		INNER JOIN T_Temp_Periode_Before c ON c.Periode_ID_Before = b.Periode_ID and c.LineOrderCode = b.LineOrderCode
		----WHERE	a.Prod_Date >= @Prod_Date
		----		and	a.Groups = 'Z>=' + CAST(a.CycleIssueZ as nvarchar(10))
		----		and c.Periode_ID = @Prod_Date
		----GROUP BY	a.Groups, a.Prod_Date, a.ExCore, a.Shift_Code, a.ID_NPL, a.CycleIssueX, a.LineOrderCode
		UNION ALL
		SELECT	'Y' as Code, Groups, Prod_Date, ExCore, Shift_Code, ID_NPL, ROW_NUMBER()OVER(PARTITION BY Groups ORDER BY Prod_Date, ID_NPL) as Nos, LineOrderCode
		FROM	T_Calc_Produksi_NonPL
		WHERE	Periode_ID = @Periode_ID
				and	Groups = 'NPL'
		--WHERE	Prod_Date >= @Prod_Date
		GROUP BY	Groups, Prod_Date, ExCore, Shift_Code, ID_NPL, LineOrderCode
		ORDER BY	Groups, Prod_Date, ExCore, Shift_Code, ID_NPL


		DECLARE Calc_Cursor_Destination CURSOR FOR 
		SELECT	Groups, Prod_Date, ID_NPL, ROW_NUMBER()OVER(PARTITION BY Groups ORDER BY Prod_Date, ID_NPL) as Nos, LineOrderCode,
				LAG(ID_NPL, 1, 0) OVER (ORDER BY Groups, Prod_Date, ID_NPL) AS ID_NPL_Prev,
				LAG(Prod_Date) OVER (ORDER BY Groups, Prod_Date, ID_NPL) AS Prod_Date_Prev
		FROM	#TempData
		WHERE	Code = 'X'
		GROUP BY	Groups, Prod_Date, ID_NPL, LineOrderCode
		UNION ALL
		SELECT	Groups, Prod_Date, ID_NPL, ROW_NUMBER()OVER(PARTITION BY Groups ORDER BY Prod_Date, ID_NPL) as Nos, LineOrderCode,
				LAG(ID_NPL, 1, 0) OVER (ORDER BY Groups, Prod_Date, ID_NPL) AS ID_NPL_Prev,
				LAG(Prod_Date) OVER (ORDER BY Groups, Prod_Date, ID_NPL) AS Prod_Date_Prev
		FROM	#TempData
		WHERE	Code = 'Z'
		GROUP BY	Groups, Prod_Date, ID_NPL, LineOrderCode
		UNION ALL
		SELECT	Groups, Prod_Date, ID_NPL, ROW_NUMBER()OVER(PARTITION BY Groups ORDER BY Prod_Date, ID_NPL) as Nos, LineOrderCode,
				LAG(ID_NPL, 1, 0) OVER (ORDER BY Groups, Prod_Date, ID_NPL) AS ID_NPL_Prev,
				LAG(Prod_Date) OVER (ORDER BY Groups, Prod_Date, ID_NPL) AS Prod_Date_Prev
		FROM	#TempData
		WHERE	Code = 'Y'
		GROUP BY	Groups, Prod_Date, ID_NPL, LineOrderCode
		ORDER BY	Groups, Prod_Date, ID_NPL

		OPEN Calc_Cursor_Destination

		FETCH NEXT FROM Calc_Cursor_Destination 
		INTO	@Groups, @Prod_Date_Calc, @ID_NPL, @Nos, @LineOrderCode, @ID_NPL_Prev, @Prod_Date_Prev

		WHILE @@FETCH_STATUS = 0
		BEGIN
			SELECT	Groups, LineOrderCode, ID_NPL, Periode_ID, Prod_Date, Shift_Code, ExCore, ProgressLaneID, SUM(Total_Qty * RatioGrade/100) as Produksi, MinStock, RackNumber 
					INTO #TempNonPL
			FROM	T_Calc_Produksi_NonPL
			WHERE	Periode_ID = @Periode_ID
					and	Prod_Date = @Prod_Date_Calc
					and ID_NPL = @ID_NPL
					and Groups = @Groups
					and LineOrderCode = @LineOrderCode
			GROUP BY	Groups, LineOrderCode, ID_NPL, Periode_ID, Prod_Date, Shift_Code, ExCore, ProgressLaneID, MinStock, RackNumber
			ORDER BY	Groups, LineOrderCode, ID_NPL, Periode_ID, Prod_Date, Shift_Code, ExCore

		
			SELECT	a.Periode_ID, a.ExCore, a.QtyLastStock, ROW_NUMBER()OVER(PARTITION BY a.ExCore ORDER BY a.Periode_ID DESC, a.ExCore) as Nos
					INTO #TempNos
			FROM	T_Init_Last_Stock a
					INNER JOIN T_Calc_Produksi_NonPL b ON a.ExCore = b.ExCore
					LEFT JOIN T_Temp_Periode_Before c ON b.LineOrderCode = c.LineOrderCode and c.Periode_ID_Before = a.Periode_ID
			WHERE	b.Groups = @Groups
					--and	LEFT(a.Periode_ID,6) BETWEEN CONVERT(nvarchar(6), DATEADD(m, -1, @Prod_Date), 112) AND CONVERT(nvarchar(6), @Prod_Date, 112)
					--and	((LEFT(a.Periode_ID,6) BETWEEN LEFT(@Periode_ID_Before,6) AND CONVERT(nvarchar(6), @Prod_Date, 112)) or (ISNULL(@Periode_ID_Before,'') = '' and LEFT(a.Periode_ID,6) <= CONVERT(nvarchar(6), @Prod_Date, 112)))
					and	((a.Periode_ID BETWEEN CONVERT(nvarchar(8), c.Periode_ID_Before, 112) AND CONVERT(nvarchar(6), @Prod_Date, 112)) or (ISNULL(CONVERT(nvarchar(8), c.Periode_ID_Before, 112),'') = '' and LEFT(a.Periode_ID,6) <= CONVERT(nvarchar(6), @Prod_Date, 112)))
					--and	a.Periode_ID BETWEEN CONVERT(nvarchar(8), c.Periode_ID_Before, 112) AND CONVERT(nvarchar(8), CAST(@Prod_Date as date), 112)
					and b.LineOrderCode = @LineOrderCode
			GROUP BY	a.Periode_ID, a.ExCore, a.QtyLastStock
			ORDER BY	a.Periode_ID DESC, a.ExCore, a.QtyLastStock


			SELECT	Periode_ID, ExCore, QtyLastStock
					INTO #TempStock
			FROM	#TempNos
			WHERE	Nos = 1


			SELECT	DISTINCT a.Groups,
					a.Prod_Date,
					a.ID_NPL,
					a.Shift_Code,
					a.Periode_ID,
					b.PartGroupingID,
					a.ExCore,
					a.ProgressLaneID,
					b.TypeGroupPart,
					b.GroupingID,
					b.BatchOrderBox, 
					d.QtyPerBox,
				
					e.QtyLastStock,
					a.Produksi, 
					a.MinStock,
					CASE WHEN a.Produksi - (e.QtyLastStock - a.MinStock) < 0 THEN 0 ELSE a.Produksi - (e.QtyLastStock - a.MinStock) END as QtyPcs,
					a.LineOrderCode, 
					a.RackNumber,
					aa.GroupName,

					c.CycleIssueX,
					c.CycleIssueY,
					c.CycleIssueZ
					INTO #TempPcs1
			FROM	#TempNonPL a
					INNER JOIN M_Part_Grouping b ON a.ExCore = b.ExCore
					INNER JOIN M_Grouping aa ON b.GroupingID = aa.GroupingID
					INNER JOIN M_ID_Part c ON b.ExCore = c.ExCore
					INNER JOIN M_Part_Order d ON c.PartOrderID = d.PartOrderID
					INNER JOIN #TempStock e ON a.ExCore = e.ExCore
			WHERE	b.PartGroupingStatus = 1
					and c.IDPartStatus = 1
					and d.PartOrderStatus = 1
					and @Nos = 1
			UNION ALL
			SELECT	DISTINCT a.Groups,
					a.Prod_Date,
					a.ID_NPL,
					a.Shift_Code,
					a.Periode_ID,
					b.PartGroupingID,
					a.ExCore,
					a.ProgressLaneID,
					b.TypeGroupPart,
					b.GroupingID,
					b.BatchOrderBox, 
					d.QtyPerBox,
				
					e.QtyLastStock,
					a.Produksi, 
					a.MinStock,
					CASE WHEN a.Produksi - (e.QtyLastStock - a.MinStock) < 0 THEN 0 ELSE a.Produksi - (e.QtyLastStock - a.MinStock) END as QtyPcs,
					a.LineOrderCode, 
					a.RackNumber,
					aa.GroupName,
					
					c.CycleIssueX,
					c.CycleIssueY,
					c.CycleIssueZ
			FROM	#TempNonPL a
					INNER JOIN M_Part_Grouping b ON a.ExCore = b.ExCore
					INNER JOIN M_Grouping aa ON b.GroupingID = aa.GroupingID
					INNER JOIN M_ID_Part c ON b.ExCore = c.ExCore
					INNER JOIN M_Part_Order d ON c.PartOrderID = d.PartOrderID
					INNER JOIN T_Calc_Plan_Supply_NonPL e ON a.Groups = e.Groups and a.Periode_ID = e.Periode_ID and a.ExCore = e.ExCore 
							and b.PartGroupingID = e.PartGroupingID and e.ID_NPL = @ID_NPL_Prev and e.Prod_Date = @Prod_Date_Prev --and (a.ID_NPL - 1) = e.ID_NPL 
			WHERE	b.PartGroupingStatus = 1
					and c.IDPartStatus = 1
					and d.PartOrderStatus = 1
					and @Nos > 1
			ORDER BY	b.TypeGroupPart, b.GroupingID, b.PartGroupingID
		

			---- Direct ----
			INSERT INTO T_Calc_Plan_Supply_NonPL
			SELECT	DISTINCT a.Groups,
					a.Periode_ID,
					a.Prod_Date,
					a.ID_NPL,
					a.Shift_Code,
					a.PartGroupingID,
					a.ExCore,
					a.TypeGroupPart,
					a.GroupingID,
					a.BatchOrderBox, 
					a.QtyPerBox,
				
					a.QtyLastStock,
					a.Produksi, 
					a.MinStock,

					a.QtyPcs,
					CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as QtyBox,
					CEILING(CAST(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as float)/CAST(a.BatchOrderBox as float)) as QtyBatch,
				
					0 as QtyAdditional,
					0 as QtyAj1,
					0 as QtyAj2,
				
					CEILING(CAST(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as float)/CAST(a.BatchOrderBox as float)) * a.BatchOrderBox as QtyOrder,
					CEILING(CAST(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as float)/CAST(a.BatchOrderBox as float)) * a.BatchOrderBox * a.QtyPerBox as QtyPlanSupply,
					a.QtyLastStock + (CEILING(CAST(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as float)/CAST(a.BatchOrderBox as float)) * a.BatchOrderBox * a.QtyPerBox) - a.Produksi as QtyLastStock,
					
					a.ProgressLaneID,
					@User_Login,
					@Now,
					0,
					NULL,
					NULL,
					NULL,
					a.LineOrderCode, 
					a.RackNumber,
					a.GroupName,
					
					a.CycleIssueX,
					a.CycleIssueY,
					a.CycleIssueZ
			FROM	#TempPcs1 a
			WHERE	a.TypeGroupPart = 'Direct'
			ORDER BY	a.TypeGroupPart, a.GroupingID, a.PartGroupingID
		

			---- Fix ----
			INSERT INTO T_Calc_Plan_Supply_NonPL
			SELECT	a.Groups,
					a.Periode_ID,
					a.Prod_Date,
					a.ID_NPL,
					a.Shift_Code,
					a.PartGroupingID,
					a.ExCore,
					a.TypeGroupPart,
					a.GroupingID,
					a.BatchOrderBox, 
					a.QtyPerBox,
				
					a.QtyLastStock,
					a.Produksi, 
					a.MinStock,

					a.QtyPcs,
					CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as QtyBox,
					CEILING(CAST(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as float)/CAST(a.BatchOrderBox as float)) as QtyBatch,
				
					0 as QtyAdditional,
					0 as QtyAj1,
					0 as QtyAj2,
				
					MAX(CEILING(CAST(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as float)/CAST(a.BatchOrderBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID) * a.BatchOrderBox as QtyOrder,
					MAX(CEILING(CAST(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as float)/CAST(a.BatchOrderBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID) * a.BatchOrderBox * a.QtyPerBox as QtyPlanSupply,
					a.QtyLastStock + (MAX(CEILING(CAST(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as float)/CAST(a.BatchOrderBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID) * a.BatchOrderBox * a.QtyPerBox) - a.Produksi as QtyLastStock,
					
					a.ProgressLaneID,
					@User_Login,
					@Now,
					0,
					NULL,
					NULL,
					NULL,
					a.LineOrderCode, 
					a.RackNumber,
					a.GroupName,
					
					a.CycleIssueX,
					a.CycleIssueY,
					a.CycleIssueZ
			FROM	#TempPcs1 a
			WHERE	a.TypeGroupPart = 'Fix Mix'
			GROUP BY	a.Groups,
						a.Periode_ID,
						a.Prod_Date,
						a.ID_NPL,
						a.Shift_Code,
						a.PartGroupingID,
						a.ExCore,
						a.TypeGroupPart,
						a.GroupingID,
						a.BatchOrderBox, 
						a.QtyPerBox,
				
						a.QtyLastStock,
						a.Produksi, 
						a.MinStock,
						a.QtyPcs,
						a.ProgressLaneID,
						a.LineOrderCode, 
						a.RackNumber,
						a.GroupName,
					
						a.CycleIssueX,
						a.CycleIssueY,
						a.CycleIssueZ
			ORDER BY	a.TypeGroupPart, a.GroupingID, a.PartGroupingID
			

			---- Free ----
			SELECT	DISTINCT a.Groups,
					a.Periode_ID,
					a.Prod_Date,
					a.ID_NPL,
					a.Shift_Code,
					a.PartGroupingID,
					a.ExCore,
					a.ProgressLaneID,
					a.TypeGroupPart,
					a.GroupingID,
					a.BatchOrderBox, 
					a.QtyPerBox,
				
					a.QtyLastStock,
					a.Produksi, 
					a.MinStock,
				
					a.QtyPcs,
					CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as QtyBox,
					CEILING(CAST(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)) as float)/CAST(a.BatchOrderBox as float)) as QtyBatch,
				
					CASE 
					WHEN CAST(SUM(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID) as int) % a.BatchOrderBox = 0 THEN 0
					ELSE a.BatchOrderBox - (CAST(SUM(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID) as int) % a.BatchOrderBox)
					END as QtyAdditional,
					--a.BatchOrderBox - (CAST(SUM(CEILING(CAST(CASE WHEN a.Produksi - (a.QtyLastStock - a.MinStock) < 0 THEN 0 ELSE a.Produksi - (a.QtyLastStock - a.MinStock) END as float)/CAST(a.QtyPerBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID) as int)%a.BatchOrderBox) as QtyAdditional,
					CASE 
					WHEN SUM(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID) = 0 THEN 0
					ELSE CEILING((CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float))/SUM(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID)) * 
						CASE 
						WHEN CAST(SUM(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID) as int) % a.BatchOrderBox = 0 THEN 0
						ELSE a.BatchOrderBox - (CAST(SUM(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID) as int) % a.BatchOrderBox)
						END
					)
					END as QtyAj1,
					SUM(CEILING(CAST(a.QtyPcs as float)/CAST(a.QtyPerBox as float)))OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID) as SumBoxPerGroup,
					a.LineOrderCode, 
					a.RackNumber,
					a.GroupName,
					
					a.CycleIssueX,
					a.CycleIssueY,
					a.CycleIssueZ
					INTO #TempPcs1a
			FROM	#TempPcs1 a
			WHERE	a.TypeGroupPart = 'Free Mix'
			ORDER BY	a.TypeGroupPart, a.GroupingID, a.PartGroupingID
			

			SELECT	DISTINCT a.Groups,
					a.Periode_ID,
					a.Prod_Date,
					a.ID_NPL,
					a.Shift_Code,
					a.PartGroupingID,
					a.ExCore,
					a.ProgressLaneID,
					a.TypeGroupPart,
					a.GroupingID,
					a.BatchOrderBox, 
					a.QtyPerBox,
				
					a.QtyLastStock,
					a.Produksi, 
					a.MinStock,
				
					a.QtyPcs,
					a.QtyBox,
					a.QtyBatch,
				
					a.QtyAdditional,
					a.QtyAj1,
					
					CASE 
					WHEN a.QtyAdditional >= SUM(a.QtyAj1)OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID, a.PartGroupingID) THEN 0
					ELSE a.QtyAdditional - SUM(a.QtyAj1)OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID, a.PartGroupingID) -- - SUM(d.QtyAj2Temp)OVER(PARTITION BY a.TypeGroupPart, a.GroupingID ORDER BY a.TypeGroupPart, a.GroupingID, a.PartGroupingID ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING)
					END as QtyAj2Temp,
					a.LineOrderCode, 
					a.RackNumber,
					a.GroupName,
					
					a.CycleIssueX,
					a.CycleIssueY,
					a.CycleIssueZ
					INTO #TempPcs1b
			FROM	#TempPcs1a a

			
			INSERT INTO T_Calc_Plan_Supply_NonPL
			SELECT	DISTINCT a.Groups,
					a.Periode_ID,
					a.Prod_Date,
					a.ID_NPL,
					a.Shift_Code,
					a.PartGroupingID,
					a.ExCore,
					a.TypeGroupPart,
					a.GroupingID,
					a.BatchOrderBox, 
					a.QtyPerBox,
				
					a.QtyLastStock,
					a.Produksi, 
					a.MinStock,
				
					a.QtyPcs,
					a.QtyBox,
					a.QtyBatch,
				
					--a.QtyAj2Temp,
					a.QtyAdditional,
					a.QtyAj1,
					a.QtyAj2Temp - ISNULL(SUM(QtyAj2Temp) over (partition by a.TypeGroupPart, a.GroupingID order by a.TypeGroupPart, a.GroupingID, a.PartGroupingID rows between 1 preceding and 1 preceding),0) as QtyAj2,
					
					a.QtyBox + a.QtyAj1 + ISNULL(a.QtyAj2Temp - SUM(QtyAj2Temp) over (partition by a.TypeGroupPart, a.GroupingID order by a.TypeGroupPart, a.GroupingID, a.PartGroupingID rows between 1 preceding and 1 preceding),0) as QtyOrder,
					(a.QtyBox + a.QtyAj1 + ISNULL(a.QtyAj2Temp - SUM(QtyAj2Temp) over (partition by a.TypeGroupPart, a.GroupingID order by a.TypeGroupPart, a.GroupingID, a.PartGroupingID rows between 1 preceding and 1 preceding),0)) * a.QtyPerBox as QtyPlanSupply,
					a.QtyLastStock + ((a.QtyBox + a.QtyAj1 + ISNULL(a.QtyAj2Temp - SUM(QtyAj2Temp) over (partition by a.TypeGroupPart, a.GroupingID order by a.TypeGroupPart, a.GroupingID, a.PartGroupingID rows between 1 preceding and 1 preceding),0)) * a.QtyPerBox) - a.Produksi as QtyLastStock,
					
					a.ProgressLaneID,
					@User_Login,
					@Now,
					0,
					NULL,
					NULL,
					NULL,
					a.LineOrderCode, 
					a.RackNumber,
					a.GroupName,
					
					a.CycleIssueX,
					a.CycleIssueY,
					a.CycleIssueZ
			FROM	#TempPcs1b a
			
			DROP TABLE #TempPcs1b
			DROP TABLE #TempPcs1a
			DROP TABLE #TempPcs1
			DROP TABLE #TempNonPL
			DROP TABLE #TempNos
			DROP TABLE #TempStock

			FETCH NEXT FROM Calc_Cursor_Destination 
			INTO	@Groups, @Prod_Date_Calc, @ID_NPL, @Nos, @LineOrderCode, @ID_NPL_Prev, @Prod_Date_Prev
		END
	
		CLOSE Calc_Cursor_Destination
		DEALLOCATE Calc_Cursor_Destination

		DROP TABLE #TempData
	END
	
	DROP TABLE #TempRem

	--INSERT INTO T_Init_Last_Stock
	--SELECT DISTINCT Periode_ID, Excore, QtyLastStock FROM T_Calc_Plan_Supply_NonPL WHERE Prod_Date = @Prod_Date and ID_NPL = @Max_ID_PL - Day_PL and Groups = 'NPL'

	--SELECT DISTINCT Periode_ID, Excore, QtyLastStock, ID_NPL, Groups, Prod_Date FROM T_Calc_Plan_Supply_NonPL WHERE Prod_Date >= '20250808' and Groups = 'NPL'
END