USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_SKID]    Script Date: 01/04/2026 01:42:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_Inq_T_SKID] 
	@DeliveryDate	date
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	a.SKID_ID,
			a.PI_No,
			STRING_AGG(a.KanbanNo, ', ') WITHIN GROUP (ORDER BY a.KanbanNo) as KanbanNos,
			COUNT(a.KanbanNo) as KanbanQty,
			a.ScanBy,
			FORMAT(a.ScanDate, 'dd/MM/yyyy HH:mm:ss') as ScanDate
	FROM	T_SKID a
			JOIN T_DN b on a.DN_No = b.DN_No and a.ExCore = b.ExCore and a.Job_No = b.Job_No
	WHERE	CAST(b.DN_Schedule_Delivery_Date as date) = @DeliveryDate
	GROUP BY a.SKID_ID,
			a.PI_No,
			a.ScanBy,
			FORMAT(a.ScanDate, 'dd/MM/yyyy HH:mm:ss')
END
