USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_GR]    Script Date: 02/04/2026 14:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_Inq_GR]
	@Type		nvarchar(50),
	@DN_No		nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT  dn.Part_No,
			dn.Job_No,
			SUM(dn.Total_Kanban) AS Qty_Order,
			ISNULL(gr.Total_GR, 0) AS Qty_Received,
			SUM(dn.Total_Kanban) - ISNULL(gr.Total_GR, 0) AS Qty_Remain,
			CASE @Type 
				WHEN 'Full' THEN SUM(dn.Total_Kanban) - ISNULL(gr.Total_GR, 0) 
				WHEN 'SKID' THEN COUNT(sk.SKID_ID)
				ELSE 0 
			END AS Qty_GR
	FROM	T_DN dn
			LEFT JOIN (
				SELECT	DN_No,
						Part_No,
						SUM(GR_Qty) AS Total_GR
				FROM	T_GR
				GROUP BY DN_No, Part_No
			) gr ON dn.DN_No = gr.DN_No AND dn.Part_No = gr.Part_No
			LEFT JOIN T_SKID sk on dn.DN_No = sk.DN_No and dn.Part_No = sk.Part_No
	WHERE	(dn.DN_No = @DN_No or sk.SKID_ID = @DN_No) AND ISNULL(dn.DN_Status,1) = 1
	GROUP BY dn.Part_No,
			dn.Job_No,
			gr.Total_GR
	UNION ALL
	SELECT	a.RouteCode as Part_No,
			'' as Job_No,
			a.Qty as Qty_Order,
			0 as Qty_Received,
			a.Qty as Qty_Remain,
			a.Qty as Qty_GR
	FROM	T_TN a
			LEFT JOIN T_GR b on a.TN_No = b.DN_No and a.RouteCode = b.Part_No
	WHERE	a.TN_No = @DN_No
END
