USE [New_DQS]
GO
/****** Object:  Table [dbo].[T_BlockKeyword_Pass]    Script Date: 4/27/2026 12:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_BlockKeyword_Pass](
	[Keyword] [nvarchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[T_BlockKeyword_Pass] ([Keyword]) VALUES (N'Astra123')
INSERT [dbo].[T_BlockKeyword_Pass] ([Keyword]) VALUES (N'Astra')
INSERT [dbo].[T_BlockKeyword_Pass] ([Keyword]) VALUES (N'stra')
GO
