USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Pallet_Upload]    Script Date: 05/05/2026 23:29:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sp_M_Pallet_Upload]
	@EntryUser		nvarchar(50)
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @Err varchar(50)

	BEGIN TRY
		IF EXISTS(
			SELECT	A1
			FROM	DataExcel a
					LEFT JOIN M_PalletType b on a.B1 = b.PalletTypeID
			WHERE	a.Entry_User = @EntryUser
					and a.A1 <> 'Pallet No' and a.A1 <> ''
					and b.PalletTypeID IS NULL
		)
		BEGIN
			RAISERROR('Pallet Type not exists', 16, 1)
		END
	
		IF EXISTS (
			SELECT	A1
			FROM	DataExcel a
					LEFT JOIN M_Pallet b on REPLACE(REPLACE(a.A1, ' ', ''), '-', '') = b.RFIDNo
			WHERE	a.Entry_User = @EntryUser
					and a.A1 <> 'Pallet No' and a.A1 <> ''
					and b.RFIDNo IS NOT NULL
		)
		BEGIN
			UPDATE	M_Pallet
			SET		PalletType = a.B1,
					UserUpdate = @EntryUser,
					DateUpdate = GETDATE()
			FROM	DataExcel a
					--LEFT JOIN M_Pallet b on a.A1 = b.RFIDNo
					LEFT JOIN M_Pallet b on REPLACE(REPLACE(a.A1, ' ', ''), '-', '') = b.RFIDNo
			WHERE	a.Entry_User = @EntryUser
					and a.A1 <> 'Pallet No' and a.A1 <> ''
					and b.RFIDNo IS NOT NULL
		END

		IF EXISTS (
			SELECT	A1
			FROM	DataExcel a
					LEFT JOIN M_Pallet b on REPLACE(REPLACE(a.A1, ' ', ''), '-', '') = b.RFIDNo 
			WHERE	a.Entry_User = @EntryUser
					and a.A1 <> 'Pallet No' and a.A1 <> ''
					and b.RFIDNo IS NULL
		)
		BEGIN
			INSERT INTO M_Pallet (RFIDNo, PalletType, UserUpdate, DateUpdate)
			SELECT	REPLACE(REPLACE(a.A1, ' ', ''), '-', ''),
					a.B1,
					@EntryUser,
					GETDATE()
			FROM	DataExcel a
					LEFT JOIN M_Pallet b on REPLACE(REPLACE(a.A1, ' ', ''), '-', '') = b.RFIDNo
			WHERE	a.Entry_User = @EntryUser
					and a.A1 <> 'Pallet No' and a.A1 <> ''
					and b.RFIDNo IS NULL
			GROUP BY REPLACE(REPLACE(a.A1, ' ', ''), '-', ''),
					a.B1
		END

		SELECT Remarks = ''
	END TRY

	BEGIN CATCH
		SELECT Remarks = ERROR_MESSAGE()
	END CATCH
END

