USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_GRPro_Upload]    Script Date: 06/05/2026 00:51:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sp_M_GRPro_Upload]
(
	@UserLogin varchar(50)
)
AS

BEGIN
	SET NOCOUNT ON

	DECLARE @Err varchar(50)

	BEGIN TRY
		IF EXISTS(
			SELECT	*
			FROM	DataExcel a
					LEFT JOIN M_PartList b on a.A1 = b.PartNumber
			WHERE	a.Entry_User = @Userlogin and a.A1 <> 'Part No' and a.A1 <> ''
					and b.PartNumber IS NULL
		)
		BEGIN
			RAISERROR('Part not exists', 16, 1)
		END

		IF EXISTS(
			SELECT	a.A1
			FROM	DataExcel a
					LEFT JOIN M_GRPro b on a.A1 = b.PartNumber and a.C1 = b.PostingDate and a.D1 = b.GRProNo
					LEFT JOIN M_PartList c on a.A1 = c.PartNumber
			WHERE	a.Entry_User = @Userlogin and a.A1 <> 'Part No' and a.A1 <> ''
					and b.PartNumber IS NOT NULL and b.PostingDate IS NOT NULL and b.GRProNo IS NOT NULL
					and c.PartNumber IS NOT NULL
					and a.B1 <> b.PartQty
					and ISNULL(a.B1,0) > 0
					and b.EditStatus = 0
		)
		BEGIN
			UPDATE	M_GRPro
			SET		UserUpdate = @UserLogin,
					DateUpdate = GETDATE(),
					EditStatus = 1,
					EditDate = GETDATE(),
					PartQtyEdit = a.B1,
					DocDate = NULL,
					HeaderTxt = NULL,
					Plant = NULL,
					StoreLoc = NULL,
					SAPInDate = NULL,
					SAPInFile = NULL,
					SAPOutDate = NULL,
					SAPOutFile = NULL,
					SAPGRMatDocNo = NULL,
					SAPMatDocYear = NULL,
					SAPErrorMsg = NULL
			FROM	DataExcel a
					LEFT JOIN M_GRPro b on a.A1 = b.PartNumber and a.C1 = b.PostingDate and a.D1 = b.GRProNo
					LEFT JOIN M_PartList c on a.A1 = c.PartNumber
			WHERE	a.Entry_User = @Userlogin and a.A1 <> 'Part No' and a.A1 <> ''
					and b.PartNumber IS NOT NULL and b.PostingDate IS NOT NULL and b.GRProNo IS NOT NULL
					and c.PartNumber IS NOT NULL
					and a.B1 <> b.PartQty
					and a.B1 > 0
					and b.EditStatus = 0
		END

		IF EXISTS(
			SELECT	a.A1
			FROM	DataExcel a
					LEFT JOIN M_GRPro b on a.A1 = b.PartNumber and a.C1 = b.PostingDate and a.D1 = b.GRProNo
					LEFT JOIN M_PartList c on a.A1 = c.PartNumber
			WHERE	a.Entry_User = @Userlogin and a.A1 <> 'Part No' and a.A1 <> ''
					and b.PartNumber IS NULL and b.PostingDate IS NULL and b.GRProNo IS NULL
					and c.PartNumber IS NOT NULL
					and ISNULL(a.B1,0) > 0
		)
		BEGIN
			INSERT INTO M_GRPro (PartNumber, PartQty, PostingDate, GRProNo, UserUpdate, DateUpdate, EditStatus)
			SELECT	a.A1,
					a.B1,
					a.C1,
					a.D1,
					@UserLogin,
					GETDATE(),
					0
			FROM	DataExcel a
					LEFT JOIN M_GRPro b on a.A1 = b.PartNumber and a.C1 = b.PostingDate and a.D1 = b.GRProNo
					LEFT JOIN M_PartList c on a.A1 = c.PartNumber
			WHERE	a.Entry_User = @Userlogin and a.A1 <> 'Part No' and a.A1 <> ''
					and b.PartNumber IS NULL and b.PostingDate IS NULL and b.GRProNo IS NULL
					and c.PartNumber IS NOT NULL
					and a.B1 > 0
			GROUP BY a.A1, a.B1, a.C1, a.D1
		END

		SELECT Remarks = ''
	END TRY

	BEGIN CATCH
		SELECT Remarks = ERROR_MESSAGE()
	END CATCH
END
