USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Cek_T_BlockKeyword_Pass]    Script Date: 07/05/2026 23:48:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		MIT
-- =============================================
ALTER PROCEDURE [dbo].[sp_Cek_T_BlockKeyword_Pass]
	@Keyword nvarchar(100)
AS
BEGIN
	SET NOCOUNT ON;
	
	IF EXISTS(SELECT * FROM T_BlockKeyword_Pass WHERE CAST(@Keyword as nvarchar(100)) like '%' + CAST(Keyword as nvarchar(100)) + '%')
	BEGIN
		SELECT 'blocked~Password cannot contain:<br>' + STRING_AGG(Keyword, '<br/>') as remarks FROM T_BlockKeyword_Pass WHERE CAST(@Keyword as nvarchar(100)) like '%' + CAST(Keyword as nvarchar(100)) + '%'
	END
	ELSE
	BEGIN
		SELECT 'allowed' as remarks
	END
	
END
