USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Customer_Order_Upload]    Script Date: 5/25/2026 4:32:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   PROCEDURE [dbo].[sp_M_Customer_Order_Upload]
(
	@OrderData dbo.CustomerOrderType READONLY,
    @Remarks VARCHAR(MAX) OUTPUT
)

AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
		BEGIN TRANSACTION

		MERGE INTO M_Customer_Order AS Target
        USING @OrderData AS SourceCustOrder
        ON (
            Target.Periode = SourceCustOrder.Periode
            AND Target.Source = SourceCustOrder.Source
            AND Target.Suffix = SourceCustOrder.Suffix
            AND Target.DayNumber = SourceCustOrder.DayNumber
        )

		WHEN MATCHED THEN
            UPDATE SET
                Target.ValueData = SourceCustOrder.ValueData

		WHEN NOT MATCHED BY TARGET THEN 
            INSERT (Periode, Source, Suffix, DayNumber, ValueData)
            VALUES (
                SourceCustOrder.Periode, 
                SourceCustOrder.Source, 
                SourceCustOrder.Suffix, 
                SourceCustOrder.DayNumber, 
                SourceCustOrder.ValueData
            );

        SET @Remarks = '';

        COMMIT TRANSACTION;

	END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SET @Remarks = ERROR_MESSAGE(); 
    END CATCH
END

