USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Unique_Line_Sel]    Script Date: 5/12/2026 5:05:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[sp_M_Unique_Line_Sel]

AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
		SELECT	a.UniqueLineID,
				a.LineOrderCode,
				b.LineOrderCode + ' - ' + b.LineOrderName as Line,
				a.UniqueNumber,
				c.UniqueNumber + ' - ' + c.PartNumber + ' - ' + CAST(c.QtyPerBox as nvarchar) + ' ' + c.UOM + ' - ' + c.BoxType as FinishGoods,
				c.QtyPerBox,
				a.UserUpdate,
				FORMAT(a.DateUpdate, 'dd/MM/yyyy HH:mm:ss') as DateUpdate,
				Remarks = '',
				CASE ISNULL(a.UniqueLineStatus,'0') WHEN '1' THEN 'Active' ELSE 'Inactive' END as UniqueLineStatus
		FROM	M_Unique_Line a
				JOIN M_Line_Order b on a.LineOrderCode = b.LineOrderCode
				JOIN M_Finish_Goods c on a.UniqueNumber = c.UniqueNumber
	END TRY

	BEGIN CATCH
		SELECT	UniqueLineID = '',
				LineOrderCode = '',
				Line = '',
				UniqueNumber = '',
				FinishGoods = '',
				QtyPerBox = '',
				UserUpdate = '',
				DateUpdate = '',
				Remarks = ERROR_MESSAGE(),
				UniqueLineStatus = ''
	END CATCH
END

