USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Dropdown_Sel]    Script Date: 5/12/2026 2:05:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_Dropdown_Sel]
(
	@FType VARCHAR(20),
	@PlantId varchar(5) = NULL,
	@BuildingId char(3) = NULL,
	@ShopId char(3) = NULL,
	@DeptId char(3) = NULL
)
AS

BEGIN
	SET NOCOUNT ON

	IF @FType = 'Plant'
	BEGIN
		SELECT PlantId, PlantName from M_Plant WHERE PlantStatus = '1'
	END
	ELSE IF @FType = 'Gedung'
	BEGIN
		SELECT	PlantId, BuildingId, BuildingName 
		FROM	M_Building where PlantId = @PlantId or @PlantId = ''
	END
	ELSE IF @FType = 'Shop'
	BEGIN
		SELECT	PlantId, ShopId, ShopName
		FROM	M_Shop
	END
	ELSE IF @FType = 'Dept'
	BEGIN
		SELECT	DISTINCT B.PlantId, b.ShopId, A.DeptID, A.DeptName 
		FROM	M_Departement A
				INNER JOIN	M_Shop B ON B.ShopId = A.ShopId
	END
	ELSE IF @FType = 'Section'
	BEGIN
		SELECT	DISTINCT C.PlantId, B.DeptId, A.SectionID, A.SectionName
		FROM	M_Section A
			INNER JOIN	M_Departement B ON B.DeptId = a.DeptID
			INNER JOIN	M_Shop C ON C.ShopId = B.ShopId
	END
	ELSE IF @FType = 'Line'
	BEGIN
		SELECT	DISTINCT c.PlantId, b.BuildingId, A.LineID, A.LineName
		FROM	M_Line A
				INNER JOIN	M_Building B ON B.BuildingId = A.BuildingID
				INNER JOIN	M_Plant C ON C.PlantId = B.PlantId
	END
	ELSE IF @FType = 'Part'
	BEGIN
		SELECT	DISTINCT c.PlantId, b.BuildingID, A.PartNumber, A.PartNumber + ' - ' + A.PartDescription + ' - ' + A.PartName as PartName
		FROM	M_PartList A
				INNER JOIN	M_Line B ON B.LineID = A.LineID
				INNER JOIN	M_Building C ON C.BuildingId = B.BuildingID
	END
	ELSE IF @FType = 'UserGroup'
	BEGIN
		SELECT	UserGroupId, UserGroupName
		FROM	M_UserGroup
	END
	ELSE IF @FType = 'PalletType'
	BEGIN
		SELECT	PalletTypeID, PalletTypeName 
		FROM	M_PalletType
	END
	ELSE IF @FType = 'LoginType'
	BEGIN
		SELECT LoginType = 'Web'
		UNION
		SELECT LoginType = 'Mobile'
	END
	ELSE IF @FType = 'Shift'
	BEGIN
		SELECT Shift = 'D'
		UNION
		SELECT Shift = 'N'
	END
	ELSE IF @FType = 'GRPro'
	BEGIN
		SELECT GRProType = 'Dummy'
		UNION
		SELECT GRProType = 'Vaccum'
	END
	ELSE IF @FType = 'RFIDTXPower'
	BEGIN
		SELECT PlantId = RFIDTXPower from RFIDSetting
	END
	ELSE IF @FType = 'RFIDRXSens'
	BEGIN
		SELECT PlantId = RFIDRXSensitifiy FROM RFIDSetting WHERE RFIDRXSensitifiy IS NOT NULL ORDER BY RFIDRXSensitifiy
	END
	ELSE IF @FType = 'AppLDKShop'
	BEGIN
		SELECT ShopId, ShopName FROM M_Shop WHERE PlantId = 'P2'
	END
	ELSE IF @FType = 'AppLDKDept'
	BEGIN
		SELECT	b.ShopId, a.DeptId, a.DeptName
		FROM	M_Departement a
				INNER JOIN M_Shop b ON a.ShopId = b.ShopId
		WHERE	b.PlantId = 'P2'
	END
	ELSE IF @FType = 'AppLDKUser'
	BEGIN
		SELECT UserID, UserID + ' - ' + UserName as UserName FROM M_UserSetup WHERE ActiveStatus = 1
	END
	ELSE IF @FType = 'NGType'
	BEGIN
		SELECT NGTypeID, NGType FROM M_NGType
	END
	ELSE IF @FType = 'PartLDK'
	BEGIN
		SELECT	DISTINCT A.PartNumber, A.PartNumber + ' ~ ' + A.PartName as PartName
		FROM	M_PartList A
				LEFT JOIN M_Line f on A.LineID = F.LineID
				LEFT JOIN M_Building G on F.BuildingID = G.BuildingId
		WHERE	G.PlantId = 'P2'
	END
	ELSE IF @FType = 'PlantCode'
	BEGIN
		SELECT DISTINCT PlantCode from M_Plant WHERE PlantStatus = '1'
	END
	ELSE IF @FType = 'Dock'
	BEGIN
		SELECT	DISTINCT DockCode, DockCode + ' - ' + DockName as Dock
		from	M_Dock a
		WHERE	DockStatus = '1'
	END
	ELSE IF @FType = 'DockRoute'
	BEGIN
		SELECT	DISTINCT DockCode, DockCode + ' - ' + DockName as Dock, ISNULL(RouteCode,'') as RouteCode
		from	M_Dock a
				LEFT JOIN M_Data_Route b on a.PlantCode = b.PlantCode
		WHERE	DockStatus = '1'
	END
	ELSE IF @FType = 'LineOrder'
	BEGIN
		SELECT DISTINCT LineOrderCode, LineOrderCode + ' - ' + LineOrderName as LineOrder from M_Line_Order WHERE LineOrderStatus = '1'
	END
	ELSE IF @FType = 'Supplier'
	BEGIN
		SELECT DISTINCT SupplierCode, SupplierCode + ' - ' + SupplierName as Supplier from M_Supplier WHERE SupplierStatus = '1'
	END
	ELSE IF @FType = 'Route'
	BEGIN
		SELECT	DISTINCT RouteCode
		FROM	M_Data_Route WHERE RouteStatus = '1'
	END
	ELSE IF @FType = 'BoxType'
	BEGIN
		SELECT DISTINCT BoxType FROM M_Packing_Spec WHERE PackingStatus = '1'
	END
	ELSE IF @FType = 'PartOrder'
	BEGIN
		SELECT	DISTINCT PartOrderID, a.PlantCode + ' - ' + a.SupplierCode + ' - ' + a.PartNumber as Part, c.DockCode
		FROM	M_Part_Order a
				JOIN M_Plant b on a.PlantCode = b.PlantCode
				JOIN M_Dock c on c.PlantCode = b.PlantCode
		WHERE	PartOrderStatus = '1'
	END
	ELSE IF @FType = 'Depth'
	BEGIN
		SELECT	DISTINCT b.DockCode,
				a.DepthID,
				a.DepthID + ' - ' + a.LineOrderCode + ' - ' + CAST(a.Layer as nvarchar) + ' - ' + CAST(a.Hole as nvarchar) + ' - ' + a.Sector + ' - ' + a.RackNumber + ' - ' + CAST(a.Depth as nvarchar) as Depth
		FROM	M_Depth a
				JOIN M_Line_Order b on a.LineOrderCode = b.LineOrderCode
		WHERE	DepthStatus = '1'
	END
	ELSE IF @FType = 'ExCore'
	BEGIN
		SELECT	DISTINCT ExCore,
				a.ExCore + ' - ' + d.JobNo + ' - ' + e.LineOrderCode + ' - ' + e.RackNumber as Core
		FROM	M_ID_Part a
				JOIN M_Part_Order d on a.PartOrderID = d.PartOrderID
				JOIN M_Depth e on a.DepthID = e.DepthID
		WHERE	IDPartStatus = '1'
	END
	ELSE IF @FType = 'CycleIssueLP'
	BEGIN
		SELECT	DISTINCT b.ExCore,
				a.CycleIssueID,
				a.RouteCode + ' - ' + a.DockCode + ' - ' + a.Operation + ' - ' + CAST(a.CycleArrival as nvarchar) + ' - ' + CAST(a.TimeArrival as nvarchar(8)) as CycleIssueLP
		FROM	M_Cycle_Issue_LP a
				JOIN M_ID_Part b on a.DockCode = b.DockCode
		WHERE	CycleIssueStatus = '1'
	END
	ELSE IF @FType = 'CycleIssuePart'
	BEGIN
		SELECT	a.CycleIssueID,
				CAST(a.CycleIssueID as nvarchar) + ' - ' + CAST(b.TimeArrival as nvarchar) as CycleIssue
		FROM	M_Cycle_Issue_Part a
				JOIN M_Cycle_Issue_LP b on a.CycleIssueLP = b.CycleIssueID
		WHERE	a.CycleIssueStatus = '1'
	END
	ELSE IF @FType = 'FinishGoods'
	BEGIN
		SELECT	DISTINCT UniqueNumber,
				UniqueNumber + ' - ' + PartNumber + ' - ' + CAST(QtyPerBox as nvarchar) + ' ' + UOM + ' - ' + BoxType as FinishGoods
		FROM	M_Finish_Goods
		WHERE	FinishGoodsStatus = '1'
	END
	ELSE IF @FType = 'UniqueLine'
	BEGIN
		SELECT	DISTINCT d.ExCore,
				a.UniqueLineID,
				a.LineOrderCode + ' - ' + e.UniqueNumber + ' - ' + e.PartNumber + ' - ' + CAST(e.QtyPerBox as nvarchar) + ' ' + e.UOM + ' - ' + e.BoxType as UniqueLine
		FROM	M_Unique_Line a
				JOIN M_Line_Order b on a.LineOrderCode = b.LineOrderCode
				JOIN M_Dock c on b.DockCode = c.DockCode
				JOIN M_ID_Part d on d.DockCode = c.DockCode
				JOIN M_Finish_Goods e on a.UniqueNumber = e.UniqueNumber
		WHERE	UniqueLineStatus = '1'
	END
	ELSE IF @FType = 'Grouping'
	BEGIN
		SELECT DISTINCT GroupingID, GroupName + ' - ' + SupplierCode as Grouping FROM	M_Grouping a WHERE	GroupingStatus = '1'
	END
	ELSE IF @FType = 'RouteExCore'
	BEGIN
		SELECT	DISTINCT c.ExCore, a.RouteCode
		FROM	M_Data_Route a
				JOIN M_Dock b on a.PlantCode = b.PlantCode
				JOIN M_ID_Part c on b.DockCode = c.DockCode
		WHERE	a.RouteStatus = '1'
		ORDER BY c.ExCore, a.RouteCode
	END
	ELSE IF @FType = 'Building'
	BEGIN
		SELECT	DISTINCT c.DockCode, a.BuildingID, a.BuildingID + ' - ' + a.BuildingName as Building
		FROM	M_Building a
				JOIN M_Plant b on a.plantid = b.plantID
				JOIN M_Dock c on b.PlantCode = c.PlantCode
	END
	ELSE IF @FType = 'LinePlant'
	BEGIN
		SELECT	DISTINCT c.PlantCode, LineOrderCode, LineOrderCode + ' - ' + LineOrderName as LineOrder
		from	M_Line_Order a
				JOIN M_Dock b on a.DockCode = b.DockCode
				JOIN M_Plant c on b.PlantCode = c.PlantCode
		WHERE	LineOrderStatus = '1'
	END
	ELSE IF @FType = 'JobNo'
	BEGIN
		SELECT	DISTINCT a.JobNo
		FROM	M_Part_Order a
				JOIN M_ID_Part b on a.PartOrderID = b.PartOrderID
				JOIN M_Depth c on b.DepthID = c.DepthID
		WHERE	a.PartOrderStatus = '1' and (c.LineOrderCode = ISNULL(@PlantId,'') or ISNULL(@PlantId,'') = '')
	END
	ELSE IF @FType = 'OrderFrom'
	BEGIN
		SELECT	OrderFromCode
		FROM	M_Order_From
		WHERE	IsActive = 1

	END
	ELSE IF @FType = 'UniqueModel'
	BEGIN
		SELECT	DISTINCT UniqueNumber,
				UniqueNumber + ' - ' + PartNumber + ' - ' + CAST(QtyPerBox as nvarchar) + ' ' + UOM + ' - ' + BoxType as FinishGoods,
				EngineGrouping AS Model
		FROM	M_Finish_Goods
		WHERE	FinishGoodsStatus = '1'

	END
END
