USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Suffix_to_Unique_Sel]    Script Date: 5/12/2026 1:48:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 1. SP SELECT suffix to unique (INQ)
-- ==============================================

ALTER   PROCEDURE [dbo].[sp_M_Suffix_to_Unique_Sel]

AS
BEGIN
	SET NOCOUNT ON;

    SELECT 
		sfx.SuffixId, 
		sfx.SuffixCode, 
		sfx.UniqueCode, 
		sfx.ModelGroup, 
		sfx.LineOrderCode, 
		sfx.OrderFrom, 
		STRING_AGG(goods.PartNumber, ', ') AS PartNumber,
		sfx.CreatedBy, 
		sfx.CreatedDate, 
		sfx.UpdatedBy, 
		sfx.UpdatedDate
	FROM M_Suffix_to_Unique sfx
	LEFT JOIN M_Finish_Goods goods ON sfx.UniqueCode = goods.UniqueNumber
	GROUP BY 
		sfx.SuffixId, 
		sfx.SuffixCode, 
		sfx.UniqueCode, 
		sfx.ModelGroup, 
		sfx.LineOrderCode, 
		sfx.OrderFrom, 
		sfx.CreatedBy, 
		sfx.CreatedDate, 
		sfx.UpdatedBy, 
		sfx.UpdatedDate
	ORDER BY sfx.UpdatedDate, sfx.CreatedDate DESC;	
END
