USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Suffix_to_Unique_Del]    Script Date: 5/12/2026 1:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 3. SP DELETE Suffix to Unique (DEL)
-- ==============================================

ALTER   PROCEDURE [dbo].[sp_M_Suffix_to_Unique_Del]
(
	@SuffixId VARCHAR(10),
    @Remarks VARCHAR(100) OUTPUT
)

AS
BEGIN
	SET NOCOUNT ON;
    BEGIN TRY

		IF EXISTS (SELECT 1 FROM M_Suffix_to_Unique WHERE SuffixId = @SuffixId)
		BEGIN
			DELETE M_Suffix_to_Unique WHERE SuffixId = @SuffixId;
			SET @Remarks = 'Success';
		END
		ELSE
			SET @Remarks = 'Not Found';
    END TRY
    BEGIN CATCH
        SET @Remarks = ERROR_MESSAGE();
    END CATCH
END

