CREATE TABLE M_Order_From (
    OrderFromId INT IDENTITY(1,1) PRIMARY KEY,
    OrderFromCode NVARCHAR(20) NOT NULL UNIQUE,
    Description NVARCHAR(100) NULL,
    IsActive BIT NOT NULL DEFAULT 1,
	CreatedBy NVARCHAR(100) NOT NULL DEFAULT 'system',
    CreatedAt DATETIME NOT NULL DEFAULT GETDATE(),
	UpdatedBy NVARCHAR(100) NULL,
    UpdatedAt DATETIME NULL
);