USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_T_Init_Last_Stock]    Script Date: 11/03/2026 23:07:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 2. SP Upload Stock Engine (INS/UPD)
-- ==============================================

CREATE OR ALTER PROCEDURE [sp_Upload_Init_Stock_Engine_Row]
    @Periode NVARCHAR(8),       
    @UniqueCode NVARCHAR(20),     
    @Qty FLOAT,                 
    @UserLogin NVARCHAR(50),
    @Remarks VARCHAR(100) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
    BEGIN TRY
        SET @Periode = TRIM(@Periode);
        SET @UniqueCode = TRIM(@UniqueCode);

        IF EXISTS (SELECT 1 FROM T_Init_Stock_Engine WHERE Periode_ID = @Periode AND UniqueCode = @UniqueCode)
        BEGIN
            UPDATE T_Init_Stock_Engine
            SET QtyLastStock = @Qty,
                Calc_By = @UserLogin,
                Calc_Date = GETDATE()
            WHERE Periode_ID = @Periode AND UniqueCode = @UniqueCode;
        END
		ELSE
        BEGIN
            INSERT INTO T_Init_Stock_Engine (
                Periode_ID, UniqueCode, QtyLastStock, Calc_By, Calc_Date
            )
            VALUES (
                @Periode, @UniqueCode, @Qty, @UserLogin, GETDATE()
            );
        END

        SET @Remarks = '';

	END TRY
    BEGIN CATCH
        SET @Remarks = ERROR_MESSAGE(); 
    END CATCH
END
