USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_Upload_Init_Stock_Engine]    Script Date: 11/03/2026 23:26:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 1. SP SELECT INIT Stock Engine (INQ)
-- ==============================================
ALTER   PROCEDURE [dbo].[sp_Inq_Upload_Init_Stock_Engine]
	@Prod_Date NVARCHAR(8)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	a.Periode_ID, 
			a.UniqueCode,
			a.QtyLastStock
	FROM	T_Init_Stock_Engine a
	WHERE   Periode_ID = @Prod_Date
END
