USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Suffix_to_Unique_Ins]    Script Date: 11/03/2026 16:14:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 2. SP INSERT / UPDATE Suffix to Unique (INS)
-- ==============================================
CREATE or ALTER PROCEDURE [dbo].[sp_M_Suffix_to_Unique_Ins]
(
	@IUType VARCHAR(1), -- 'I' untuk Insert, 'U' untuk Update
    @SuffixId VARCHAR(10) = NULL,
    @SuffixCode VARCHAR(5),
    @UniqueCode VARCHAR(20),
    @ModelGroup NVARCHAR(25),
    @LineOrderCode NVARCHAR(10),
    @UserLogin VARCHAR(50),
    @Remarks VARCHAR(100) OUTPUT
)

AS
BEGIN
	SET NOCOUNT ON;
    BEGIN TRY
        IF @IUType = 'I'
        BEGIN
            IF EXISTS(SELECT 1 FROM M_Suffix_to_Unique WHERE SuffixCode = @SuffixCode AND UniqueCode = @UniqueCode AND LineOrderCode = @LineOrderCode)
            BEGIN
                SET @Remarks = 'Combination of Suffix, Unique, and Line already exists!';
                RETURN;
            END

            DECLARE @NewId VARCHAR(10);
            DECLARE @LastId VARCHAR(10) = (SELECT TOP 1 SuffixId FROM M_Suffix_to_Unique ORDER BY SuffixId DESC);

			IF @LastId IS NULL 
                SET @NewId = 'SFUC001';
            ELSE 
                SET @NewId = 'SFUC' + RIGHT('000' + CAST(CAST(RIGHT(@LastId, 3) AS INT) + 1 AS VARCHAR), 3);

            INSERT INTO M_Suffix_to_Unique (SuffixId, SuffixCode, UniqueCode, ModelGroup, LineOrderCode, CreatedBy, CreatedDate)
            VALUES (@NewId, @SuffixCode, @UniqueCode, @ModelGroup, @LineOrderCode, @UserLogin, GETDATE());

            SET @Remarks = '';
        END
        ELSE IF @IUType = 'U'
        BEGIN
            IF EXISTS(SELECT 1 FROM M_Suffix_to_Unique WHERE SuffixCode = @SuffixCode AND UniqueCode = @UniqueCode AND LineOrderCode = @LineOrderCode AND SuffixId <> @SuffixId)
            BEGIN
                SET @Remarks = 'Combination of Suffix, Unique, and Line is already used by another ID!';
                RETURN;
            END

            UPDATE M_Suffix_to_Unique
            SET SuffixCode = @SuffixCode,
                UniqueCode = @UniqueCode,
                ModelGroup = @ModelGroup,
                LineOrderCode = @LineOrderCode,
                UpdatedBy = @UserLogin,
                UpdatedDate = GETDATE()
            WHERE SuffixId = @SuffixId;

            SET @Remarks = '';
        END
    END TRY
    BEGIN CATCH
        SET @Remarks = ERROR_MESSAGE();
    END CATCH
END

