USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Suffix_to_Unique_Sel]    Script Date: 11/03/2026 16:11:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 1. SP SELECT suffix to unique (INQ)
-- ==============================================

CREATE OR ALTER PROCEDURE [dbo].[sp_M_Suffix_to_Unique_Sel]

AS
BEGIN
	SET NOCOUNT ON;

    SELECT 
        SuffixId, 
		SuffixCode, 
		UniqueCode, 
		ModelGroup, 
		LineOrderCode, 
		CreatedBy, 
		CreatedDate, 
		UpdatedBy, 
		UpdatedDate
    FROM M_Suffix_to_Unique
    ORDER BY UpdatedDate, CreatedDate DESC;
END