USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Suffix_to_Unique_Del]    Script Date: 11/03/2026 16:18:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 3. SP DELETE Suffix to Unique (DEL)
-- ==============================================

CREATE or ALTER PROCEDURE [dbo].[sp_M_Suffix_to_Unique_Del]
(
	@SuffixId VARCHAR(10),
    @Remarks VARCHAR(100) OUTPUT
)

AS
BEGIN
	SET NOCOUNT ON;
    BEGIN TRY

		DELETE M_Suffix_to_Unique WHERE SuffixId = @SuffixId;
        
        SET @Remarks = '';
    END TRY
    BEGIN CATCH
        SET @Remarks = ERROR_MESSAGE();
    END CATCH
END

