USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_Calc_Capacity]    Script Date: 5/29/2026 11:14:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description:	[sp_Upload_Calc_Capacity]
-- =============================================
ALTER   PROCEDURE [dbo].[sp_Upload_Calc_Capacity]
    @Periode_ID VARCHAR(6),
    @InputJson NVARCHAR(MAX),
    @User_Login VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

        DECLARE @BasePeriode VARCHAR(7) = LEFT(@Periode_ID, 4) + '-' + SUBSTRING(@Periode_ID, 5, 2);

		DROP TABLE IF EXISTS #InputParam;

        SELECT 
            LineOrderCode, 
            CASE WHEN OffsetN = 0 THEN 'N' ELSE 'N+' + CAST(OffsetN AS VARCHAR) END AS MonthOffsetLabel,
            AdvanceQty, 
            MandatoryTime, 
            HotShiftOvertime
        INTO #InputParam
        FROM OPENJSON(@InputJson)
        WITH (
            LineOrderCode VARCHAR(50) '$.Line',
            OffsetN INT '$.OffsetN',
            AdvanceQty INT '$.Advance',
            MandatoryTime INT '$.Mandatory',
            HotShiftOvertime INT '$.OvertimeHot'
        );

        DELETE FROM T_Parameter_Capacity WHERE Periode = @BasePeriode;

        INSERT INTO T_Parameter_Capacity (
            Periode, LineCode, MonthOffsetLabel, Advance, Mandatory, OvertimeHOT, CreatedUser, CreatedAt
        )
        SELECT 
            @BasePeriode,
            LineOrderCode,
            MonthOffsetLabel,
            AdvanceQty,
            MandatoryTime,
            HotShiftOvertime,
            @User_Login,
            GETDATE()
        FROM #InputParam;

        SELECT 'success' AS Result;
    END TRY
    BEGIN CATCH
        SELECT ERROR_MESSAGE() AS Result;
    END CATCH
END