USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Calc_Capacity]    Script Date: 9/8/2026 3:34:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Calc_Capacity]
-- =============================================
ALTER   PROCEDURE [dbo].[sp_Calc_Capacity]
    @Periode_ID VARCHAR(6),
    @User_Login VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @BaseDate DATE = DATEFROMPARTS(CAST(LEFT(@Periode_ID, 4) AS INT), CAST(SUBSTRING(@Periode_ID, 5, 2) AS INT), 1);
        DECLARE @BasePeriode VARCHAR(7) = FORMAT(@BaseDate, 'yyyy-MM');
        DECLARE @CalcCode VARCHAR(50) = 'CALC-' + FORMAT(GETDATE(), 'yyyyMMddHHmmss');

        --DELETE FROM T_Calc_Capacity WHERE Periode = @BasePeriode;

		IF EXISTS (SELECT 1 FROM T_Calc_Capacity WHERE Periode = @BasePeriode)
        BEGIN
            RAISERROR('Calculation for this period already exists. Please reset first.', 16, 1);
            RETURN;
        END

		IF OBJECT_ID('tempdb..#OrderFirmAgg') IS NOT NULL DROP TABLE #OrderFirmAgg;

		SELECT 
            F.Periode,
            M.LineOrderCode,
            ISNULL(FG.EngineBase, 'Unmapped') AS EngineBase,
            F.MonthOffsetLabel,
            MAX(F.Suffix) AS Suffix,
            SUM(F.Qty) AS LCQty
        INTO #OrderFirmAgg
        FROM T_Calc_Order_Firm F
        LEFT JOIN M_Suffix_to_Unique M ON TRIM(F.Suffix) = TRIM(M.SuffixCode)
        LEFT JOIN M_Finish_Goods FG ON TRIM(M.UniqueCode) = TRIM(FG.UniqueNumber)
        WHERE F.Periode = @BasePeriode 
        GROUP BY F.Periode, M.LineOrderCode, ISNULL(FG.EngineBase, 'Unmapped'), F.MonthOffsetLabel;

		DECLARE @UnmappedSuffix VARCHAR(MAX) = '';
        SELECT @UnmappedSuffix = @UnmappedSuffix + Suffix + ', '
        FROM #OrderFirmAgg WHERE LineOrderCode IS NULL;

		IF LEN(@UnmappedSuffix) > 0
        BEGIN
            SET @UnmappedSuffix = LEFT(@UnmappedSuffix, LEN(@UnmappedSuffix) - 2);
            IF LEN(@UnmappedSuffix) > 200 SET @UnmappedSuffix = LEFT(@UnmappedSuffix, 200) + '... (and others)';
            RAISERROR('Suffix has not been mapped: %s', 16, 1, @UnmappedSuffix);
            RETURN;
        END

		IF OBJECT_ID('tempdb..#ActiveData') IS NOT NULL DROP TABLE #ActiveData;
        
        WITH ParamCTE AS (
            SELECT DISTINCT Periode, LineCode, MonthOffsetLabel, 
                   Advance, Mandatory, OvertimeHOT
            FROM T_Parameter_Capacity
            WHERE Periode = @BasePeriode
        )

        SELECT 
            O.Periode, 
            O.LineOrderCode, 
            O.EngineBase,
            O.Suffix, 
            O.MonthOffsetLabel,
            O.LCQty,
            CASE 
                WHEN O.MonthOffsetLabel = 'N' THEN 1
                ELSE CAST(REPLACE(O.MonthOffsetLabel, 'N+', '') AS INT) + 1
            END AS OffsetN,
            
            P.Advance AS AdvanceQty, 
            P.Mandatory AS MandatoryTime, 
            P.OvertimeHOT AS HotShiftOvertime,
            CASE WHEN P.LineCode IS NULL THEN 1 ELSE 0 END AS IsMissingParam
        INTO #ActiveData
        FROM #OrderFirmAgg O
        LEFT JOIN ParamCTE P 
            ON LTRIM(RTRIM(P.LineCode)) = LTRIM(RTRIM(O.LineOrderCode))
            AND P.Periode = O.Periode 
            AND P.MonthOffsetLabel = O.MonthOffsetLabel;


		DECLARE @MissingParam VARCHAR(MAX) = '';
		SELECT @MissingParam = @MissingParam + LineOrderCode + ', '
        FROM (
            SELECT DISTINCT LineOrderCode 
            FROM #ActiveData 
            WHERE IsMissingParam = 1
        ) AS T;

		IF LEN(@MissingParam) > 0
        BEGIN
            SET @MissingParam = RTRIM(@MissingParam);
            SET @MissingParam = LEFT(@MissingParam, LEN(@MissingParam) - 1);
            IF LEN(@MissingParam) > 200 SET @MissingParam = LEFT(@MissingParam, 200) + '... (and others)';
            RAISERROR('Parameters have not been uploaded for Line: %s', 16, 1, @MissingParam);
            RETURN;
        END

		DECLARE @MissingOEE VARCHAR(MAX) = '';
        SELECT @MissingOEE = @MissingOEE + LineOrderCode + ' (' + TargetMonth + '), '
        FROM (
            SELECT DISTINCT i.LineOrderCode, FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM') AS TargetMonth
            FROM #ActiveData i
            LEFT JOIN M_OEE_TT_Future O 
                ON LTRIM(RTRIM(O.LineOrderCode)) = LTRIM(RTRIM(i.LineOrderCode))
                AND O.Periode = FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM')
            WHERE O.CT IS NULL OR O.CT = 0 OR O.OEE IS NULL OR O.OEE = 0
        ) t;

		IF LEN(@MissingOEE) > 0
        BEGIN
            SET @MissingOEE = LEFT(@MissingOEE, LEN(@MissingOEE) - 2);
            IF LEN(@MissingOEE) > 200 SET @MissingOEE = LEFT(@MissingOEE, 200) + '... (and others)';
            RAISERROR('Master OEE TT has not been input for: %s', 16, 1, @MissingOEE);
            RETURN;
        END

        INSERT INTO T_Calc_Capacity (
            CalcCapacityCode, LineOrderCode, Suffix, Periode, MonthOffsetLabel, 
            AdvanceQty, MandatoryTime, HotShiftOvertime, ShiftCount, 
            LoadingCustomerQty, WorkingDay, WorkingTimePerShift, CT_Min, EFF_Pct,
            ProdPlanMonthly, ProdPlanDaily, ProdPlanTaktTime,
            LoadingTime, TotalOperatingTime, CapacityNormal, CapacityOT_2h, CapacityHOT_4s, CapacityTotal,
            Overtime_DOT_Hours, Overtime_Pct, IdlePerDay_Min, CreatedUser, CreatedAt
        )
        SELECT 
            @CalcCode, i.LineOrderCode, i.Suffix, i.Periode, i.MonthOffsetLabel,
            ISNULL(i.AdvanceQty, 0), ISNULL(i.MandatoryTime, 0), ISNULL(i.HotShiftOvertime, 0), M.ShiftCount,
            i.LCQty, M.WorkingDay, M.WorkingTimePerShift, M.CT_Min, M.EFF_Pct,
            L1.ProdPlanMonthly, CAST(L1.ProdPlanDaily AS INT), C.ProdPlanTaktTime,
            L1.LoadingTime, L1.TotalOperatingTime,
            CAST(C.CapacityNormal AS INT), CAST(C.CapacityOT_2h AS INT), C.CapacityHOT_4s,
            CAST((C.CapacityNormal + C.CapacityOT_2h + C.CapacityHOT_4s) AS INT) AS CapacityTotal,
            Ovt.Overtime_DOT_Hours, F.Overtime_Pct, Ovt.IdlePerDay_Min, @User_Login, GETDATE()
        FROM #ActiveData i

        CROSS APPLY (
            SELECT                
                ISNULL((
                    SELECT TOP 1 DailyShiftCount
                    FROM (
                        SELECT COUNT(DISTINCT Shift) AS DailyShiftCount
                        FROM M_Calendar C 
                        WHERE C.LineOrderCode = i.LineOrderCode 
                          AND FORMAT(C.CalendarDate, 'yyyy-MM') = FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM') 
                          AND C.CalendarStatus IN (1, 2)
                        GROUP BY C.CalendarDate
                    ) AS ShiftCounts
                    GROUP BY DailyShiftCount
                    ORDER BY COUNT(*) DESC
                ), 2) AS ShiftCount,
                
				ISNULL((
                    SELECT CAST(SUM(0.5) AS FLOAT)
                    FROM M_Add_Calendar C 
                    WHERE LTRIM(RTRIM(C.LineOrderCode)) = LTRIM(RTRIM(i.LineOrderCode))
                        AND FORMAT(C.CalendarDate, 'yyyy-MM') = FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM')
                        AND C.CalendarStatus IN (1, 2)
                ), 20.0) AS WorkingDay,

                ISNULL((
                    SELECT TOP 1 WorkingTime 
                    FROM M_Add_Calendar C 
                    WHERE C.LineOrderCode = i.LineOrderCode 
                      AND FORMAT(C.CalendarDate, 'yyyy-MM') = FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM') 
                      AND C.CalendarStatus IN (1, 2)
                    GROUP BY WorkingTime
                    ORDER BY COUNT(*) DESC
                ), 455) AS WorkingTimePerShift,

                ISNULL((SELECT TOP 1 CT 
					FROM M_OEE_TT_Future O 
					WHERE O.LineOrderCode = i.LineOrderCode 
						AND O.Periode = FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM')), 0.01) 
				AS CT_Min,

                ISNULL((SELECT TOP 1 OEE 
					FROM M_OEE_TT_Future O 
					WHERE O.LineOrderCode = i.LineOrderCode 
						AND O.Periode = FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM')), 0.01) 
				AS EFF_Pct
        ) AS M

        CROSS APPLY (
            SELECT (i.LCQty + ISNULL(i.AdvanceQty, 0)) AS ProdPlanMonthly, 
            ROUND(CAST((i.LCQty + ISNULL(i.AdvanceQty, 0)) AS FLOAT) / NULLIF(M.WorkingDay, 0), 0) AS ProdPlanDaily, 
            (M.WorkingTimePerShift * M.ShiftCount) AS LoadingTime, 
            (M.WorkingTimePerShift * M.ShiftCount) - ISNULL(i.MandatoryTime, 0) AS TotalOperatingTime
        ) AS L1

        CROSS APPLY (
            SELECT ROUND(CAST(L1.TotalOperatingTime AS FLOAT) / NULLIF(CAST(i.LCQty AS FLOAT) / NULLIF(M.WorkingDay, 0), 0), 1) AS ProdPlanTaktTime, 
            ROUND(CAST(L1.TotalOperatingTime AS FLOAT) / NULLIF(M.CT_Min, 0) * (M.EFF_Pct / 100.0), 0) AS CapacityNormal, 
            ROUND(120.0 / NULLIF(M.CT_Min, 0) * (M.EFF_Pct / 100.0), 0) AS CapacityOT_2h, 
            ROUND(((4.0 * M.WorkingTimePerShift) / NULLIF(M.CT_Min, 0) * (M.EFF_Pct / 100.0)) / NULLIF(M.WorkingDay, 0), 2) AS CapacityHOT_4s
        ) AS C

        CROSS APPLY (
            SELECT 
                CASE 
                    WHEN L1.ProdPlanDaily <= C.CapacityNormal THEN 0.0 
                    ELSE ROUND( ( ( (L1.ProdPlanDaily * M.CT_Min) / NULLIF((M.EFF_Pct / 100.0), 0) ) - L1.TotalOperatingTime - ( (ISNULL(i.HotShiftOvertime, 0) * 395.0) / NULLIF(M.WorkingDay, 0) ) ) / 60.0, 2 ) 
                END AS Overtime_DOT_Hours,

                CASE 
                    WHEN L1.ProdPlanDaily > C.CapacityNormal THEN 0.0 
                    ELSE ROUND( ( (L1.ProdPlanDaily * M.CT_Min) / NULLIF((M.EFF_Pct / 100.0), 0) ) - L1.TotalOperatingTime, 2 ) 
                END AS IdlePerDay_Min
        ) AS Ovt

        CROSS APPLY (
            SELECT
                CASE 
                    WHEN L1.TotalOperatingTime = 0 OR M.WorkingDay = 0 THEN 0.0 
                    ELSE ROUND( ( (Ovt.Overtime_DOT_Hours * M.WorkingDay * 60.0) + (ISNULL(i.HotShiftOvertime, 0) * 395.0) ) / NULLIF(L1.TotalOperatingTime * M.WorkingDay, 0.0), 4) 
                END AS Overtime_Pct
        ) AS F;

        INSERT INTO T_Status_Capacity VALUES ('Process Capacity', 'Success', NULL, @Periode_ID, GETDATE(), @User_Login);

        SELECT 'success' AS Result;
    END TRY
    BEGIN CATCH
		DECLARE @RealErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();

		INSERT INTO T_Status_Capacity 
        VALUES ('Process Capacity', 'Error', LEFT(@RealErrorMessage, 200), @Periode_ID, GETDATE(), @User_Login);

        SELECT @RealErrorMessage AS Result;
    END CATCH
END