USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_Calc_Order_Firm]    Script Date: 9/8/2026 2:18:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		MIT
-- Description: Inq data Order Firm
-- =============================================
ALTER PROCEDURE [dbo].[sp_Inq_T_Calc_Order_Firm]
    @Periode_ID    NVARCHAR(8),
    @Status        NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON

    DECLARE @FormattedPeriode VARCHAR(7);
    IF LEN(@Periode_ID) = 6 AND @Periode_ID NOT LIKE '%-%'
        SET @FormattedPeriode = SUBSTRING(@Periode_ID, 1, 4) + '-' + SUBSTRING(@Periode_ID, 5, 2);
    ELSE
        SET @FormattedPeriode = @Periode_ID;
    
    DECLARE @cols NVARCHAR(MAX);
    DECLARE @colnulls NVARCHAR(MAX);
    DECLARE @query NVARCHAR(MAX);

    SELECT @cols = STUFF((
        SELECT ',' + QUOTENAME(MonthOffsetLabel)
        FROM T_Calc_Order_Firm
        WHERE Periode = @FormattedPeriode
          AND (@Status IS NULL OR @Status = '' OR Status = @Status)
        GROUP BY MonthOffsetLabel 
        ORDER BY 
            CASE 
                WHEN MonthOffsetLabel = 'N' THEN 0 
                ELSE TRY_CAST(REPLACE(MonthOffsetLabel, 'N+', '') AS INT) 
            END
        FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '');

    SELECT @colnulls = STUFF((
        SELECT ', ISNULL(' + QUOTENAME(MonthOffsetLabel) + ', 0) AS ' + QUOTENAME(MonthOffsetLabel)
        FROM T_Calc_Order_Firm
        WHERE Periode = @FormattedPeriode
          AND (@Status IS NULL OR @Status = '' OR Status = @Status)
        GROUP BY MonthOffsetLabel 
        ORDER BY 
            CASE 
                WHEN MonthOffsetLabel = 'N' THEN 0 
                ELSE TRY_CAST(REPLACE(MonthOffsetLabel, 'N+', '') AS INT) 
            END
        FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '');

    IF (@cols IS NOT NULL)
    BEGIN

        SET @query = '
            SELECT 
                (SELECT TOP 1 FirmID 
                 FROM T_Calc_Order_Firm f 
                 WHERE f.Periode = pvt.Periode 
                   AND f.Suffix = pvt.Suffix 
                   AND f.Status = pvt.Status 
                 ORDER BY CASE WHEN MonthOffsetLabel = ''N'' THEN 0 ELSE 1 END) AS FirmOrderID, 
                Periode,
                Suffix,
                Status,
                ' + @colnulls + '
            FROM 
            (
                SELECT 
                    Periode,
                    Suffix,
                    Status,
                    MonthOffsetLabel,
                    Qty
                FROM T_Calc_Order_Firm
                WHERE Periode = ''' + @FormattedPeriode + '''
                ' + CASE WHEN @Status IS NOT NULL AND @Status <> '' THEN ' AND Status = ''' + @Status + '''' ELSE '' END + '
            ) src
            PIVOT 
            (
                SUM(Qty) FOR MonthOffsetLabel IN (' + @cols + ')
            ) pvt
            ORDER BY Suffix, Status;
        ';
        
        EXEC sp_executesql @query;
    END
    ELSE
    BEGIN
        SELECT 
            '' AS FirmOrderID, 
            @FormattedPeriode AS Periode, 
            '' AS Suffix, 
            '' AS Status,
            0 AS [N]
        WHERE 1=0;
    END
END