USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_T_Calc_Order_Firm]    Script Date: 9/8/2026 2:19:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		MIT
-- Description: Upload data Order Firm
-- =============================================
ALTER   PROCEDURE [dbo].[sp_Upload_T_Calc_Order_Firm]
    @EntryUser NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @Now DATETIME = GETDATE();
    DECLARE @Periode_Upload NVARCHAR(7);

    SELECT TOP 1 @Periode_Upload = Periode 
    FROM T_Calc_Order_Firm_temp 
    WHERE CreatedUser = @EntryUser;

	IF EXISTS (SELECT 1 FROM T_Control_Order_Firm WHERE Periode = @Periode_Upload AND IsCalculated = 1)
    BEGIN
        SELECT 'Period ' + ISNULL(@Periode_Upload, '') + ' has already been processed in the production line calculation and cannot be revised.' AS remarks;
        
        DELETE FROM T_Calc_Order_Firm_temp WHERE CreatedUser = @EntryUser;
        RETURN;
    END

	IF EXISTS (SELECT 1 FROM T_Calc_Order_Firm WHERE Periode = @Periode_Upload)
    BEGIN
        SELECT 'Data for period ' + ISNULL(@Periode_Upload, '') + ' has already been uploaded. To re-upload, please delete the existing data first.' AS remarks;
        
        DELETE FROM T_Calc_Order_Firm_temp WHERE CreatedUser = @EntryUser;
        RETURN;
    END

	-- Validasi suffix ke master suffix
	DECLARE @MissingSuffixes NVARCHAR(MAX);
    SELECT @MissingSuffixes = STUFF((
        SELECT DISTINCT ', ' + a.Suffix
        FROM T_Calc_Order_Firm_temp a
        LEFT JOIN M_Suffix_to_Unique b ON a.Suffix = b.SuffixCode
        WHERE a.CreatedUser = @EntryUser AND b.SuffixCode IS NULL
        FOR XML PATH('')), 1, 2, '');

    IF @MissingSuffixes IS NOT NULL
    BEGIN
        SELECT 'Unregistered Suffix Code(s) found: <strong>' + @MissingSuffixes + '</strong>. Please register them in Master Data first.' AS remarks;
        RETURN;
    END

	
	DECLARE @InactiveSuffixes NVARCHAR(MAX);

	SELECT @InactiveSuffixes = STUFF((
		SELECT DISTINCT ', ' + a.Suffix + ' (Unique: ' + ISNULL(b.UniqueCode, 'N/A') + ')'
		FROM T_Calc_Order_Firm_temp a
		INNER JOIN M_Suffix_to_Unique b ON a.Suffix = b.SuffixCode
		WHERE a.CreatedUser = @EntryUser AND b.IsActive = 0
		FOR XML PATH('')), 1, 2, '');

	IF @InactiveSuffixes IS NOT NULL
	BEGIN
		SELECT 'Inactive code(s) found: ' + @InactiveSuffixes + '. Please activate them first.' AS remarks;
		RETURN;
	END

	-- Validasi unique number ke master finish good
	DECLARE @MissingFG NVARCHAR(MAX);

	SELECT @MissingFG = STUFF((
		SELECT DISTINCT ', ' + a.Suffix + ' (Missing Unique: ' + b.UniqueCode + ')'
		FROM T_Calc_Order_Firm_temp a
		INNER JOIN M_Suffix_to_Unique b ON a.Suffix = b.SuffixCode
		LEFT JOIN M_Finish_Goods c ON b.UniqueCode = c.UniqueNumber
		WHERE a.CreatedUser = @EntryUser AND c.UniqueNumber IS NULL
		FOR XML PATH('')), 1, 2, '');

	IF @MissingFG IS NOT NULL
	BEGIN
		SELECT 'Suffix is registered, but its Unique Code is missing in Master Finish Goods: <strong>' + @MissingFG + '</strong>.' AS remarks;
		RETURN;
	END

    DECLARE @InactiveFG NVARCHAR(MAX);
    SELECT @InactiveFG = STUFF((
        SELECT DISTINCT ', ' + a.Suffix + ' (Inactive Unique: ' + b.UniqueCode + ')'
        FROM T_Calc_Order_Firm_temp a
        INNER JOIN M_Suffix_to_Unique b ON a.Suffix = b.SuffixCode
        INNER JOIN M_Finish_Goods c ON b.UniqueCode = c.UniqueNumber
        WHERE a.CreatedUser = @EntryUser AND c.FinishGoodsStatus = 0
        FOR XML PATH('')), 1, 2, '');

    IF @InactiveFG IS NOT NULL
    BEGIN
        SELECT 'Unique Code(s) inactive in Master Finish Goods: <strong>' + @InactiveFG + '</strong>. Please activate them first.' AS remarks;
        RETURN;
    END

    INSERT INTO T_Calc_Order_Firm 
    (
        Periode, 
        Suffix, 
        Status, 
        MonthOffsetLabel, 
        Qty, 
        CreatedUser, 
        CreatedAt
    )
    SELECT 
        Periode, 
        Suffix, 
        Status, 
        MonthOffsetLabel, 
        Qty, 
        CreatedUser, 
        @Now
    FROM T_Calc_Order_Firm_temp
    WHERE CreatedUser = @EntryUser;

    IF NOT EXISTS (SELECT 1 FROM T_Control_Order_Firm WHERE Periode = @Periode_Upload)
    BEGIN
        INSERT INTO T_Control_Order_Firm (Periode, IsCalculated) VALUES (@Periode_Upload, 0);
    END

    DELETE FROM T_Calc_Order_Firm_temp WHERE CreatedUser = @EntryUser;
        
    SELECT '' AS remarks;
END
