USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Add_Calendar_Upload]    Script Date: 5/20/2026 1:38:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 2. SP UPLOAD Addition Calendar (UPLOAD)
-- ==============================================

ALTER   PROCEDURE [dbo].[sp_M_Add_Calendar_Upload]
    @AddCalendarData AddCalendarType READONLY,
    @EntryUser VARCHAR(50),
    @Periode VARCHAR(7) 
AS
BEGIN
    SET NOCOUNT ON;
    SET DATEFIRST 1; 

    BEGIN TRY
        BEGIN TRANSACTION;

        MERGE M_Add_Calendar AS Target
        USING @AddCalendarData AS Source
        ON (Target.LineOrderCode = Source.LineOrderCode 
            AND Target.CalendarDate = Source.CalendarDate 
            AND Target.Shift = Source.Shift)
        WHEN MATCHED THEN
            UPDATE SET 
                CalendarStatus = Source.CalendarStatus,
				DescCalendarStatus = CASE 
										WHEN Source.CalendarStatus = 1 THEN 'ON / Masuk'
										WHEN Source.CalendarStatus = 2 THEN 'Overtime / Lembur' 
										ELSE 'OFF / Libur'
									END,
                WorkingTime = Source.WorkingTime,
                OEE = Source.OEE,
                CT = Source.CT,
                EarlyOvertime = Source.EarlyOvertime,
                EndOvertime = Source.EndOvertime,
                MandatoryPdt = Source.MandatoryPdt,
                OtherPdt = Source.OtherPdt,
                TimePdt = Source.TimePdt,
                Remarks = Source.Remarks,
                UpdatedBy = @EntryUser,
                UpdatedDate = GETDATE()
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (LineOrderCode, CalendarDate, Shift, CalendarStatus, WorkingTime, OEE, CT, EarlyOvertime, EndOvertime, MandatoryPdt, OtherPdt, TimePdt, Remarks, CreatedBy, CreatedDate)
            VALUES (Source.LineOrderCode, Source.CalendarDate, Source.Shift, Source.CalendarStatus, Source.WorkingTime, Source.OEE, Source.CT, Source.EarlyOvertime, Source.EndOvertime, Source.MandatoryPdt, Source.OtherPdt, Source.TimePdt, Source.Remarks, @EntryUser, GETDATE());

        MERGE M_Calendar AS Target
        USING (
            SELECT 
                LineOrderCode, 
                CalendarDate, 
                Shift, 
                CalendarStatus, 
                CASE WHEN DATEPART(dw, CalendarDate) IN (6, 7) THEN '0' ELSE '1' END AS DefaultStatus
            FROM @AddCalendarData
        ) AS Source
        ON (Target.LineOrderCode = Source.LineOrderCode 
            AND Target.CalendarDate = Source.CalendarDate 
            AND Target.Shift = Source.Shift)
            
        WHEN MATCHED AND Source.CalendarStatus = Source.DefaultStatus THEN
            DELETE
            
        WHEN MATCHED AND Target.CalendarStatus <> Source.CalendarStatus AND Source.CalendarStatus <> Source.DefaultStatus THEN
            UPDATE SET 
                CalendarStatus = Source.CalendarStatus,
                UserUpdate = @EntryUser,
                DateUpdate = GETDATE()
                
        WHEN NOT MATCHED BY TARGET AND Source.CalendarStatus <> Source.DefaultStatus THEN
            INSERT (LineOrderCode, CalendarDate, Shift, CalendarStatus, UserUpdate, DateUpdate)
            VALUES (Source.LineOrderCode, Source.CalendarDate, Source.Shift, Source.CalendarStatus, @EntryUser, GETDATE());

		--Master OEE
		;WITH ModeData AS (
            SELECT 
                LineOrderCode,
                Periode,
                OEE,
                CT
            FROM (
                SELECT 
                    LineOrderCode,
                    Periode,
                    OEE,
                    CT,
                    ROW_NUMBER() OVER (
                        PARTITION BY LineOrderCode, Periode 
                        ORDER BY Frekuensi DESC 
                    ) AS rn
                FROM (
                    SELECT 
                        LineOrderCode,
                        CONVERT(VARCHAR(7), CalendarDate, 120) AS Periode,
                        OEE,
                        CT,
                        COUNT(*) AS Frekuensi
                    FROM @AddCalendarData
                    GROUP BY 
                        LineOrderCode, 
                        CONVERT(VARCHAR(7), CalendarDate, 120), 
                        OEE, 
                        CT
                ) GroupedData
            ) RankedData
            WHERE rn = 1
              AND Periode > CONVERT(VARCHAR(7), GETDATE(), 120)
        )
        MERGE M_OEE_TT_Future AS Target
        USING ModeData AS Source
        ON (Target.Periode = Source.Periode AND Target.LineOrderCode = Source.LineOrderCode)
        WHEN MATCHED THEN
            UPDATE SET 
                OEE = Source.OEE,
                CT = Source.CT,
                UserUpdate = @EntryUser,
                DateUpdate = GETDATE(),
                OEETTStatus = 1
        WHEN NOT MATCHED BY TARGET THEN
            INSERT (Periode, LineOrderCode, OEE, CT, UserUpdate, DateUpdate, OEETTStatus)
            VALUES (Source.Periode, Source.LineOrderCode, Source.OEE, Source.CT, @EntryUser, GETDATE(), 1);

        COMMIT TRANSACTION;
        SELECT 'success' AS Remarks;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT ERROR_MESSAGE() AS Remarks;
    END CATCH
END
