USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_Monthly_Summary_Order]    Script Date: 6/9/2026 10:34:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Inq_T_Monthly_Summary_Order]
-- =============================================

ALTER   PROCEDURE [dbo].[sp_Inq_T_Monthly_Summary_Order]
    @Periode_ID VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

	IF LEN(@Periode_ID) = 6 AND CHARINDEX('-', @Periode_ID) = 0
    BEGIN
        SET @Periode_ID = SUBSTRING(@Periode_ID, 1, 4) + '-' + SUBSTRING(@Periode_ID, 5, 2);
    END

	DROP TABLE IF EXISTS #BaseData;

	SELECT 
        ISNULL(su.OrderFrom, 'Uncategorized') AS OrderFrom,
        ISNULL(COALESCE(fg_unique.EngineBase, fg_part.EngineBase), 'Unmapped') AS EngineBase,
        ISNULL(su.UniqueCode, '') AS UniqueCode,
        ISNULL(COALESCE(fg_unique.EngineType, fg_part.EngineType), '') AS EngineType,
        o.Suffix,
        o.DayNumber,
        o.ValueData
    INTO #BaseData
    FROM M_Customer_Order o
    LEFT JOIN M_Suffix_to_Unique su 
        ON o.Suffix = su.SuffixCode
    LEFT JOIN M_Finish_Goods fg_unique 
        ON fg_unique.UniqueNumber = CAST(su.UniqueCode AS VARCHAR)
    LEFT JOIN M_Finish_Goods fg_part 
        ON fg_part.PartNumber = o.Suffix
    WHERE o.Periode = @Periode_ID;

    CREATE CLUSTERED INDEX IX_Temp_BaseData 
    ON #BaseData (OrderFrom, EngineBase, UniqueCode, Suffix, DayNumber);

	IF NOT EXISTS (SELECT 1 FROM #BaseData)
    BEGIN
        SELECT 'No Data Found' AS Message;
        RETURN;
    END

    DECLARE @cols AS NVARCHAR(MAX) = '';
    DECLARE @colsIsnull AS NVARCHAR(MAX) = '';
    DECLARE @colsTotal AS NVARCHAR(MAX) = '';
    DECLARE @query AS NVARCHAR(MAX);
    DECLARE @DaysInMonth INT;

    SET @DaysInMonth = DAY(EOMONTH(CAST(@Periode_ID + '-01' AS DATE)));

    DECLARE @i INT = 1;
    WHILE @i <= @DaysInMonth
    BEGIN
        SET @cols += QUOTENAME(CAST(@i AS VARCHAR)) + ',';
		SET @colsIsnull += 'ISNULL(pvt.' + QUOTENAME(CAST(@i AS VARCHAR)) + ', 0) AS ' + QUOTENAME('Day_' + CAST(@i AS VARCHAR)) + ',';
        SET @colsTotal += 'ISNULL(pvt.' + QUOTENAME(CAST(@i AS VARCHAR)) + ', 0) + ';
        SET @i += 1;
    END

    SET @cols = LEFT(@cols, LEN(@cols) - 1);
    SET @colsIsnull = LEFT(@colsIsnull, LEN(@colsIsnull) - 1);
    SET @colsTotal = LEFT(@colsTotal, LEN(@colsTotal) - 2);

    SET @query = N'
    SELECT 
        GroupOrder,
        OrderFrom, 
        EngineBase, 
        UniqueCode, 
        EngineType, 
        Suffix, 
        (' + @colsTotal + ') AS Total,
        ' + @colsIsnull + '
    FROM (
		SELECT 
            CASE bd.OrderFrom
                WHEN ''SAP'' THEN 1
                WHEN ''KAP'' THEN 2
                WHEN ''TMMIN'' THEN 3
                WHEN ''DCWA'' THEN 4
                ELSE 5
            END AS GroupOrder,
            bd.OrderFrom, 
            bd.EngineBase, 
            bd.UniqueCode, 
            bd.EngineType, 
            bd.Suffix, 
            bd.DayNumber,
            bd.ValueData
        FROM #BaseData bd
        
        UNION ALL
        
        -- Data Resume Engine
        SELECT 
            99 AS GroupOrder,
            ''RESUME ENGINE'' AS OrderFrom,
            EngineBase,
            '''' AS UniqueCode,
            '''' AS EngineType,
            '''' AS Suffix,
            DayNumber,
            SUM(ValueData) AS ValueData
        FROM #BaseData
        GROUP BY EngineBase, DayNumber
    ) src
    PIVOT
    (
        SUM(ValueData)
        FOR DayNumber IN (' + @cols + ')
    ) pvt
    ORDER BY GroupOrder, OrderFrom, EngineBase, UniqueCode, Suffix;';

    EXEC sp_executesql @stmt = @query;

	DROP TABLE IF EXISTS #BaseData;
END