USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Calc_Capacity]    Script Date: 5/21/2026 11:23:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description:	[sp_Calc_Capacity]
-- =============================================
CREATE OR ALTER PROCEDURE [dbo].[sp_Calc_Capacity]
    @Periode_ID VARCHAR(6),
    @User_Login VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DECLARE @BaseDate DATE = DATEFROMPARTS(CAST(LEFT(@Periode_ID, 4) AS INT), CAST(SUBSTRING(@Periode_ID, 5, 2) AS INT), 1);
        DECLARE @BasePeriode VARCHAR(7) = FORMAT(@BaseDate, 'yyyy-MM');
        DECLARE @CalcCode VARCHAR(50) = 'CALC-' + FORMAT(GETDATE(), 'yyyyMMddHHmmss');

        DELETE FROM [dbo].[T_Calc_Capacity] WHERE Periode = @BasePeriode;

        IF OBJECT_ID('tempdb..#ActiveData') IS NOT NULL DROP TABLE #ActiveData;
        SELECT DISTINCT
            P.Periode,
            P.LineCode AS LineOrderCode,
            F.Suffix,
            F.Suffix AS EngineBase,
            P.MonthOffsetLabel,
            CASE WHEN P.MonthOffsetLabel = 'N' THEN 0 ELSE CAST(REPLACE(P.MonthOffsetLabel, 'N+', '') AS INT) END AS OffsetN,
            ISNULL(P.Advance, 0) AS AdvanceQty,
            ISNULL(P.Mandatory, 0) AS MandatoryTime,
            ISNULL(P.OvertimeHOT, 0) AS HotShiftOvertime
        INTO #ActiveData
        FROM T_Parameter_Capacity P
        JOIN M_Suffix_to_Unique M ON P.LineCode = M.LineOrderCode 
        JOIN T_Calc_Order_Firm F ON M.SuffixCode = F.Suffix 
             AND F.Periode = P.Periode 
             AND F.MonthOffsetLabel = P.MonthOffsetLabel
        WHERE P.Periode = @BasePeriode;

        IF NOT EXISTS (SELECT 1 FROM #ActiveData)
        BEGIN
            RAISERROR('Data parameter tidak ditemukan untuk periode ini. Silakan upload parameter terlebih dahulu.', 16, 1);
            RETURN;
        END

        INSERT INTO [dbo].[T_Calc_Capacity] (
            CalcCapacityCode, LineOrderCode, EngineBase, Suffix, Periode, MonthOffsetLabel, 
            AdvanceQty, MandatoryTime, HotShiftOvertime, ShiftCount, 
            LoadingCustomerQty, WorkingDay, WorkingTimePerShift, CT_Min, EFF_Pct,
            ProdPlanMonthly, ProdPlanDaily, ProdPlanTaktTime,
            LoadingTime, TotalOperatingTime, CapacityNormal, CapacityOT_2h, CapacityHOT_4s, CapacityTotal,
            Overtime_DOT_Hours, Overtime_Pct, IdlePerDay_Min,
            CreatedUser, CreatedAt
        )
        SELECT 
            @CalcCode, 
            i.LineOrderCode, 
            i.EngineBase, 
            i.Suffix,
            i.Periode, 
            i.MonthOffsetLabel,
            
            i.AdvanceQty, i.MandatoryTime, i.HotShiftOvertime,
            2 AS ShiftCount,
            
            M.LCQty, M.WorkingDay, M.WorkingTimePerShift, M.CT_Min, M.EFF_Pct,
            L1.ProdPlanMonthly, CAST(L1.ProdPlanDaily AS INT), C.ProdPlanTaktTime,
            L1.LoadingTime, L1.TotalOperatingTime,
            CAST(C.CapacityNormal AS INT), CAST(C.CapacityOT_2h AS INT), C.CapacityHOT_4s,
            CAST((C.CapacityNormal + C.CapacityOT_2h + C.CapacityHOT_4s) AS INT) AS CapacityTotal,
            Ovt.Overtime_DOT_Hours, F.Overtime_Pct, Ovt.IdlePerDay_Min,

            @User_Login, GETDATE()
        FROM #ActiveData i 
        CROSS APPLY (
            SELECT 
                ISNULL((SELECT SUM(Qty) FROM T_Calc_Order_Firm F WHERE F.Periode = @BasePeriode AND F.MonthOffsetLabel = i.MonthOffsetLabel AND F.Suffix = i.Suffix), 0) AS LCQty,
                ISNULL((SELECT COUNT(CalendarId) FROM M_Add_Calendar C WHERE C.LineOrderCode = i.LineOrderCode AND FORMAT(C.CalendarDate, 'yyyy-MM') = FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM') AND C.CalendarStatus = 1), 20) AS WorkingDay,
                ISNULL((SELECT TOP 1 WorkingTime FROM M_Add_Calendar C WHERE C.LineOrderCode = i.LineOrderCode AND FORMAT(C.CalendarDate, 'yyyy-MM') = FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM') AND C.CalendarStatus = 1), 455) AS WorkingTimePerShift,
                ISNULL((SELECT TOP 1 CT FROM M_OEE_TT_Future O WHERE O.LineOrderCode = i.LineOrderCode AND O.Periode = FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM')), 0.01) AS CT_Min,
                ISNULL((SELECT TOP 1 (OEE / 100.0) FROM M_OEE_TT_Future O WHERE O.LineOrderCode = i.LineOrderCode AND O.Periode = FORMAT(DATEADD(MONTH, i.OffsetN, @BaseDate), 'yyyy-MM')), 0.99) AS EFF_Pct
        ) AS M
        CROSS APPLY (
            SELECT 
                (M.LCQty + i.AdvanceQty) AS ProdPlanMonthly,
                ROUND(CAST((M.LCQty + i.AdvanceQty) AS FLOAT) / NULLIF(M.WorkingDay, 0), 0) AS ProdPlanDaily,
                (M.WorkingTimePerShift * 2) AS LoadingTime,
                (M.WorkingTimePerShift * 2) - i.MandatoryTime AS TotalOperatingTime
        ) AS L1
        CROSS APPLY (
            SELECT 
                ROUND(CAST(L1.TotalOperatingTime AS FLOAT) / NULLIF(CAST(M.LCQty AS FLOAT) / NULLIF(M.WorkingDay, 0), 0), 1) AS ProdPlanTaktTime,
                ROUND(CAST(L1.TotalOperatingTime AS FLOAT) / NULLIF(M.CT_Min, 0) * M.EFF_Pct, 0) AS CapacityNormal,
                ROUND(120.0 / NULLIF(M.CT_Min, 0) * M.EFF_Pct, 0) AS CapacityOT_2h,
                ROUND(((4.0 * M.WorkingTimePerShift) / NULLIF(M.CT_Min, 0) * M.EFF_Pct) / NULLIF(M.WorkingDay, 0), 2) AS CapacityHOT_4s
        ) AS C
        CROSS APPLY (
            SELECT 
                CASE 
                    WHEN L1.ProdPlanDaily <= C.CapacityNormal THEN 0.0
                    ELSE ROUND( ( ( (L1.ProdPlanDaily * M.CT_Min) / NULLIF(M.EFF_Pct, 0) ) - L1.TotalOperatingTime - ( (i.HotShiftOvertime * 395.0) / NULLIF(M.WorkingDay, 0) ) ) / 60.0, 2 )
                END AS Overtime_DOT_Hours,
                
                CASE 
                    WHEN L1.ProdPlanDaily > C.CapacityNormal THEN 0.0
                    ELSE ROUND( ( (L1.ProdPlanDaily * M.CT_Min) / NULLIF(M.EFF_Pct, 0) ) - L1.TotalOperatingTime, 2 )
                END AS IdlePerDay_Min
        ) AS Ovt
        CROSS APPLY (
            SELECT 
                CASE 
                    WHEN L1.TotalOperatingTime = 0 OR M.WorkingDay = 0 THEN 0.0
                    ELSE ROUND( 
                        ( (Ovt.Overtime_DOT_Hours * M.WorkingDay * 60.0) + (i.HotShiftOvertime * 395.0) ) 
                        / NULLIF(L1.TotalOperatingTime * M.WorkingTimePerShift, 0.0)
                    , 4)
                END AS Overtime_Pct
        ) AS F;

        IF EXISTS (SELECT 1 FROM T_Status WHERE Periode_ID = @Periode_ID AND Calc_Groups = 'Process Capacity')
        BEGIN
            UPDATE T_Status SET Calc_Status = 'Success', Error_Message = NULL, Calc_Date = GETDATE(), Calc_By = @User_Login
            WHERE Periode_ID = @Periode_ID AND Calc_Groups = 'Process Capacity'
        END
        ELSE
        BEGIN
            INSERT INTO T_Status (Periode_ID, Calc_Groups, Calc_Status, Error_Message, Calc_Date, Calc_By)
            VALUES (@Periode_ID, 'Process Capacity', 'Success', NULL, GETDATE(), @User_Login)
        END

        SELECT 'success' AS Result;
    END TRY
    BEGIN CATCH
        IF EXISTS (SELECT 1 FROM T_Status WHERE Periode_ID = @Periode_ID AND Calc_Groups = 'Process Capacity')
        BEGIN
            UPDATE T_Status SET Calc_Status = 'Error', Error_Message = ERROR_MESSAGE(), Calc_Date = GETDATE(), Calc_By = @User_Login
            WHERE Periode_ID = @Periode_ID AND Calc_Groups = 'Process Capacity'
        END
        ELSE
        BEGIN
            INSERT INTO T_Status (Periode_ID, Calc_Groups, Calc_Status, Error_Message, Calc_Date, Calc_By)
            VALUES (@Periode_ID, 'Process Capacity', 'Error', ERROR_MESSAGE(), GETDATE(), @User_Login)
        END

        SELECT ERROR_MESSAGE() AS Result;
    END CATCH
END