USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Finish_Goods_Act]    Script Date: 02/03/2026 21:01:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





ALTER PROCEDURE [dbo].[sp_M_Finish_Goods_Act]
(
	@UniqueNumber varchar(20),
	@UserLogin varchar(50),
	@Remarks varchar(100) output
)

AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY		
		UPDATE	M_Finish_Goods
		SET		FinishGoodsStatus = CASE FinishGoodsStatus WHEN '1' THEN '0' ELSE '1' END,
				DateUpdate = GETDATE(),
				UserUpdate = @UserLogin
		WHERE	UniqueNumber = @UniqueNumber

		SET @Remarks = ''
	END TRY

	BEGIN CATCH
		SET @Remarks = ERROR_MESSAGE()
	END CATCH
END

