USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Finish_Goods_Sel]    Script Date: 02/03/2026 17:49:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sp_M_Finish_Goods_Sel]

AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
		SELECT	a.UniqueNumber,
				a.PartNumber,
				a.PartName,
				a.EngineType,
				a.EngineBase,
				a.Transmission,
				a.Destination,
				a.Country,
				a.EngineGrouping,
				a.QtyPerBox,
				a.UOM,
				b.BoxType,
				a.WeightGross,
				a.UserUpdate,
				FORMAT(a.DateUpdate, 'dd/MM/yyyy HH:mm:ss') as DateUpdate,
				Remarks = '',
				CASE ISNULL(a.FinishGoodsStatus,'0') WHEN '1' THEN 'Active' ELSE 'Inactive' END as FinishGoodsStatus
		FROM	M_Finish_Goods a
				JOIN M_Packing_Spec b on a.BoxType = b.BoxType
	END TRY

	BEGIN CATCH
		SELECT	UniqueNumber = '',
				PartNumber = '',
				PartName = '',
				EngineType = '',
				EngineBase = '',
				Transmission = '',
				Destination = '',
				Country = '',
				EngineGrouping = '',
				QtyPerBox = '',
				UOM = '',
				BoxType = '',
				WeightGross = '',
				UserUpdate = '',
				DateUpdate = '',
				Remarks = ERROR_MESSAGE(),
				FinishGoodsStatus = ''
	END CATCH
END

