USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Customer_Order_Sel]    Script Date: 02/03/2026 23:30:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [sp_M_Customer_Order_Sel]
	@Periode VARCHAR(7)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT 
        CustomerOrderID,
        Periode,
        Source,
        Suffix,
        DayNumber,
        ValueData
    FROM 
        M_Customer_Order
	WHERE 
        Periode = @Periode
    ORDER BY 
        Periode DESC, 
        Source ASC, 
        DayNumber ASC;
END