USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_Finish_Goods_Ins]    Script Date: 02/03/2026 17:49:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




ALTER PROCEDURE [dbo].[sp_M_Finish_Goods_Ins]
(
	@IUType char(1),
	@UniqueNumber nvarchar(50),
	@PartNumber varchar(50),
	@PartName varchar(50),
	@EngineType varchar(5),
	@EngineBase varchar(5),
	@Transmission varchar(5),
	@Destination varchar(5),
	@Country varchar(20),
	@EngineGrouping varchar(20),
	@QtyPerBox int,
	@UOM varchar(50),
	@BoxType varchar(50),
	@WeightGross numeric(18,2),
	@UserLogin varchar(50),
	@Remarks varchar(100) output
)

AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
		IF @IUType = 'I'
		BEGIN
			IF NOT EXISTS (SELECT UniqueNumber FROM M_Finish_Goods WHERE UniqueNumber = @UniqueNumber)
			BEGIN
				INSERT INTO M_Finish_Goods
				(UniqueNumber, PartNumber, PartName, EngineType, EngineBase, Transmission, Destination, Country,
					EngineGrouping, QtyPerBox, UOM, BoxType, WeightGross, UserUpdate, DateUpdate, FinishGoodsStatus)
				VALUES
				(@UniqueNumber, @PartNumber, @PartName, @EngineType, @EngineBase, @Transmission, @Destination, @Country,
					@EngineGrouping, @QtyPerBox, @UOM, @BoxType, @WeightGross, @UserLogin, GETDATE(), '1')
			END
			ELSE
			BEGIN
				RAISERROR('Finish Goods Already Exists!', 16, 1)
			END
		END
		ELSE IF @IUType = 'U'
		BEGIN
			UPDATE	M_Finish_Goods
			SET		EngineType = @EngineType,
					EngineBase = @EngineBase,
					Transmission = @Transmission,
					Destination = @Destination,
					Country = @Country,
					EngineGrouping = @EngineGrouping,
					QtyPerBox = @QtyPerBox,
					UOM = @UOM,
					BoxType = @BoxType,
					WeightGross = @WeightGross,
					UserUpdate = @UserLogin,
					DateUpdate = GETDATE()
			WHERE	UniqueNumber = @UniqueNumber
		END

		SET @Remarks = ''
	END TRY

	BEGIN CATCH
		SET @Remarks = ERROR_MESSAGE()
	END CATCH
END

