USE [RFIDP2P3_Anbunka]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:    MIT
-- Description:   [sp_Inq_T_Calc_Capacity]
-- =============================================
ALTER PROCEDURE [dbo].[sp_Inq_T_Calc_Capacity]
    @Periode_ID VARCHAR(6)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @BaseDate DATE = DATEFROMPARTS(CAST(LEFT(@Periode_ID, 4) AS INT), CAST(SUBSTRING(@Periode_ID, 5, 2) AS INT), 1);
    DECLARE @BasePeriode VARCHAR(7) = FORMAT(@BaseDate, 'yyyy-MM');
    
    DECLARE @PrevDate DATE = DATEADD(MONTH, -1, @BaseDate);
    DECLARE @PrevPeriode VARCHAR(7) = FORMAT(@PrevDate, 'yyyy-MM');

    IF OBJECT_ID('tempdb..#Skeleton') IS NOT NULL DROP TABLE #Skeleton;
    
    SELECT DISTINCT 
        C.LineOrderCode,
        ISNULL(NULLIF(TRIM(FG.EngineBase), ''), C.Suffix) AS EngineBase,
        DATEADD(MONTH, 
			CASE 
				WHEN C.MonthOffsetLabel = 'N' THEN 1 
				ELSE CAST(REPLACE(C.MonthOffsetLabel, 'N+', '') AS INT) + 1 
			END, @BaseDate) 
		AS TargetMonthDate,
        C.MonthOffsetLabel AS BulanKe,
        CASE 
			WHEN C.MonthOffsetLabel = 'N' THEN 0 
			ELSE CAST(REPLACE(C.MonthOffsetLabel, 'N+', '') AS INT) 
		END AS OffsetN
    INTO #Skeleton
    FROM T_Calc_Capacity C
    LEFT JOIN M_Suffix_to_Unique SU ON TRIM(CAST(C.Suffix AS VARCHAR(50))) = TRIM(CAST(SU.SuffixCode AS VARCHAR(50)))
    LEFT JOIN M_Finish_Goods FG ON TRIM(CAST(SU.UniqueCode AS VARCHAR(50))) = TRIM(CAST(FG.UniqueNumber AS VARCHAR(50)))
    WHERE C.Periode = @BasePeriode
    
    UNION ALL
    
    SELECT DISTINCT 
        C.LineOrderCode,
        ISNULL(NULLIF(LTRIM(RTRIM(FG.EngineBase)), ''), C.Suffix) AS EngineBase,
        @BaseDate AS TargetMonthDate, 
        'N-1' AS BulanKe,
        -1 AS OffsetN
    FROM T_Calc_Capacity C
    LEFT JOIN M_Suffix_to_Unique SU ON TRIM(CAST(C.Suffix AS VARCHAR(50))) = TRIM(CAST(SU.SuffixCode AS VARCHAR(50)))
    LEFT JOIN M_Finish_Goods FG ON TRIM(CAST(SU.UniqueCode AS VARCHAR(50))) = TRIM(CAST(FG.UniqueNumber AS VARCHAR(50)))
    WHERE C.Periode = @BasePeriode;


    IF OBJECT_ID('tempdb..#GroupedCalculations') IS NOT NULL DROP TABLE #GroupedCalculations;
    
    SELECT 
        C.LineOrderCode,
        ISNULL(NULLIF(LTRIM(RTRIM(FG.EngineBase)), ''), C.Suffix) AS EngineBase,
        DATEADD(MONTH, 
            CASE 
				WHEN C.MonthOffsetLabel = 'N' THEN 1
				ELSE CAST(REPLACE(C.MonthOffsetLabel, 'N+', '') AS INT) + 1 
			END, 
            DATEFROMPARTS(CAST(LEFT(C.Periode, 4) AS INT), CAST(SUBSTRING(C.Periode, 6, 2) AS INT), 1)
        ) AS TargetMonthDate,
        SUM(C.AdvanceQty) AS AdvanceQty,
        MAX(C.MandatoryTime) AS MandatoryTime,
        MAX(C.HotShiftOvertime) AS HotShiftOvertime,
        MAX(C.ShiftCount) AS ShiftCount,
        SUM(C.LoadingCustomerQty) AS LoadingCustomerQty,
        MAX(C.WorkingDay) AS WorkingDay,
        MAX(C.WorkingTimePerShift) AS WorkingTimePerShift,
        MAX(C.CT_Min) AS CT_Min,
        MAX(C.EFF_Pct) AS EFF_Pct,
        SUM(C.ProdPlanMonthly) AS ProdPlanMonthly,
        SUM(C.ProdPlanDaily) AS ProdPlanDaily,
        MAX(C.ProdPlanTaktTime) AS ProdPlanTaktTime,
        MAX(C.LoadingTime) AS LoadingTime,
        MAX(C.TotalOperatingTime) AS TotalOperatingTime,
        MAX(C.CapacityNormal) AS CapacityNormal,
        MAX(C.CapacityOT_2h) AS CapacityOT_2h,
        MAX(C.CapacityHOT_4s) AS CapacityHOT_4s,
        MAX(C.CapacityTotal) AS CapacityTotal,
        MAX(C.Overtime_DOT_Hours) AS Overtime_DOT_Hours,
        MAX(C.Overtime_Pct) AS Overtime_Pct,
        MAX(C.IdlePerDay_Min) AS IdlePerDay_Min
    INTO #GroupedCalculations
    FROM T_Calc_Capacity C
    LEFT JOIN M_Suffix_to_Unique SU ON TRIM(CAST(C.Suffix AS VARCHAR(50))) = TRIM(CAST(SU.SuffixCode AS VARCHAR(50)))
    LEFT JOIN M_Finish_Goods FG ON TRIM(CAST(SU.UniqueCode AS VARCHAR(50))) = TRIM(CAST(FG.UniqueNumber AS VARCHAR(50)))
    WHERE C.Periode IN (@BasePeriode, @PrevPeriode)
    GROUP BY 
        C.LineOrderCode, 
        ISNULL(NULLIF(TRIM(FG.EngineBase), ''), C.Suffix),
        DATEADD(MONTH, 
            CASE 
				WHEN C.MonthOffsetLabel = 'N' THEN 1 
				ELSE CAST(REPLACE(C.MonthOffsetLabel, 'N+', '') AS INT) + 1 
			END, 
            DATEFROMPARTS(CAST(LEFT(C.Periode, 4) AS INT), CAST(SUBSTRING(C.Periode, 6, 2) AS INT), 1)
        );


    SELECT 
        S.LineOrderCode,
        S.EngineBase,
        S.BulanKe,
        S.OffsetN,
        FORMAT(S.TargetMonthDate, 'MMM yyyy', 'en-US') AS TargetMonth,
        ISNULL(G.AdvanceQty, 0) AS AdvanceQty,
        ISNULL(G.MandatoryTime, 0) AS MandatoryTime,
        ISNULL(G.HotShiftOvertime, 0) AS HotShiftOvertime,
        ISNULL(G.ShiftCount, 0) AS ShiftCount,
        ISNULL(G.LoadingCustomerQty, 0) AS LoadingCustomerQty,
        ISNULL(G.WorkingDay, 0) AS WorkingDay,
        ISNULL(G.WorkingTimePerShift, 0) AS WorkingTimePerShift,
        ISNULL(G.CT_Min, 0) AS CT_Min,
        ISNULL(G.EFF_Pct, 0) AS EFF_Pct,
        ISNULL(G.ProdPlanMonthly, 0) AS ProdPlanMonthly,
        ISNULL(G.ProdPlanDaily, 0) AS ProdPlanDaily,
        ISNULL(G.ProdPlanTaktTime, 0) AS ProdPlanTaktTime,
        ISNULL(G.LoadingTime, 0) AS LoadingTime,
        ISNULL(G.TotalOperatingTime, 0) AS TotalOperatingTime,
        ISNULL(G.CapacityNormal, 0) AS CapacityNormal,
        ISNULL(G.CapacityOT_2h, 0) AS CapacityOT_2h,
        ISNULL(G.CapacityHOT_4s, 0) AS CapacityHOT_4s,
        ISNULL(G.CapacityTotal, 0) AS CapacityTotal,
        ISNULL(G.Overtime_DOT_Hours, 0) AS Overtime_DOT_Hours,
        ISNULL(G.Overtime_Pct, 0) AS Overtime_Pct,
        ISNULL(G.IdlePerDay_Min, 0) AS IdlePerDay_Min
    FROM #Skeleton S
    LEFT JOIN #GroupedCalculations G 
        ON S.LineOrderCode = G.LineOrderCode 
       AND S.EngineBase = G.EngineBase 
       AND S.TargetMonthDate = G.TargetMonthDate
    ORDER BY S.LineOrderCode, S.EngineBase, S.OffsetN;

END