USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Upload_T_Calc_Order_Firm]    Script Date: 5/13/2026 1:26:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE [dbo].[sp_Upload_T_Calc_Order_Firm]
    @EntryUser NVARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @Now DATETIME = GETDATE();
    DECLARE @Periode_Upload VARCHAR(7);

    SELECT TOP 1 @Periode_Upload = Periode 
    FROM T_Calc_Order_Firm_temp 
    WHERE CreatedUser = @EntryUser;

	IF EXISTS (SELECT 1 FROM T_Control_Order_Firm WHERE Periode = @Periode_Upload AND IsCalculated = 1)
    BEGIN
        SELECT 'Period ' + ISNULL(@Periode_Upload, '') + ' has already been processed in the production line calculation and cannot be revised.' AS remarks;
        
        DELETE FROM T_Calc_Order_Firm_temp WHERE CreatedUser = @EntryUser;
        RETURN;
    END

	IF EXISTS (
         SELECT 1 FROM T_Calc_Order_Firm_temp a
         LEFT JOIN M_Suffix_to_Unique b ON a.Suffix = b.SuffixCode
         WHERE ISNULL(b.SuffixCode, '') = '' AND a.CreatedUser = @EntryUser
     )
     BEGIN
         SELECT 'Found unregistered Suffix Code(s) not available in the Master Data.' AS remarks;
         RETURN;
     END

	
	BEGIN TRY
        BEGIN TRANSACTION;

        DELETE FROM T_Calc_Order_FirmOrder WHERE Periode = @Periode_Upload;

        INSERT INTO T_Calc_Order_FirmOrder 
        (
            Periode, 
            Suffix, 
            Status, 
            MonthOffsetLabel, 
            Qty, 
            CreatedUser, 
            CreatedAt
        )
        SELECT 
            Periode, 
            Suffix, 
            Status, 
            MonthOffsetLabel, 
            Qty, 
            CreatedUser, 
            @Now
        FROM T_Calc_Order_Firm_temp
        WHERE CreatedUser = @EntryUser;

        IF NOT EXISTS (SELECT 1 FROM T_Control_Firm_Order WHERE Periode = @Periode_Upload)
        BEGIN
            INSERT INTO T_Control_Firm_Order (Periode, IsCalculated) VALUES (@Periode_Upload, 0);
        END

        DELETE FROM T_Calc_Order_Firm_temp WHERE CreatedUser = @EntryUser;

        COMMIT TRANSACTION;
        
        SELECT '' AS remarks;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SELECT 'A database error occurred: ' + ERROR_MESSAGE() AS remarks;
    END CATCH
END
