USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_Calc_Order_Firm]    Script Date: 5/13/2026 11:54:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description:	[sp_Inq_T_Calc_Order_Firm]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Inq_T_Calc_Order_Firm]
	@Periode_ID	NVARCHAR(8),
	@Status		NVARCHAR(50)
AS

BEGIN
	SET NOCOUNT ON

	DECLARE @FormattedPeriode VARCHAR(7);
    IF LEN(@Periode_ID) = 6 AND @Periode_ID NOT LIKE '%-%'
        SET @FormattedPeriode = SUBSTRING(@Periode_ID, 1, 4) + '-' + SUBSTRING(@Periode_ID, 5, 2);
    ELSE
        SET @FormattedPeriode = @Periode_ID;
	
	DECLARE @cols NVARCHAR(MAX);
    DECLARE @colnulls NVARCHAR(MAX);
    DECLARE @query NVARCHAR(MAX);

	SELECT @cols = STUFF((
        SELECT ',' + QUOTENAME(MonthOffsetLabel)
        FROM T_Calc_Order_Firm
        WHERE Periode = @FormattedPeriode
          AND (@Status IS NULL OR @Status = '' OR Status = @Status)
        GROUP BY MonthOffsetLabel 
        ORDER BY 
            CASE 
                WHEN MonthOffsetLabel = 'N' THEN 0 
                ELSE TRY_CAST(REPLACE(MonthOffsetLabel, 'N+', '') AS INT) 
            END
        FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '');

	SELECT @colnulls = STUFF((
        SELECT ', ISNULL(' + QUOTENAME(MonthOffsetLabel) + ', 0) AS ' + QUOTENAME(MonthOffsetLabel)
        FROM T_Calc_Order_Firm
        WHERE Periode = @FormattedPeriode
          AND (@Status IS NULL OR @Status = '' OR Status = @Status)
        GROUP BY MonthOffsetLabel 
        ORDER BY 
            CASE 
                WHEN MonthOffsetLabel = 'N' THEN 0 
                ELSE TRY_CAST(REPLACE(MonthOffsetLabel, 'N+', '') AS INT) 
            END
        FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), 1, 1, '');

	IF (@cols IS NOT NULL)
    BEGIN
        SET @query = '
            SELECT 
                -- BAGIAN YANG DIUBAH: Disesuaikan dengan schemaFields Frontend
                ROW_NUMBER() OVER(ORDER BY Suffix, Status) AS FirmOrderID, 
                Periode,
                Suffix,
                Status,
                ' + @colnulls + '
            FROM 
            (
                SELECT 
                    Periode,
                    Suffix,
                    Status,
                    MonthOffsetLabel,
                    Qty
                FROM T_Calc_Order_Firm
                WHERE Periode = ''' + @FormattedPeriode + '''
                ' + CASE WHEN @Status IS NOT NULL AND @Status <> '' THEN ' AND Status = ''' + @Status + '''' ELSE '' END + '
            ) src
            PIVOT 
            (
                SUM(Qty) FOR MonthOffsetLabel IN (' + @cols + ')
            ) pvt
            ORDER BY Suffix, Status;
        ';
        
        EXEC sp_executesql @query;
    END
    ELSE
    BEGIN
        SELECT 
            1 AS FirmOrderID, 
            @FormattedPeriode AS Periode, 
            '' AS Suffix, 
            '' AS Status,
            0 AS [N]
        WHERE 1=0;
    END
END
