USE [RFIDP2P3_Anbunka]
GO
/****** Object:  StoredProcedure [dbo].[sp_Delete_T_Daily_Order_DDMI]    Script Date: 6/1/2026 10:08:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description: [sp_Delete_T_Daily_Order_DDMI]
-- =============================================
CREATE or ALTER PROCEDURE [dbo].[sp_Delete_T_Daily_Order_DDMI]
    @UploadDate DATE,
    @Remarks NVARCHAR(MAX) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM T_Daily_Order_DDMI_Headers WHERE CAST(UploadDate AS DATE) = @UploadDate)
        BEGIN
            SET @Remarks = 'Delete Failed: Data not found on ' + CAST(@UploadDate AS VARCHAR(10));
            RETURN;
        END

		DELETE d
        FROM T_Daily_Order_DDMI_Details d
        INNER JOIN T_Daily_Order_DDMI_Headers h ON d.HeaderId = h.Id
        WHERE CAST(h.UploadDate AS DATE) = @UploadDate;

		DELETE FROM T_Daily_Order_DDMI_Headers
        WHERE CAST(UploadDate AS DATE) = @UploadDate;
        
        SET @Remarks = '';
    END TRY
    BEGIN CATCH
        SET @Remarks = 'System Error';
    END CATCH
END