USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_OEE_TT_Future_Sel]    Script Date: 17/03/2026 02:09:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==============================================
-- 1. SP SELECT OEE TT Future (INQ)
-- ==============================================

CREATE or ALTER PROCEDURE [dbo].[sp_M_OEE_TT_Future_Sel]
	@Periode VARCHAR(7)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT	a.ExCore, 
			a.Periode,
			a.LineOrderCode, 
			b.LineOrderCode + ' - ' + b.LineOrderName as Line,
			a.OEE,
			a.CT,
			a.UserUpdate,
			FORMAT(a.DateUpdate, 'dd/MM/yyyy HH:mm:ss') as LastUpdate,
			Remarks = '',
			CASE ISNULL(a.OEETTStatus,'0') WHEN '1' THEN 'Active' ELSE 'Inactive' END as OEETTStatus
	FROM	M_OEE_TT_Future a
			LEFT JOIN M_Line_Order b on a.LineOrderCode = b.LineOrderCode
	WHERE	Periode = @Periode
END

