USE [RFIDP2P3_DB]
GO
/****** Object:  StoredProcedure [dbo].[sp_M_OEE_TT_Future_Upload]    Script Date: 17/03/2026 02:05:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==============================================
-- 2. SP Upload OEE TT Future (UPLOAD)
-- ==============================================
CREATE or ALTER PROCEDURE [dbo].[sp_M_OEE_TT_Future_Upload]
	@ExCore int,
	@Periode VARCHAR(7),
	@Line varchar(10),
	@OEE numeric(18,3),
	@CT numeric(18,2),
	@Status VARCHAR(1),
	@UserLogin varchar(50),
	@Remarks varchar(100) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY

        SET @Periode = TRIM(@Periode);
        SET @Line = TRIM(@Line);

		IF @ExCore IS NULL OR @ExCore = ''
		BEGIN
			INSERT INTO M_OEE_TT_Future
				(Periode, LineOrderCode, OEE, CT, UserUpdate, DateUpdate, OEETTStatus)
			VALUES
				(@Periode, @Line, @OEE, @CT, @UserLogin, GETDATE(), @Status)
		END
		ELSE
		BEGIN
			UPDATE	M_OEE_TT_Future
			SET		Periode = @Periode,
					LineOrderCode = @Line,
					OEE = @OEE,
					CT = @CT,
					OEETTStatus = @Status,
					UserUpdate = @UserLogin,
					DateUpdate = GETDATE()
			WHERE	ExCore = @ExCore

			IF @@ROWCOUNT = 0
            BEGIN
				SET @Remarks = 'Update Failed: ID ' + CAST(@ExCore AS VARCHAR) + ' was not found in the database.';
                RETURN;
            END
		END

        SET @Remarks = '';

    END TRY
    BEGIN CATCH
        SET @Remarks = ERROR_MESSAGE(); 
    END CATCH
END
