USE [RFIDP2P3_Anbunka1]
GO
/****** Object:  StoredProcedure [dbo].[sp_Inq_T_Calc_Produksi_PL]    Script Date: 14/06/2026 15:59:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:	MIT
-- Description:	[sp_Inq_T_Calc_Produksi_PL_Heijunka]
-- =============================================
CREATE PROCEDURE [dbo].[sp_Inq_T_Calc_Produksi_PL_Heijunka]
	@Periode_ID			nvarchar(8),
	@LineOrderCode		nvarchar(10),
	@UniqueNumber		nvarchar(10)
AS

BEGIN
	SET NOCOUNT ON
	
	SELECT	a.Periode_ID,
			a.Prod_Date,
			a.ID_PL,
			a.Shift_Code,
			a.LineOrderCode,
			a.CPLID,
			a.UniqueLineID,
			a.QtyPerUnit,
			a.CPLStatus,
			a.DepthID,
			a.Depth,
			a.NewDepth,
			a.Index_From,
			a.Index_To,
			a.Unique_No,
			a.Qty_PL,
			a.Total_Qty_PL,
			a.RatioGrade,
			d.SupplierName,
			c.JobNo,

			a.ID_Heijunka_From,
			a.ID_Heijunka_To
	FROM	T_Calc_Produksi_PL a
			JOIN M_ID_Part b on a.ExCore = b.ExCore
			JOIN M_Part_Order c on b.PartOrderID = c.PartOrderID
			JOIN M_Supplier d on c.SupplierCode = d.SupplierCode
	WHERE	Periode_ID = @Periode_ID
			and (LineOrderCode = @LineOrderCode or @LineOrderCode = '')
			and (a.Unique_No = @UniqueNumber or @UniqueNumber = '')
	ORDER BY	Prod_Date, Shift_Code, LineOrderCode, DepthID, Unique_No, a.ID_PL
END
